<% columnas=0 %>

<table width="1000" class="tabla_formato" CELLPADDING="10">
  <% taxones.each do |taxon| %>
      <%= '</tr>'.html_safe if columnas != 0 && columnas % 3 == 0 %>
      <%= '<tr>'.html_safe if columnas % 3 == 0 %>
      <td>
        <%= "#{check_box_tag("box_especie_#{taxon.id}", taxon.id)} [#{taxon.nombre_categoria_taxonomica}] #{link_to(taxon.nombre_cientifico, taxon)}".html_safe %>
      </td>
      <% columnas+=1 %>
  <% end %>
  <%= columnas % 3 != 0 ? "#{'<td></td>'*(3-(columnas % 3))}</tr></table>".html_safe : '</table>'.html_safe %>
</table>