
<%

%>


<%

%>

<div class="row text-center">
  <div class="col-md-4" style="border-right: #6c3630; border-width: 0 1px 0 0; border-style: dashed">
    <h5>Pie de imprenta:</h5>
    <p>México : Corredor Biológico Mesoamericano-México (CBMM) , 2013</div></p>
  <div class="col-md-4" style="border-right: #6c3630; border-width: 0 1px 0 0; border-style: dashed">
    <h5>Descripción:</h5>
    <p>39 páginas</p>
  </div>
  <div class="col-md-4">
    <h5>Materias:</h5>
    <i>Jaguar,
      Conservación,
      Conectividad ecológica,
      Monitoreo biológico,
      Chiapas,
      Selva Maya Zoque,
      Selva Lacandona</i>
  </div>
</div>


<br><br>
<i id="">* Proyecto financiado por la SEMARNAT y la CONABIO Contrato número: CBM-M/UTRCHyT/CONABIO/003/2010</i>
<ul class="list-inline social-buttons text-center">
  <li><a name="em_share" type="button" href="mailto:http://200.12.166.51/janium/Documentos/CBM2018/Nivel0/228.pdf" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a></li>
  <li><a name="tw_share" type="button" href="https://twitter.com/intent/tweet?url=http://www.conabio.gob.mx/institucion/cgi-bin/datos2.cgi?Letras=DQ&amp;Numero=2&#10;&amp;text=" target="_blank"><i class="twitter-1-ev-icon"></i></a></li>
  <li><a name="fb_share" type="button" href="https://www.facebook.com/sharer.php?u=http://www.conabio.gob.mx/institucion/cgi-bin/datos2.cgi?Letras=DQ&amp;Numero=2&#10;&amp;t=Bioteca de CONABIO" target="_blank"><i class="facebook-1-ev-icon"></i></a></li>
</ul>