<%
  # Si el estatus es OK
  if @status_detalle_ficha_janium == 'ok'
%>
  <div class="row text-justify">
<%
    if !@etiquetas.empty?
      @etiquetas.each do |etiqueta, valor|
%>
        <div class="col-md-12" style=" margin-bottom: 15px; border-color: white; border-width: 2px; border-style: solid">
          <h4><%= etiqueta %></h4>
            <%
              if valor.count > 1
                valor.each do |value|
            %>
                  <li><%= value %></li>
            <%
                end
              else
            %>
                <p><%= valor.last %></p>
            <%
              end
            %>
        </div>
<%
      end
    else
%>
      <h4>No existen datos para esta consulta</h4>
<%
    end
%>
    <div class="text-center">
      <h4>Compartir: </h4>
      <ul class="list-inline social-buttons text-center">
        <li><a name="em_share" type="button" href="mailto:http://200.12.166.51/janium/Documentos/CBM2018/Nivel0/228.pdf" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a></li>
        <li><a name="tw_share" type="button" href="https://twitter.com/intent/tweet?url=http://www.conabio.gob.mx/institucion/cgi-bin/datos2.cgi?Letras=DQ&amp;Numero=2&#10;&amp;text=" target="_blank"><i class="twitter-1-ev-icon"></i></a></li>
        <li><a name="fb_share" type="button" href="https://www.facebook.com/sharer.php?u=http://www.conabio.gob.mx/institucion/cgi-bin/datos2.cgi?Letras=DQ&amp;Numero=2&#10;&amp;t=Bioteca de CONABIO" target="_blank"><i class="facebook-1-ev-icon"></i></a></li>
      </ul>
    </div>
  </div>
<%
  else
%>
  <h4>No existen datos para esta consulta</h4>
<%
  end
%>