<%= javascript_include_tag "geodatos/geodatos_todos", "data-turbolinks-track" => true %>

<div id="main_container" class="container-fluid">

  <div class="row-fluid row_panel">
    <div id="map">
      <div class="link_shape">
        <button id="dShape" type="button" title="Descarga mapa (.shp)" class="btn btn-primary glyphicon glyphicon-download-alt" data-toggle="modal" data-target="#modalMailShape"></button>
      </div>
    </div>
  </div>

  <div class="row-fluid row_panel" id="tbl_hist"></div>

</div>