<% content_for(:extrajs) do %>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" data-turbolinks-track="true"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" data-turbolinks-track="true"></script>

    <script src="http://d3js.org/d3.v3.min.js" data-turbolinks-track="true"></script>
    <script src="http://d3js.org/colorbrewer.v1.min.js" data-turbolinks-track="true"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js" data-turbolinks-track="true"></script>

    <script src="http://www.amcharts.com/lib/3/amcharts.js" data-turbolinks-track="true"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js" data-turbolinks-track="true"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js" data-turbolinks-track="true"></script>

    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" data-turbolinks-track="true"></script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js" data-turbolinks-track="true"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js" data-turbolinks-track="true"></script>
<% end %>

<% content_for(:extracss) do %>
    <!--link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'-->
    <!--link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'-->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />

    <%= stylesheet_link_tag "geodatos/geodatos_todos", "data-turbolinks-track" => true %>
<% end %>

<%= javascript_include_tag "geodatos/geodatos_todos", "data-turbolinks-track" => true %>


<div id="map">
  <div class="link_shape">
    <button id="dShape" type="button" title="Descarga mapa (.shp)" class="btn btn-primary glyphicon glyphicon-download-alt" data-toggle="modal" data-target="#modalMailShape"></button>
  </div>
</div>
<div class="row-fluid row_panel" id="tbl_hist"></div>

<script>
    $('#map').css('height', $('#contenedor_mapa').height() - 30);
    $(document).ready(function() {
        $(window).resize(function () {
            $('#map').css('height', $('#contenedor_mapa').height() - 30);
        });
        $('#geodata_e_imagen_li > a').click(function () {
            $('#map').css('height', $('#contenedor_mapa').height() - 30);
        });
    });
</script>
