<% content_for(:extrajs) do %>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js" data-turbolinks-track="true"></script>
<% end %>

<% content_for(:extracss) do %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />

    <%= stylesheet_link_tag "geodatos/geodatos_todos", "data-turbolinks-track" => true %>
<% end %>

<%= javascript_include_tag "geodatos/geodatos_todos", "data-turbolinks-track" => true %>


<div id="map">
  <!--div class="link_shape">
    <button id="dShape" type="button" title="Descarga mapa (.shp)" class="btn btn-primary glyphicon glyphicon-download-alt" data-toggle="modal" data-target="#modalMailShape"></button>
  </div-->
</div>
<!--div class="row-fluid row_panel" id="tbl_hist"></div-->

<script>
    $('#map').css('height', $('#contenedor_mapa').height() - 30);
    $(document).ready(function() {
        $(window).resize(function () {
            $('#map').css('height', $('#contenedor_mapa').height() - 30);
            map.invalidateSize(true);
        });
        $('#geodata_e_imagen_li > a').click(function () {
            $('#map').css('height', $('#contenedor_mapa').height() - 30);
            map.invalidateSize(true);
        });
    });
</script>
