<div class="row">
  <div class="col-12">

    <!--div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left text-center" style="z-index: 1001;">
      <h6 class="dropdown-header">CONABIO - Banco de imágenes</h6>
      <a class="nav-link" href="#fotos-bdi" aria-controls="fotos-bdi" role="tab" data-toggle="pill">
        Fotos
      </a-->
      <!--a href="#videos-bdi" aria-controls="videos-bdi" role="tab" data-toggle="tab"> Activar hasta nuevo aviso
        <i class='glyphicon glyphicon-film' aria-hidden='true'></i>
      </a-->
      <!--h6 class="dropdown-header">Biblioteca MacCaulay</h6>
      <a class="nav-link hasParams" data-params="media-cornell?type=photo" href="#mediaCornell_p" aria-controls="mediaCornell_p" role="tab" data-toggle="tab">Fotos</a>
      <a class="nav-link hasParams" data-params="media-cornell?type=video" href="#mediaCornell_v" aria-controls="mediaCornell_v" role="tab" data-toggle="tab">Videos</a>
      <a class="nav-link hasParams" data-params="media-cornell?type=audio" href="#mediaCornell_a" aria-controls="mediaCornell_a" role="tab" data-toggle="tab">Audios</a>

      <h6 class="dropdown-header">Biblioteca Tropicos (Plantas)</h6>
      <a class="nav-link" href="#media_tropicos" aria-controls="media_tropicos" role="tab" data-toggle="tab">Fotos</a>
    </div-->


    <div class="tab-pane w-100 p-2 border border-primary" id="bdi_p" role="tabpanel" aria-labelledby="bdi_p-tab">
      <p>Cargando... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <div class="tab-pane w-100 p-2 border border-primary" id="bdi_v" role="tabpanel" aria-labelledby="bdi_p-tab">
      <p>Cargando... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <div class="tab-pane w-100 p-2 border border-primary" id="mediaCornell_p" role="tabpanel" aria-labelledby="mediaCornell_p-tab" data-page="1">
      <p>Cargando las fotos ... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>
    <div class="tab-pane w-100 p-2 border border-primary" id="mediaCornell_v" role="tabpanel" aria-labelledby="mediaCornell_v-tab" data-page="1">
      <p>Cargando... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>
    <div  class="tab-pane w-100 p-2 border border-primary"id="mediaCornell_a" role="tabpanel" aria-labelledby="mediaCornell_a-tab" data-page="1">
      <p>Cargando... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <div class="tab-pane w-100 p-2 border border-primary" id="mediaTropicos" role="tabpanel" aria-labelledby="mediaTropicos-tab" data-page="1">
      <p>Cargando... por favor, espera</p>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

  </div>
</div>
<%= javascript_include_tag 'especies/media/multimedia', 'data-turbolinks-track' => true %>