<div class="modal fade" id="modal_clasificacion_completa" tabindex="-1" role="dialog" aria-labelledby="modal_clasificacion_completa_label">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="font-weight-bold modal-title text-center" id="modal_clasificacion_completa_label">
          Clasificación completa del taxón...
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="h1 font-weight-bold" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= cargandoEspera %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal">Salir</button>
      </div>

    </div>
  </div>
</div>