<% columnas=0 %>

<table width="1000" class="tabla_formato" CELLPADDING="10" border="1">

  <% taxones.each do |taxon| %>
      <%= '</tr>'.html_safe if columnas != 0 && columnas % 2 == 0 %>
      <%= '<tr>'.html_safe if columnas % 2 == 0 %>
      <td>
        <%= "#{check_box_tag("box_especie_#{taxon.id}", taxon.id)} #{taxon.nombre_categoria_taxonomica} #{Especie::ESTATUS_SIMBOLO[taxon.estatus]} #{link_to(taxon.nombre_cientifico, taxon)} (#{taxon.nombre_comun})".html_safe %>
      </td>
      <% columnas+=1 %>
  <% end %>
  <%= columnas % 2 != 0 ? "#{'<td></td>'*(2-(columnas % 2))}</tr>".html_safe : '</tr>'.html_safe %>

</table>
