<% content_for(:title) do %>
    <%= @titulo = 'Explora por clasificación' %>
<% end %>

<h3><%= @titulo %></h3>

<p><b>Puedes navegar dando clic en <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> para expandir</b></p>
<div id='vista_arbol'>
  <%= arbolTaxonomico(@especie).html_safe %>
</div>
