<p>Una línea por cada nombre científico o sube un archivo .csv con los mismos requisitos</p>
<%= form_tag resultados_por_lote_especies_url, :multipart => true, :method => :post do %>
    <%= text_area_tag :lote, nil, :size => '50x10' %>
    <%= file_field_tag 'batch' %>
    <%= submit_tag :Envia %>
<% end %>
