<p>Una l&iacute;nea por cada nombre cient&iacute;fico o sube un archivo .csv con los mismos requisitos</p>
<%= form_tag resultados_por_lote_especies_url, :method => :post do %>
    <%= text_area_tag :lote, nil, :size => '50x10' %>
    <%= submit_tag :Envia %>
<% end %>
