<% if @comentarios.any? %>
    <%- @comentarios.each do |comentario| -%>
          <%= render 'comentarios/historial', c: comentario %>

          <% if comentario.cuantos == 0 %>
              Aún no hay respuesta a este comentario
          <% end %>
    <% end %>

<% else %>
    Aun no hay comentarios acerca de <strong><%= @especie.nombre_cientifico %></strong>, contribuye con un
    <%= link_to("comentario, sugerencia o corrección <span class='glyphicon glyphicon-comment'></span>".html_safe, new_especie_comentario_path(@especie)) %>
<% end %>