<% if @comentarios.any? %>
    <%- @comentarios.each do |comentario| -%>
        <%= render 'comentarios/historial', c: comentario, ficha: true %>

        <% if comentario.cuantos == 0 %>
            Aún no hay respuesta a este comentario
        <% end %>

        <div id="historial_<%= comentario.id %>"></div>
    <% end %>

<% else %>
    Aun no hay comentarios acerca de <strong><%= @especie.nombre_cientifico %></strong>, contribuye con un
    <%= link_to("comentario, sugerencia o corrección <span class='glyphicon glyphicon-comment'></span>".html_safe, new_especie_comentario_path(@especie)) %>
<% end %>