<%# regNomBib=dameRegionesNombresBibliografia(@especie) %>

<table>
  <tr>
    <td width="40%" valign="top">
      <fieldset>
        <legend class="leyenda">Información del taxón</legend>

        <p>
          <strong>Estatus taxonómico:</strong>
          <%= Especie::ESTATUS_SIGNIFICADO[@especie.estatus] %>
        </p>

        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sinónimos', tab_catalogos: true}).html_safe %>
        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Homónimos', tab_catalogos: true}).html_safe %>
        <%= dameCaracteristica(@especie) %>


  </tr>
</table>