<%# regNomBib=dameRegionesNombresBibliografia(@especie) %>

<table>
  <tr>
    <td width="40%" valign="top">
      <fieldset>
        <legend class="leyenda">Informaci贸n del tax贸n</legend>

        <%= dameEstatus(@especie) %>
        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sin贸nimos', tab_catalogos: true}) %>
        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Hom贸nimos', tab_catalogos: true}) %>
        <%= dameCaracteristica(@especie) %>


  </tr>
</table>