<% @array.each_with_index do |item, index|  %>
  <div class="result-img-container">
    <a href="<%= item['specimenUrl'] %>" target="_blank">
      <img class="img-responsive" src="<%= item['mediaUrl'].html_safe %>" alt="<%= item['commonName']%>"/>
    </a>
  </div>
<% end %>