<div id="especies-destacadas" class="row">
  <% @fotos.each_with_index do |f, i|%>
    <%-
      next unless f.square_url.present?
      img_square = f.square_url
      img_normal = f.large_url || f.best_photo
      next unless img_normal.present?
    -%>
    <div class="col <%= 'col-6' if i == 0  %>" style="background-image: url('<%= img_normal %>');">
      <a class="btn btn-title" href="<%= f.native_page_url %>" title="<%= f.attribution_txt %>"></a>
    </div>
  <% end %>

</div>
