<div id="especies-destacadas">
  <div class="d-flex" style="overflow: hidden; height: 251px;">
    <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-angle-double-left"></i></button>
    <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-angle-double-right"></i></button>
    <% @fotos.each do |f|%>
      <%-
        next unless f.square_url.present?
        img_square = f.square_url
        img_normal = f.large_url || f.best_photo
        next unless img_normal.present?
      -%>

      <a class="btn-title" href="<%= f.native_page_url %>" title="<%= f.attribution_txt %>">
        <img src="<%= img_normal %>"  alt="<%= f.attribution_txt %>">
      </a>
    <% end %>
  </div>
</div>
