<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>
<div class="panel panel-success" style="margin-top: -9px">
  <div class="panel-body">
    <img src="/assets/app/imgPortada.png" class="img-responsive" style="width: 78%;">
    <p>Bios integra información de especies que viven en México, como nombres científicos, nombres comunes,
      descripciones, biología, ecología, usos, categorías de riesgo de extinción (Norma-059-Semarnat-2010)
      e internacional (IUCN), comercio internacional (CITES), registros de distribución geográfica e imágenes.
    <p>El contenido e imágenes provienen de CONABIO y de otras fuentes (Enciclopedia de la Vida (EOL),
      NaturaLista, Wikipedia, Flicker). </p>
      <% if I18n.locale.to_s == 'es-cientifico' %>
        <legend>Arreglo Taxonómico</legend>
    <% else %>
        <legend>Clasificación</legend>
    <% end %>
    <%= render :partial => 'arbol' %>
  </div>
</div>
