<h1>Busca y administra las especies</h1>

<table id="especies" class="display" data-source="<%= especies_url(format: "json") %>">

  <thead>
  <tr>
    <th><%= check_box_tag("box_especie", "todos") %></th>
    <th>ID</th>
    <th>Nombre</th>
    <th>Categoria taxonómica</th>
    <th>Ascendente directo</th>
    <th>Ascendente obligatorio</th>
    <th>Estatus</th>
    <th>Regiones, nombres comunes y bibliografias</th>
    <th></th>
    <th></th>
    <th>Fuente</th>
    <th>Nombre autoridad</th>
    <th>Número filogenético</th>
    <th>Cita nomenclatural</th>
    <th>Sistema de clasificación del catalogo</th>
    <th>Anotación</th>
    <th>Fecha de captura</th>
    <th>Fecha de modificación</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  </tbody>

  <tfoot>
  <tr>
    <th></th>
    <th><input type="text" id="id_especie"></input></th>
    <th><input type="text" id="nombre"></input></th>
    <th><%= select("especies", "categoria_taxonomica_id", CategoriaTaxonomica.order('nombre_categoria_taxonomica ASC').load.collect {|r| [ r.nombre_categoria_taxonomica.humanize, r.id ] },
                   { :include_blank => 'Todas' }) %></th>
    <th></th>
    <th></th>
    <th><select id="estatus">
      <option value="">Todos</option>
      <option value="2">Activo</option>
      <option value="1">Inactivo</option>
    </select></th>
    <th></th>
    <th></th>
    <th></th>
    <th><input type="text" id="fuente"></th>
    <th><input type="text" id="nombre_autoridad"></th>
    <th><input type="text" id="numero_filogenetico"></th>
    <th><input type="text" id="cita_nomenclatural"></th>
    <th><input type="text" id="sistema_de_clasificacion"></th>
    <th><input type="text" id="anotacion"></th>
    <th><input type="date" id="created_at"></th>
    <th><input type="date" id="updated_at"></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>
</table>

<br>

<%= link_to 'Nueva especie', new_especy_path %>
