<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>
<div class="panel panel-success" style="margin-top: -10px">
    <div class="panel-body">
      <img src="/assets/app/imgPortada.png" class="img-responsive">
            <p>Las especies se reúnen en géneros, los géneros en familias, las familias en órdenes, los órdenes en clases, y las clases en divisiones para las plantas y en phyla para los animales. Las divisiones se agrupan en reinos y los reinos en dominios.</p>
        <legend>Arreglo taxonómico</legend>
        <%= render :partial => 'arbol' %>
    </div>
</div>
