
<% if @array[0]["Error"].present? %>

  <div class='result-img-container'>
    <strong><%= @array[0]["Error"] %></strong>
  </div>

<% else %>

  <div id="gallery">
    <% @array.each do |item|  %>

      <div class="result-img-container">
        <%= imprime_img_tropicos(item) %>
      </div>

    <% end %>
  </div>

<% end %>

<br>


<%= javascript_include_tag 'especies/media/multimedia', 'data-turbolinks-track' => true %>

