
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 media-supplier">
  <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
    <i class ='cornell_lab-ev-icon'></i>
    <i class ='cornell_lab_colors-ev-icon'></i>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12">
    <i class ='macaulay_library-ev-icon'></i>
  </div>

</div>

<br>
Hola Servicio Trópicos:

--
<br>
<%= @name_id %>


--
<br>

<%= @array %>