<% content_for(:title) do %>
    <%= @titulo="Nuevo tax&oacute;n descendiente de :<br><br>#{tituloNombreCientifico(@parent)}".html_safe %>
<% end %>

<div class="titulo">
  <p><%= enlacesDeTaxonomia(@parent, true) if @parent %></p>
  <h1><%= @titulo %></h1>
</div>

<%= render :form %>

