<% if @nombres_comunes.present? && @nombres_comunes.any? %>
  <% @nombres_comunes.each_with_index do |hash_nombres, i| %>
    <% lengua = hash_nombres.keys.first %>
    <% if i == 0 %>
      <b><%= lengua %>: </b>
      <small><%= hash_nombres[lengua].sort.join(', ') %></small>
      <button class="btn p-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-plus-square"></i>
      </button>...
      <div class="collapse position-absolute" id="collapseExample" style="z-index: 1002;">
        <div class="card card-body overflow-auto" style="max-height: 200px;">
          <dl class="row">
    <% else %>
      <dt class="col-sm-3">
        <b><%= lengua %>: </b>
      </dt>
      <dd class="col-sm-9">
        <small><%= hash_nombres[lengua].sort.join(', ') %></small>
      </dd>
    <% end %>

  <% end %>
  </dl>
  </div>
  </div>

<% end %>


