<% if @nombres_comunes.present? && @nombres_comunes.any? %>
    <%
       @nombres_comunes.each do |hash_nombres|
       lengua = hash_nombres.keys.first
    %>
        <span><%= hash_nombres[lengua].sort.join(', ') %> <sub><i><%= lengua %></i></sub>;</span>
    <% end %>
<% end %>
