<div class="jumbotron">
  <h1>¡Lo sentimos!</h1>
  <p>
    El taxón que deseas ver por el momento se encuentra en mantenimiento, si deseas más información al respecto dejanos un <%= link_to("comentario, sugerencia o corrección <span class='glyphicon glyphicon-comment'></span>".html_safe, new_especie_comentario_path(@especie)) %>
  </p>
</div>