<div class="jumbotron">
  <h1>¡Lo sentimos!</h1>
  <p>
    El taxón que deseas ver por el momento se encuentra en revisión, si deseas más información al respecto déjanos un <%= dejaComentario %>
  </p>
</div>
