<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 media-supplier">
  <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
    <i class ='cornell_lab-ev-icon'></i>
    <i class ='cornell_lab_colors-ev-icon'></i>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12">
    <i class ='macaulay_library-ev-icon'></i>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-12 col-lg-12">
    <span class='glyphicon glyphicon-film' aria-hidden='true'></span>
  </div>
</div>

<% @array.each_with_index do |item, index|  %>
  <div class="result-img-container">
    <%= link_to("<img src='#{item['mlBaseDownloadUrl']}#{item['assetId']}/thumb' />".html_safe, '', "data-toggle" => "modal", "data-target" => "#modal_reproduce", :class => "btn btn-link btn-title modal-buttons", "data-title"=> item['citationUrl'], "data-url" => "#{item['mlBaseDownloadUrl']}/#{item['assetId']}/video", "data-type" => 'video', "data-author" => item['userDisplayName'], "data-date" => item['obsDtDisplay'], "data-country" => item['countryName'], "data-location" => item['locality']) %>
  </div>
<% end %>
