<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 media-supplier">
  <div class="col-xs-6 col-sm-5 col-md-8 col-lg-12 text-left">
    <i class ='conabio_completo-ev-icon'></i>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-8 col-lg-12 text-left">
    <i class ='bdi-ev-icon'></i>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-md-offset-2 col-lg-3 col-lg-offset-9">
    <span class='glyphicon glyphicon-film' aria-hidden='true'></span>
  </div>
</div>

<%=
  #imprime_video_bdi(item, type)
%>