<div class='nested-fields'>
  <%= f.input :descripcion %>
  <%= f.input :descripcion,
              collection: Fichas::Suelo.all.map { |r| [r.descripcion, r.sueloId] },
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  multiple: true,
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opciones')
              }
  %>
  <%= link_to_remove_association 'Borrar asociación', f, :class => 'btn btn-danger btn-sm' %>
</div>
