<h1>Editar Propiedad</h1>

<%= render 'form' %>

<div class="text-right">
<%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, @propiedad, method: :delete, data: { confirm: '¿Estás seguro de querer destruir est< propiedad? Al hacerlo se eliminarán propiedades que sean hijas de esta' } %>
</div>