<div class='nested-fields'>
  <% if especie = f.object.especie %>
    <% nombre_cientifico = especie.nombre_cientifico %>
    <%= f.input :nombre_cientifico, input_html: { value: nombre_cientifico } %>
  <% else %>
    <%= f.input :nombre_cientifico %>
  <% end %>

  <%= f.input :especie_id, as: :hidden, required: true %>
  <%= link_to_remove_association 'Desvincula especie', f %>
</div>

