<div class="col-12">

  <div class="justify-content-end row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Acciones
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%#= link_to('Más detalles', admin_catalogo_path(@admin_catalogo), class: 'dropdown-item') %>
        <%= link_to('Lista de usos', admin_catalogos_path, class: 'dropdown-item') %>
        <%= link_to('Eliminar', admin_catalogo_path(@admin_catalogo), class: 'dropdown-item', method: :delete, data: { confirm: '¿Estas seguro?' }) %>
      </div>
    </div>
  </div>

  <%= render 'form' %>
</div>