<p id="notice"><%= notice %></p>

<% @admin_catalogo.especies.order(:nombre_cientifico).each do |especie| %>
  <p><%= especie.nombre_cientifico %></p>
<% end %>

<%= link_to 'Edit', edit_admin_catalogo_path(@admin_catalogo) %> |
<%= link_to 'Back', admin_catalogos_path %>


