<div class="form-group">
  <label for="archivo">Archivo</label>
  <%= file_field_tag :archivo, class: 'btn btn-default btn-file form-control' %>
  <small class="text-muted"><%= archivo_label.html_safe %></small>
</div>

<% if !usuario_signed_in? %>
    <div class="form-group">
      <label for="correo">Correo</label>
      <%= text_field_tag :correo, nil, placeholder: 'tu correo', class: 'form-control' %>
      <small class="text-muted">Solo es necesario si subes un archivo; para enviar la validación cuando termine</small>
    </div>
<% end %>

<hr />
<%= submit_tag :Envia, class: 'btn btn-success pull-right', 'data-disable-with' => 'Procesando ...' %>