<p>Sube un archivo excel (.xlsx) con las siguientes especificaciones: </p>

<%= form_tag validaciones_resultados_taxon_excel_path, :multipart => true, :method => :post do %>
    <%= file_field_tag 'excel' %>
    <%= submit_tag :Envia %>
<% end %>