<p>La validación fue enviada correctamente, cuando termine el proceso se te enviará a tu
correo el excel validado por CONABIO.</p>
Por favor se paciente este proceso puede tardar
dependiendo del número de taxones.

<p>
    <strong>NOTA: </strong> el archivo solo durará 7 días en nuestro servidor
</p>