<section class="container-fluid">
  <div class="row">
    <article class="col-md-3 col-md-offset-1 text-left">
      <a class="name" href="https://www.gob.mx/conabio/" target="_blank"><img title="" alt="Comisión Nacional para el Conocimiento y Uso de la Biodiversidad" class="main-logo" src="https://www.biodiversidad.gob.mx/assets/images/logob_gobmx.png"/></a>
    </article>
    <article class="col-md-3 col-md-offset-4 text-right">
      <a class="name" href="https://www.biodiversidad.gob.mx/" target="_blank"><img title="" alt="Biodiversidad Mexicana" class="main-logo" src="https://www.biodiversidad.gob.mx/assets/images/logo.png"/></a>
    </article>
  </div>
</section>

