<div class="container-fluid">
    <div class="col-md-12 text-center text-info" >
      <p>
        Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, Del. Tlalpan, C.P. 14010, México, CDMX | Tel. (55) 5004-5000 <br />
        Comentarios y sugerencias generales a:
        <%= correo_enciclovida(true)%>
        | Plano de ubicación CONABIO con
        <a href="http://www.biodiversidad.gob.mx/menusup/mapa_conabio.php" target=_blank class="text-info">Google maps</a> y
        <a href="http://www.biodiversidad.gob.mx/menusup/mapa_conabio.pdf" target="_blank" class="text-info"><i class="file-pdf-ev-icon"></i></a>
      </p>
    </div>
  </div>
