<button onclick="topFunction()" id="upBtn" title="Ir hasta arriba" class="btn btn-warning">Ir arriba <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></button>

<section class="inner-section footer-bottom">

  <section class="container">
    <div class="row">
      <article class="col-md-6 text-left text-warning">
        <p>
          Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, Del. Tlalpan, C.P. 14010, México, CDMX | Tel. (55) 5004-5000 <br />
          <a href="https://goo.gl/maps/ierowdiMoNetqtMq8" target=_blank class="btn-link">Google maps</a>
        </p>
      </article>
      <article class="col-md-6 text-right">
        <div class="credits">
          <p>Copyright © <%= DateTime.now.strftime('%Y') %> CONABIO.</p>
        </div>
      </article>
    </div>
  </section>
</section>