/**
Los estilos del cluster group, inclui este porque es personalizado
 */
.div-cluster-snib, .div-cluster-naturalista {
    background-clip: padding-box;
    border-radius: 30%;
}

.div-cluster-snib div, .div-cluster-naturalista div {
    width: 34px;
    height: 34px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    border-radius: 30%;
    font-size: 1.25rem;
    font-weight: bolder;
}

.div-cluster-snib span, .div-cluster-naturalista span {
    line-height: 30px;
}