/**
El estilo de las observaciones
**/
.div-icon-naturalista {
    color: #529214;
    font-size: 1.8em;
}

/**
El estilo del contorno del circulo
**/
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large{
    background-color: #d8b2b2;
    opacity: 1!important;
}
/**
El estilo del circulo
**/
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div{
    background-color: #800000;
}
/**
El estilo del numero dentro del circulo
**/
.marker-cluster-small div span, .marker-cluster-medium div span, .marker-cluster-large div span{
    color: white;
}