body{
  background: #FFFDF1;
}

.container-fluid{

  width: 98%;
  height: 100%;
  margin: auto;
  padding: 0;
  /*border-style: solid;*/

  /*border-style: double;*/
}

#main-header {
  background: #333;
  color: white;
  height: 50px;

  text-align: left;

  width: 100%;
  left: 0;
  top: 0;
  position: fixed;


  z-index: 20000;
  opacity: .9;
}

#main-header a {
  color: white;
}

.site-name {
  display: block;
  font-weight: 500;
  font-size: 1.3em;

  margin-top: 6;
  margin-left: 20;

}

.site-desc {
  display: block;
  font-weight: 300;
  font-size: 1.1em;
  color: #999;

  /*margin-top: 5;*/
  margin-left: 20;
}

.row_panel{

  width: 100%;
  height: 95%;
  margin-right: 5;
  margin-left: 5;
  padding-top: 30px;
  margin-bottom: 10;
  /*vertical-align: middle;*/
  /*border-style: double;
  border-color: #00ff00;*/
}


/*#tbl_hist{
  margin-top: 20px;
  border-style: solid;
}*/


.sidebar-pane{
  width: 33%;
  margin-right: 2;
  margin-left: 2;
  float: left;
}

#map{
  width: 99%;
  /*margin: 5;*/
  border-style: solid;
  border-radius: 5px;
  border-color: #3B6A93;
  margin-bottom: 5;
  /*border-color: */
}

#region{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  /*background: #CCC;*/

}

.link_nicho {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
  z-index: 1000;
}

#get_esc_ep{
  position: absolute;
  bottom: 15;
  right: 20;
  height: 40px;
  /* margin-bottom: 25px;
  margin-right: 30px;*/
}

.link_shape {
  position: absolute;
  bottom: 20;
  right: 10;
  margin-top: 10px;
  /*display: none;*/
  z-index: 1000;
}

.res_validation {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 1000;
  width: 200px;
  height: 100px;
  background-color: #3B6A93;
  border-radius: 5px;
}

.tableValidation{
  width: 100%;
  /*border-color: #3B6A93;
  border-radius: 5px;
  border-style: solid;*/
  /*padding: 5px;*/
  margin-left: 20px;
}

.rowValidation{
  width: 100%;
  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 5px;*/
  /*padding: 5px;*/
  margin-left: 20px;
}



.leaflet-control-command-interior
{
  /*background-image: url(../images/command.png);*/
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  text-align: center;
  background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
  background-color: #F4F4F4;
}


.glyphicon {
  font-size: 18px;
  margin-left: 0.10em;
  margin-top: 0.70em;
}

/*.caret{
  margin-top: 1em;
  transform: rotate(7deg) !important;
}*/

.nav-element{
  height: 90% !important;
  margin-top: 5px !important;
  width: 100% !important;
}

.sp_delete{
  position: relative;
  top: 50%;
  text-align: center;
  /*transform: translateY(-50%);*/
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  /*background: #3B9A58;*/
  background: #2DC95B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2DC95B, #2DC95B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2DC95B, #3B9A58); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2DC95B, #3B9A58); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2DC95B, #3B9A58); /* Standard syntax */
  color: #ffffff;
  /*border-width: 1px;*/
  border-radius: 5px;
  /*border-style: solid;*/
  /*border-color: #318B4C;*/
}

/*classes used in taxon selection*/
/*.panel-row-especie{
  padding-bottom: 1em !important;
  height: 28%;
}
.panel-row-taxon{
  padding-bottom: .5em !important;
  height: 68%;
}
.myScrollableBlockInput{
  padding: 10px 10px;
  overflow: auto;
  border-radius: 10px;
  height: 70%;
}*/


/*classes used in map selection*/
/*.panel-row-seleccion{
  height: 95%;
}*/

.item_panel_region{
  height: 75%;
}

.panel-region{
  margin-bottom: .2em !important;
}

.bs-example{
  height: 100%;
}


.checkValidation{
  width: 100%;
}



.checkbox_item{
  width: 15px;
  height: 15px;
  margin-left: 20px !important;
  float: left;
  zoom: 1.5;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .checkbox_item{
    width: 15px;
    height: 15px;
    margin-left: 20px !important;
    margin-top: 7px !important;
    float: left;
    zoom: 1.5;
  }
}


.slider_item{
  margin-top: 8px;
  margin-left: 10px;
  width: 70%;
  float: left;
}

.label_item{
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}


.buttonContainer{

  /*text-align: right;
  border-style: solid;*/
  width: 100%;
  height: 10%;
  margin: auto;

}

.myScrollableBlockConstrian{
  padding: 5px 5px;
  margin-top: 15px !important;
  overflow: auto;
  height:80%;
  width: 100%;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
}


.myScrollableBlockConstrianParams{
  padding: 5px 5px;
  margin: auto;
  overflow: auto;
  height:70%;
  width: 95%;
  border-style: dashed;
  /*border-color: #3B6A93;*/
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;

  pointer-events: none;
  opacity: 0.5;
}




.myScrollableBlock{
  padding: 5px 5px;
  overflow: auto;
  height:45%;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
}

.myScrollableBlockPopup{
  padding: 5px 5px;
  overflow: auto;
  height:300px;
  /*width: 300px;*/
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
}


.progress-bar-item{
  height: 12px;
  margin: .1em;
}


/*classes used in variable selection*/
/*#panel-variable{
  height: 70%;
}*/

#exTab2{
  width: 100%;
  /*margin-left: .1em !important;*/
  padding-left: .1em !important;
  padding-right: .1em !important;

}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.variables-container{
  height: 80%;
}

#treeSelectedPanel{
  display: none;
}


.row3{
  height: 90% !important;
  width: 100% !important;
  margin-top: .5em;
  margin-left: .2em;
  margin-right: .2em;
}

.myScrollableBlockVariableAdded{
  overflow: auto;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
  float: left;
  clear: none;

  width: 35%;
  height: 100% !important;
  transition: width 2s ease;
}

.myScrollableBlockVariable{
  overflow: auto;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
  float: left;
  clear: none;

  width: 1%;
  height: 100% !important;
  transition: width 2s ease;
}

.myScrollableBlockVar{
  overflow: auto;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
  text-align: left;
  float: left;
  clear: none;

  width: 62%;
  height: 100% !important;
  transition: width 2s ease;
}

.chart_div_container{
  height: 80% !important;
  width: 100%;
}

.epsilon-container{
  height: 70%;
}



/*.rowTableHistContainer{
  width: 100%;
  border-style: solid;
  text-align: center;
}

.histcontainer{
  width: 100%;
  border-style: solid;
}*/


.myScrollableBlockEpsilonSmallHist{
  /*overflow: auto; */
  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;*/
  /*text-align: left;*/
  margin-top: -30px;
  float: left;
  clear: none;
  width: 33%;
  height: 40% !important;
  /*padding: 5px;*/
  /*margin: auto;*/
}

.myScrollableBlockEpsilonDecil{
  /*overflow: auto; */
  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;*/
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
  float: left;
  clear: none;
  width: 98%;
  height: 40% !important;
  padding: 5px;
  /*margin: auto;*/
}

/*.myScrollableBlockEpsilon.table_resume{
  height: 50% !important;
}*/

table{
  font-size: 13px;
}

.myScrollableBlockEpsilonTable{
  /*overflow: auto; */
  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;*/
  text-align: left;
  float: left;
  clear: none;
  width: 98%;
  /*height: 90% !important;*/
}

.myScrollableBlockDecilList{
  /*overflow: auto; */
  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;*/
  text-align: left;
  float: left;
  clear: none;
  width: 98%;
  /*height: 65% !important;*/
}

#chartdiv_epsilon {
  height    : 100%;
  font-size : 11px;
}

#chartdiv_score {
  width     : 100% !important;
  height    : 100%;
  font-size : 11px;
  margin-left: 20px;
}

#chartdiv_score_celda {
  height    : 100%;
  font-size : 11px;
}

#chartdiv_score_decil{
  width     : 100% !important;
  height    : 100%;
  font-size : 11px;
}



/*#tdisplay, #tdisplay_tbody{
  width: 80% !important;
  margin: auto;
}*/

.myScrollableBlockButton{
  /*overflow: auto; */
  /*position: relative;*/

  /*border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;*/
  text-align: left;
  padding-right: 20px;
  margin-top: -10px;
  float: left;
  clear: none;
  /*margin-bottom: 30px;*/

  width: 100%;
  height: 10%;

}



.emial_component{

  padding-right: 300px;

}

.custom_form_control{
  width: 100%;
  height: 33px;
}

.resizeFullVariable{
  width: 60% !important;
}

.resizeSmallVariable{
  width: 20% !important;
}


.nav-variables ul{
  float: right !important;
}

.nav-variables li{
  float: left !important;
}


#panel-results{
  height: 80%;
  width: 100%;
}

.myScrollableBlockResults{
  overflow: auto;
  border-style: solid;
  border-color: #3B6A93;
  border-radius: 10px;
  text-align: left;

  width: 97%; /*no funciona margin-right*/
  height: 80% !important;
  margin-left: .5em !important;
}

.result_label{
  margin-left: .5em;
  margin-right: .5em;
}

.result_container{

}

.loading_data{
  width: 0%;
}


.input-group{
  margin-top: 1em;
  width: 100% !important;
  /*border-style: double;
  border-color: #42732C;*/
}

/*.input-group-addon{
	width: 90px !important;
	text-align: left;
}*/

/*h5, #obtiene_ecoregiones, #obtiene_estados{
  width: 50%;
  border-style: double;
  border-color: #42732C;
}*/

.region_div{
  /*height: 30px !important;*/
  width: 100% !important;
  /*border-style: double;
  border-color: #42732C;*/
  /*display: inline;*/
  /*float: left;*/
}

h3{
  /*margin-top: .1em !important;*/
  padding-top: .1em !important;
  padding-bottom: .1em !important;
}

/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
}

p, div {
    font-family: 'Poiret One', cursive;
}*/



.panel-color{
  color: #42732C !important;
  margin-bottom: .2em !important;
  padding-right: .5em !important;
  text-align: right;
  font-size: 20px;
  height: 38px;
}

.text-input{

  /*margin-bottom: .3em !important;
  margin-top: .3em !important;*/
  /*display: inline-flex;*/
  width: 100%;
}

.nopadding {
  /*padding: .1em !important;*/
  padding-left: .1em !important;
  padding-right: .1em !important;
  padding-top: .1em !important;
  padding-bottom: .4em !important;
  margin: .1em !important;
}

.radio{
  padding-left: 10%;
}

#btn-group{
  margin-top: 1em;
  width: 100%;
  text-align: center;

}

.mymodals {
  top:30%;
  left:35%;
  outline: none;
}

.resizeFull{
  width: 99%;
  height: 95%;
}

.resizeSmall {
  height: 95%;
  width: 0px;
}

li.jstree-node{
  margin-left: 75px !important;
}

#root, #Ecoregiones li, #Ecoregiones, #Estados li, #Estados, #jstree-variables-bioclim li{
  margin-left: .2em !important;
  margin-top: .1em !important;
}

/*#Animalia{
  margin-left: .0em !important;
  margin-top: 1em !important;
}

#Fungi, #Plantae, #Prokaryotae, #Protoctista{
 margin-left: .0em !important;
}*/

.taxones{
  margin-top: 1em !important;
  margin-bottom: -1em;
}

.tab-pane{
  height: 90%;
}


.li_variable{
  /*margin-bottom: -.2em;
  padding-bottom: -.2em;*/
  vertical-align: middle;
}

.dropdown_container{
  width: 100%;
  /*border-style: solid;*/
  /*text-align: center;*/
}

.dropdown_group{
  /*margin-left: 5px;*/
  /*border-style: solid;*/
  width: 100% !important;
}

.dropdown_bio{
  width: 65%;
  /*border-style: solid;*/
}

.dropdown_time{
  width: 35% !important;
  /*border-style: solid;*/
}

#btn_variable_bioclim{
  width: 100% !important;;
}

#btn_variable_bioclim_time{
  width: 100% !important;
}

.nav-variables{
  font-size: 11px;
}

.tab-pane{
  width: 100%;
}



.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.rect:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.xaxis path,
.xaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: optimizeSpeed;
}

/*.x{
  fill: none;
}*/


.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 2px;
  z-index: 5000;
}

.dot {
  fill: #fff;
  /*stroke: steelblue;*/
  stroke-width: 2px;
  z-index: 5000;
}

/*.x.axis path {
  display: none;
  font: 5px sans-serif;
}*/


.d3-tip {

  /*line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
*/

  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;

  font-family: Arial;
  font-size: 13px;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 4px 4px 12px rgba(0,0,0,.5);

  -moz-border-radius: 15px;
  border-radius: 15px;

  z-index: 10000;

}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.headertable{
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  width: 20% !important;
  font-weight: bold;
  padding-left: 10px;
}

.bodytable{
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  width: 20% !important;
  border-style: solid;
  background-color: #EEEEEE;
  border-color: #fff;
  margin-left: 20px !important;
}

#table_species{
  width: 100% !important;
  background-color: #EEEEEE;
  padding: 30px;
}



/*histograma d3*/
/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/


pre{
  height: 50px;
}

.row_var_item {
  line-height: 1.5em;
  background: #3B6A93;
  width: 98%;
  border-radius: 4px;
  margin: 2px;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.cell_item {
  color: #3B6A93;
  background: #fff;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
  width: 98%;
  z-index: 1px;
  padding: 2px;
  font-weight: 500;
}

.map_grid{
  background-color: none;
  color: blue;
  z-index: 5000;
}