/*
.marker-cluster-small {
  background-color: rgba(11, 156, 49, 0.3);
}
.marker-cluster-small div {
  background-color: rgba(0, 131, 25, .4);
}
.marker-cluster-medium {
  background-color: rgba(11, 156, 49, 0.3);
}
.marker-cluster-medium div {
  background-color: rgba(0, 131, 25, .9);
}
.marker-cluster-large {
  background-color: rgba(11, 156, 49, 0.3);
}
.marker-cluster-large div {
  background-color: rgba(0, 82, 25, 1);
}


.leaflet-oldie .marker-cluster-small {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(200, 255, 25);
}
.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(0, 131, 25);
}
.leaflet-oldie .marker-cluster-large {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(0, 82, 25);
}
*/


.marker-cluster-small {
  background-color: rgba(255, 0, 0, 0.3);
}
.marker-cluster-small div {
  background-color: rgba(255, 0, 0, .5);
}
.marker-cluster-medium {
  background-color: rgba(255, 0, 0, 0.3);
}
.marker-cluster-medium div {
  background-color: rgba(255, 0, 0, .9);
}
.marker-cluster-large {
  background-color: rgba(255, 0, 0, 0.3);
}
.marker-cluster-large div {
  background-color: rgba(128, 0, 0, 1);
}


.leaflet-oldie .marker-cluster-small {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(200, 255, 25);
}
.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(0, 131, 25);
}
.leaflet-oldie .marker-cluster-large {
  background-color: rgb(191, 247, 246);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(0, 82, 25);
}


.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
  color: #ffffff;
}