.nodo_mayor ul{
    /*padding-left: 15px;*/
    list-style: none;
}

.links_arbol {
  list-style-type: none;
  list-style: none;
}

//.sub_link_taxon:link {color: #0000ff; text-decoration:none; }
//.sub_link_taxon:active {color-background: #0000ff; text-decoration: none; }
//.sub_link_taxon:visited {color: #0000ff; text-decoration: none; }
//.sub_link_taxon:hover {background-color: #ffffff; text-decoration: none; }