<h3>Nueva bibliografía</h3>

<p class="mb-5">Reglas para capturar los campos en las biliografias, <%= link_to  "descargar", "/pdfs/admin_catalogo/Criterios captura bibliografías.pdf", target: :_blank %></p>

<%= render 'form', admin_bibliografia: @admin_bibliografia %>
