/*
.animalia-ev-icon, .plantae-ev-icon, .fungi-ev-icon, .prokaryotae-ev-icon, .protoctista-ev-icon{
  background-image: linear-gradient(to bottom, #cfe7f5 0%, #d9f1ff 30%);
  font-size: 2.75em;
}
.mammalia-ev-icon, .aves-ev-icon, .reptilia-ev-icon, .amphibia-ev-icon, .actinopterygii-ev-icon, .petromyzontidae-ev-icon, .myxini-ev-icon, .chondrichthyes-ev-icon, .cnidaria-ev-icon, .arachnida-ev-icon, .myriapoda-ev-icon, .annelida-ev-icon, .insecta-ev-icon, .porifera-ev-icon, .echinodermata-ev-icon, .mollusca-ev-icon, .crustacea-ev-icon, .invertebrados-ev-icon{
  background-image: linear-gradient(to bottom, #f5e1cb 0%, #ffebd4 40%);
  font-size: 2em;
}
.bryophyta-ev-icon, .polypodiidae-ev-icon, .cycadidae-ev-icon, .anthocerotophyta-ev-icon, .lilianae-ev-icon, .pinidae-ev-icon, .magnoliidae-ev-icon{
  background-image: linear-gradient(to bottom, #bFDaa8 0%, #d2f2b6 30%);
  font-size: 2em;
}
*/

.animalia-ev-icon{color: #6c3630}
.plantae-ev-icon{color: #3f7e54}
.fungi-ev-icon{color: #af7f45}
.prokaryotae-ev-icon{color: #0e5f59}
.protoctista-ev-icon{color: #0c4354}
.mammalia-ev-icon{color: #9d4c47}
.aves-ev-icon{color: #9b7845}
.reptilia-ev-icon{color: #999744}
.amphibia-ev-icon{color: #7a9944}
.actinopterygii-ev-icon{color: #44997d}
.petromyzontidae-ev-icon{color: #449999}
.myxini-ev-icon{color: #437395}
.chondrichthyes-ev-icon{color: #284559}
.cnidaria-ev-icon{color: #56686f}
.arachnida-ev-icon{color: #6c4e30}
.myriapoda-ev-icon{color: #7b5637}
.annelida-ev-icon{color: #956e43}
.insecta-ev-icon{color: #aa774d}
.porifera-ev-icon{color: #a8734c}
.echinodermata-ev-icon{color: #865a3c}
.mollusca-ev-icon{color: #aa7961}
.crustacea-ev-icon{color: #a0837c}
.bryophyta-ev-icon{color: #7a7544}
.polypodiidae-ev-icon{color: #adb280}
.cycadidae-ev-icon{color: #545a35}
.anthocerotophyta-ev-icon{color: #394822}
.lilianae-ev-icon{color: #114722}
.pinidae-ev-icon{color: #788c4a}
.magnoliidae-ev-icon{color: #495925}
.invertebrados-ev-icon{color: #6c4e30}
