#por_gi input{display: none;}

#por_gi span{
  font-size: 2rem;
  cursor: pointer;
  border-radius: 35%;
  -webkit-transition: border-radius .3s ease-in-out;
  -moz-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}

#por_gi input + span{border: 2px solid transparent; padding: 2px;}

#por_gi input:checked + span{
  border-radius: 50% !important;
  border: 2px solid #991705!important;
}
#por_gi input + span:hover{
  border: 2px solid rgba(153, 23, 5, .4);
}



#por_gi input + span > span{border: 1px solid transparent;}

#por_gi input:checked + span > span{
  border-radius: 50% !important;
  border: 1px solid #991705!important;
}
#por_gi input + span:hover > span{
  border: 1px solid rgba(153, 23, 5, .4);
}
