<div class='nested-fields'>
  <%= f.input :nombre_institucion %>
  <%= f.input :sitio_web %>
  <%= f.input :contacto %>
  <%= f.input :correo_contacto %>

  <%#= link_to_remove_association "Quitar institucion", f, :class => 'btn btn-danger btn-sm' %>
</div>

