<div class="row">
  <div class="col-4">
    <%= render 'paginas/formulario_polinizadores' %>
  </div>
  <div class="col-8">
    <div class="tab-pane panel-body panel-resultados active" id="resultados-0">
      <div class="row mb-3">
        <div class="col-12">
          <small class="text-muted">
            Mostrando  <%= @totales %> resultados
          </small>
        </div>
      </div>
      <%= render 'paginas/resultados_polinizadores' %>
    </div>
  </div>
</div>