<div class="historial_comentarios">
  <%= puts @comentarios.inspect %>
  <% if @comentarios.present? && @comentarios[:cuantos] > 0 %>
      <% @comentarios[:resp].each do |c| %>
          <%= render 'historial', c: c %>
      <% end %>
  <% end %>
</div>

<%= render 'form_respuesta' if !@ficha %>
