<% if @comentarios.present? &&  @comentarios[:resp].present? %>
    <%# if @comentarios.present? && ((@comentarios[:cuantos] > 0) || (@comentarios[:cuantos] == 0 && @comentarios[:resp].present?)) %>
    <% if @comentario.especie.present? && params[:action]=='respuesta_externa' %>
        <p>
          A continuación se muestran los comentarios que has realizado para: <br />
          <strong><%= tituloNombreCientifico(@comentario.especie, :show => true).gsub(' )',')').html_safe %></strong>
        </p>
        <hr>
    <% end %>

    <div class="historial_comentarios" id="historial_comentarios_<%= params[:id] %>" style="margin: 0 15%;">
      <% @comentarios[:resp].each do |c| %>
          <%= render 'historial', c: c %>
      <% end %>
    </div>
<% end %>
<%= render 'form_respuesta' if !@ficha %>