/* Formato para la busqueda por clasificacion */
.f-nom-clasificacion
{
    font-size: 1.3em;
}
.f-cat-clasificacion
{
    font-size: 1.3em;
}
.f-clas-plus{
    font-size: 2.5em;
}
.clas-fila{
    background-color:#104C5B;
    color: white;
    border-radius: 8px;
}
.clas-fila a{
    color: #A0C11F;
}
.clas-fila-1{} 
.clas-fila-2{
    margin-left: 2em;
}
.clas-fila-3{
    margin-left: 4em;
}
.clas-fila-4{
    margin-left: 6em;
}
.clas-fila-5{
    margin-left: 8em;
}
.clas-fila-6{
    margin-left: 10em;
}
.clas-fila-7{
    margin-left: 12em;
}


.f-sinonimo-basonimo-checklist
{
    font-size: 1em;
    font-style: italic;
}
.f-categorias-riesgo-checklist
{
    font-size: 1em;
    font-weight: bold;
    color: #800000;
}
/*.f-categoria-taxonomica-checklist{
    border: 1px solid black;
}*/
.f-categoria-taxonomica-checklist
{
    color: #828b87;
    font-size: 1em;
}
#contenido-checklist sub
{
    font-weight: normal;
    background-color: transparent;
}
.clasificacion-nivel-1
{
    margin-left: 2em;
}
.clasificacion-nivel-2
{
    margin-left: 4em;
}
.clasificacion-nivel-3
{
    margin-left: 6em;
}
.clasificacion-nivel-4
{
    margin-left: 8em;
}
.clasificacion-nivel-5
{
    margin-left: 10em;
}
.clasificacion-nivel-6
{
    margin-left: 12em;
}
.clasificacion-nivel-7
{
    margin-left: 15.5em;
}
