<div class='nested-fields'>
  <% propiedad = f.object.propiedad %>

  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">
  <%= f.input :propiedad_id, label: propiedad.tipo_propiedad, collection: Pmc::Propiedad.catalogo,
              selected: propiedad.id, as: :grouped_select, group_method: :last, input_html: { class: 'form-control' } %>
  </div>
</div>