<div class='nested-fields'>
  <%#= f.inputs do %>
  <% propiedad = f.object.propiedad %>

  <%= f.input :propiedad_id, label: propiedad.tipo_propiedad,
              collection: Pmc::Propiedad.catalogo, selected: propiedad.id,
              as: :grouped_select, group_method: :last %>
  <%# end %>
</div>