<div class='nested-fields'>
  <%= f.inputs do %>
      <%= f.input :criterio_id, label: 'Nuevo criterio', as: :select, prompt: '-- Selecciona --',
                  collection: grouped_options_for_select(Pmc::Criterio.catalogo) %>
      <%= link_to_remove_association 'Quitar criterio', f %>
  <% end %>
</div>