<div class='nested-fields'>
  <%= f.input :criterio_id, label: 'Nuevo criterio', prompt: '-- Selecciona --',
              collection: Pmc::Criterio.catalogo, as: :grouped_select, group_method: :last, input_html: { class: 'form-control' } %>
  <%= link_to_remove_association 'Quitar criterio', f %>
</div>