<div class='nested-fields'>
  <%= f.input :propiedad_id, label: 'Nueva propiedad', prompt: '-- Selecciona --',
              collection: Pmc::Propiedad.catalogo, as: :grouped_select, group_method: :last, input_html: { class: 'form-control' } %>
  <%= link_to_remove_association 'Quitar propiedad', f %>
</div>