<div class='nested-fields'>
  <%#= f.inputs do %>
  <%= f.input :criterio_id,
              label: 'Nuevo criterio',
              prompt: '-- Selecciona --',
              collection: Pmc::Criterio.catalogo, as: :grouped_select, group_method: :last %>
  <%= link_to_remove_association 'Quitar criterio', f %>
  <%# end %>
</div>