<% content_for(:extrajs) do %>
  <script src="https://use.typekit.net/shb5zji.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script>
      $(function () {
          $( "#accordion" ).accordion({
              collapsible: true,
              heightStyle: "content",
              active: false
          });

          $( "#accordion2" ).accordion({
              collapsible: true,
              heightStyle: "content",
              active: false
          });
      });
  </script>
<% end %>
<% content_for(:extracss) do %>
  <style type="text/css">
    .preguntas {
      color: #638793;
      font-size: 16px;
      line-height: 130%;
    }
    .ui-accordion .ui-accordion-header .ui-icon{background:none;}
    .ui-widget-content {
      border: 1px solid #aaaaaa;
      background: #EBE9DB;
      color: #1B3138;
      font-family: "freight-sans-pro";
    }

    .piefoto{font-size: 13px; color: #777;}

    .titblue{
      font-family: "acumin-pro-extra-condensed";
      font-size: 21px !important;
      color: #ffffff;
      background: #225254;
    }

    .titulo-principal{
      font-family: "acumin-pro-extra-condensed";
      color: #3a8fac;
      font-weight: bolder;
    }

   .color_B {background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%);}
   .color_V- {background: linear-gradient(to bottom, rgba(224, 235, 195, 1) 0%, rgba(146, 186, 37, 1) 100%);}    
   .color_A- {background: linear-gradient(to bottom, rgba(255, 241, 184, 1) 0%, rgba(255, 174, 41, 1) 100%);}
   .color_A\+ {background: linear-gradient(to bottom, rgba(240, 193, 168, 1) 0%, rgba(245, 121, 54, 1) 100%);}
    
  </style>
<% end %>

<div class="biodiversidad col mx-auto" style="max-width: 1140px;">
  <%= @doc.html_safe %>
</div>
