<h2>Nuevo pez/marisco</h2>
<%= render partial: 'form' %>

<script >
    $('#content').ready(function(){
        TYPES = ['especie','subespecie','variedad','subvariedad','forma','subforma','Reino','subreino','superphylum','division','subdivision','phylum','subphylum','superclase','grado','clase','subclase','infraclase','superorden','orden','suborden','infraorden','superfamilia','familia','subfamilia','supertribu','tribu','subtribu','genero','subgenero','seccion','subseccion','serie','subserie'];
        soulmateAsigna('pmc_new', 'pmc_pez_nombre');
    });
</script>
