<% @peces.each do |pez| %>
  <div class="col-3 my-3 px-1">
    <div class="row no-gutters">
      <div class="result-img-container col-12 text-center">

        <% if pez.con_estrella %>
          <i class="certificacion-ev-icon pull-right"></i>
        <% end %>

        <% if pez.valor_zonas[-1].to_i == 0 %>
          <i class="importado-ev-icon pull-right"></i>
        <% end %>

        <% if pez.imagen =~ URI::regexp %>
          <%= button_tag image_tag(pez.imagen, class: "img-fluid"), type: 'button', class: 'btn-ficha', "data-especie-id" => pez.especie_id, "data-toggle" => "popover" %>
        <% else %>
          <button class="btn-ficha" data-especie-id="<%= pez.especie_id %>" type="button" data-toggle="popover">
            <i class="<%= pez.imagen %> icono-resultado-pez"></i>
          </button>
        <% end %>

      </div>
      <div class="result-nombre-container col-12">
        <%= tituloNombreCientifico(pez, { render: 'link', solo_especies: true, adicional_nom_cient: fa_icon('external-link') }, { target: :_blank }).html_safe %>
      </div>
    </div>
  </div>

<% end %>
