<%= form_for(@lista) do |f| %>
  <% if @lista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lista.errors.count, "error") %> prohibited this lista from being saved:</h2>

      <ul>
      <% @lista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
