<% content_for(:title) do %>
    <%= @titulo="Editando: <br><br>#{@lista.nombre_lista}".html_safe %>
<% end %>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<%= render 'form' %>
<div class="enlaces_acciones">
  <%= accionesEnlaces(@lista, @accion).html_safe %>
</div>