<h1>Listing listas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listas.each do |lista| %>
      <tr>
        <td><%= link_to 'Show', lista %></td>
        <td><%= link_to 'Edit', edit_lista_path(lista) %></td>
        <td><%= link_to 'Destroy', lista, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lista', new_lista_path %>
