<h1>Editing Admin Especie Catalogo</h1>

<%= render 'form', admin_especie_catalogo: @admin_especie_catalogo %>

<%= link_to 'Show', @admin_especie_catalogo %> |
<%= link_to 'Back', admin_especies_catalogos_path %>
