<div class='nested-fields'>
  <%= f.inputs do %>
    <%
      propiedad = f.object.criterio.propiedad
      if !propiedad.es_categoria_de_riesgo?
    %>

      <%= f.input :criterio_id, label: propiedad.tipo_propiedad, as: :select, prompt: '-- Selecciona --',
                  collection: options_for_select(Criterio.catalogo(propiedad), selected: f.object.criterio_id) %>
    <% end %>
  <% end %>
</div>