<h1>Listing categorias_taxonomica</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias_taxonomica.each do |categoria_taxonomica| %>
      <tr>
        <td><%= link_to 'Show', categoria_taxonomica %></td>
        <td><%= link_to 'Edit', edit_categoria_taxonomica_path(categoria_taxonomica) %></td>
        <td><%= link_to 'Destroy', categoria_taxonomica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria taxonomica', new_categoria_taxonomica_path %>
