<%= form_for(@bibliografia) do |f| %>
  <% if @bibliografia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bibliografia.errors.count, "error") %> prohibited this bibliografia from being saved:</h2>

      <ul>
      <% @bibliografia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
