<div class='nested-fields'>

  <h4 class="titulo_subseccion"><%= t('simple_form.labels.distribuciones.endemismo.endemismo') %></h4>

  <%= # f.input :endemicaMexico
  %>
  <%= # f.input :endemicaA
  %>
  <%= # f.input :infoAdicionalEndemica
  %>
</div>