<h1>Editar la categoria_contenido del Rol</h1>

<%= render 'form' %>

<p class="text-right">
  <%= link_to 'Ver la categoria_contenido del rol', @categoria_contenido_rol %> | <%= link_to 'Regresar al listado', categoria_contenidos_roles_path %>
</p>