<div class="w-100 my-auto d-inline-block mt-5">
	<div class="w-25 m-0 p-0 float-left d-inline-block">
		<img src="<%= CONFIG.site_url %>assets/portada_guia.png" width="250"/>
        </div>
    
	<div class="w-75 float-left d-inline-block pt-5 pr-5 m-0">
		<p>Esta guía es producto de la información obtenida del Sistema Nacional de Información sobre Biodiversidad (SNIB) y cuenta con las siguientes características:</p>

		<ol>
			<li class="mb-2">Fotografías de las especies, provenientes de Naturalista y del banco de imágenes de la CONABIO.</li>
			<li class="mb-2">El orden de aparición está determinado por el número de registros de la especie.</li>
			<li class="mb-2">
	                Clasificación por:


            <div class="w-100 my-auto d-block mt-2">
	      <div class="w-25 d-inline-block text-left text-wrap p-1 font-weight-bold">
		TIPOS DE DISTRIBUCIÓN
	      </div>

	    <div class="w-75 d-inline-block">
	      <div class="w-100 text-left iconos-portada">
		<i class="nativa-ev-icon mx-1"></i>
		<i class="endemica-ev-icon mx-1"></i>
		<i class="exotica-ev-icon mx-1"></i>
	        <i class="exotica-invasora-ev-icon mx-1"></i>
	      </div>
	      <div class="w-100 text-left">

		  <span class="mx-1">Nativa</span>
		  <span class="mx-1">Endémica</span>
		  <span class="mx-1">Exótica</span>
		  <span class="mx-1">Exótica invasora</span>
	      </div>
	    </div>
	    </div>


            <div class="w-100 my-auto d-block mt-2">
	      <div class="w-30 float-left d-inline-block text-center pr-4 pt-4 font-weight-bold">
		AMBIENTES
	      </div>

	      <div class="w-70 float-left d-inline-block text-left iconos-portada">
		<i class="marino-ev-icon px-3"></i>
		<i class="terrestre-ev-icon px-3"></i>
		<i class="salobre-ev-icon px-3"></i>
		<i class="dulceacuicola-ev-icon px-3"></i>
		<br />
		  <span class="px-4">Marino</span>
		  <span class="px-2">Terrestre</span>
		  <span class="pl-4 pr-1">Salobre</span>
		  <span class="px-3">Dulceacuícola</span>
	      </div>
	    </div>
	    
	    
	  <div class="w-100 my-auto d-inline-block">
	    <div class="w-30 float-left d-inline-block text-center pl-4 pr-2 pt-3 font-weight-bold">
	      CATEGORÍAS DE <br />RIESGO NOM-059
	    </div>

	    <div class="w-70 float-left d-inline-block text-left iconos-portada">
		<i class="probablemente-extinta-en-el-medio-silvestre-e-ev-icon px-3"></i>
		<i class="en-peligro-de-extincion-p-ev-icon px-3"></i>
		<i class="amenazada-a-ev-icon px-3"></i>
		<i class="sujeta-a-proteccion-especial-pr-ev-icon px-3"></i>
		<br />
		  <span class="px-4">Extinta</span>
		  <span class="px-2">En peligro</span>
		  <span class="px-2">Amenazada</span>
		  <span class="px-2">Protección</span>
	    </div>
	  </div>


	    <div class="w-100 my-auto d-inline-block">
	      <div class="w-30 float-left d-inline-block text-center pl-4 pr-2 pt-3 font-weight-bold">
		IUCN
	      </div>

	      <div class="w-70 float-left d-inline-block text-left iconos-portada">
		<i class="extinto-ex-ev-icon px-3"></i>
		<i class="extinto-en-estado-silvestre-ew-ev-icon px-3"></i>
		<i class="en-peligro-critico-cr-ev-icon px-3"></i>
		<i class="en-peligro-en-ev-icon px-3"></i>
		<i class="vulnerable-vu-ev-icon px-3"></i>
		<br />
		  <span class="px-4">Extinto</span>
		  <span class="px-2">Extinto en estado silvestre</span>
		  <span class="px-2">En peligro critico</span>
		  <span class="px-2">En peligro</span>
		  <span class="px-2">Vulnerable</span>
	      </div>
	    </div>
	    
	    
	    <div class="w-100 my-auto d-inline-block mt-2">
	      <div class="w-30 float-left d-inline-block text-center px-4 pt-4 font-weight-bold">
		ESPECIES PRIORITARIAS<br />PARA LA CONSERVACIÓN&nbsp;&nbsp;&nbsp;
	      </div>

	      <div class="w-70 float-left d-inline-block text-left iconos-portada">
		<i class="alta-ev-icon px-3"></i>
		<i class="media-ev-icon px-3"></i>
		<i class="menor-ev-icon px-3"></i>
		<br />
		  <span class="px-4">Alta</span>
		  <span class="px-4">Media</span>
		  <span class="px-4">Menor</span>
	      </div>
	    </div>

            <div class="w-100 my-auto d-inline-block mt-2">
	      <div class="w-30 float-left d-inline-block text-center px-4 pt-4 font-weight-bold">
		CITES
	      </div>

	      <div class="w-70 float-left d-inline-block text-left iconos-portada">
		<i class="apendice-i-ev-icon px-3"></i>
		<i class="apendice-ii-ev-icon px-3"></i>
		<i class="apendice-iii-ev-icon px-3"></i>
		<br />
		  <span class="px-4">Apéndice I</span>
		  <span class="px-4">Apéndice II</span>
		  <span class="px-4">Apéndice III</span>
	      </div>
	    </div>
	    
			</li>
			<li class="mb-2">Enlaces en los nombres científicos para mayor información.</li>
		</ol>

		 <div class="recuadro-guia p-3 mt-3">Debido a que Enciclovida es una plataforma dinámica, al obtener una nueva versión de la guía, puede cambiar el orden de las especies y las fotografías.</div>
	</div>



</div>
  
        <div class="py-3 px-5">
		Agradecemos el apoyo de cientos de investigadores y de miles de ciudadanos voluntarios que han contribuido al desarrollo de los contenidos del Sistema Nacional de Información sobre Biodiversidad, para el beneficio de la sociedad mexicana.
	</div>

