<div class="w-100 my-auto d-inline-block mt-5">
	<div class="w-25  m-0 p-0 float-left d-inline-block">
		<img src="<%= CONFIG.site_url %>assets/portada_guia.png" width="300"/>
	</div>
	<div class="w-75 float-left d-inline-block">
		<p>Esta guía es producto de la información obtenida del Sistema Nacional de Información sobre Biodiversidad (SNIB) y cuenta con las siguientes características:</p>

		<ol>
			<li>Fotografías de las especies, provenientes de Naturalista y del banco de imágenes de la conabio.</li>
			<li>El orden de aparición está determinado por el número de registros de la especie.</li>
			<li>
			Clasificación por:

			</li>
			<li>Enlaces en los nombres científicos para mayor información.</li>
		</ol>

		 Debido a que Enciclovida es una plataforma dinámica, al obtener una nueva versión de la guía, puede cambiar el orden de las especies y las fotografías.
	</div>

	<div>
		Agradecemos el apoyo de cientos de investigadores y de miles de ciudadanos voluntarios que han contribuido al desarrollo de los contenidos del Sistema Nacional de Información sobre Biodiversidad, para el beneficio de la sociedad mexicana.
	</div>
</div>
