<div class="w-100 my-auto d-inline-block mt-5">
	<div class="w-25 m-0 p-0 float-left d-inline-block">
		<img src="<%= CONFIG.site_url %>assets/portada_guia.png" width="250"/>
	</div>
	
	<div class="w-75 float-left d-inline-block pt-5 pr-5 m-0">
		<p>Esta guía es producto de la información obtenida del Sistema Nacional de Información sobre Biodiversidad (SNIB) y cuenta con las siguientes características:</p>
		
		<ol>
			<li class="mb-2">Fotografías de las especies, provenientes de Naturalista y del banco de imágenes de la CONABIO.</li>
			<li class="mb-2">El orden de las especies es de acuerdo a su categoría taxonómica.</li>
			<li class="mb-2">
				Clasificación por:
				
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">TIPOS DE DISTRIBUCIÓN:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="nativa-ev-icon"></i><br><br>Nativa</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="endemica-ev-icon"></i><br><br>Endémica</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="exotica-ev-icon"></i><br><br>Exótica</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="exotica-invasora-ev-icon"></i><br>Exótica<br>Invasora</p>
						</div>
					</div>
				</div>
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">AMBIENTES:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="marino-ev-icon"></i><br><br>Marino</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="terrestre-ev-icon"></i><br><br>Terrestre</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="salobre-ev-icon"></i><br><br>Salobre</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="dulceacuicola-ev-icon"></i><br><br>Dulceacuicola</p>
						</div>
					</div>
				</div>
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">CATEGORÍAS DE RIESGO NOM-059:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="probablemente-extinta-en-el-medio-silvestre-e-ev-icon"></i><br><br>Extinta</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="en-peligro-de-extincion-p-ev-icon"></i><br><br>En peligro</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="amenazada-a-ev-icon"></i><br><br>Amenazada</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="sujeta-a-proteccion-especial-pr-ev-icon"></i><br><br>Protección</p>
						</div>
					</div>
				</div>
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">IUCN:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="extinto-ex-ev-icon"></i><br><br><br>Extinto</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="extinto-en-estado-silvestre-ew-ev-icon"></i>Extinto en<br>estado<br>silvestre</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="en-peligro-critico-cr-ev-icon"></i><br><br>En peligro<br>critico</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="en-peligro-en-ev-icon"></i><br><br><br>En peligro</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="vulnerable-vu-ev-icon"></i><br><br><br>Vulnerable</p>
						</div>
					</div>
				</div>
				
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">PRIORITARIAS PARA LA CONSERVACIÓN:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="alta-ev-icon"></i><br><br>Alta</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="media-ev-icon"></i><br><br>Media</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="menor-ev-icon"></i><br><br>Menor</p>
						</div>

					</div>
				</div>
				
				<div class="w-100 d-block my-4 iconos-portada">
					<div class="w-25 d-inline-block text-left text-wrap font-weight-bold">
						<p class="m-0 p-0">CITES:</p>
					</div>
					<div class="w-auto d-inline-block text-center">
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="apendice-i-ev-icon"></i><br><br>Apéndice I</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="apendice-ii-ev-icon"></i><br><br>Apéndice II</p>
						</div>
						<div class="d-inline-block mr-1">
							<p class="m-0 p-0"><i class="apendice-iii-ev-icon"></i><br><br>Apéndice III</p>
						</div>
					
					</div>
				</div>
				
			</li>
			<li class="mb-2">Enlaces en los nombres científicos para mayor información.</li>
		</ol>
		
		<div class="bg-dark text-light p-3 mt-1">Debido a que Enciclovida es una plataforma dinámica, al obtener una nueva versión de la guía, puede cambiar el orden de las especies y las fotografías.</div>
	</div>



</div>

<p class="h4">
	Agradecemos el apoyo de cientos de investigadores y de miles de ciudadanos voluntarios que han contribuido al desarrollo de los contenidos del Sistema Nacional de Información sobre Biodiversidad, para el beneficio de la sociedad mexicana.
</p>

