<div class="h3 border-top border-dark my-2 py-3">
	<p>
		Enciclovida, consultado el <%=Time.zone.now.day %> de <%= I18n.l(Time.now, format: "%B") %> de <%= Time.zone.now.year %>, Comisión Nacional para el Conocimiento y Uso de la Biodiversidad.
	</p>
	<p class="small text-nowrap"><%= @url_enciclovida %></p>
</div>
