<div class="w-100 d-inline-block text-center">
	<div class="w-25 float-left">
		<i class="conabio_horizontal_1-ev-icon"></i>
	</div>
	<div class="w-50 float-left">
		<p class="h1 font-weight-bold"><%= titulo_guia[0].html_safe %></p>
		<p class="h3"><%= titulo_guia[1].html_safe %></p>
	</div>
	<div class="w-25 float-left">
		<i class="enciclo-ev-icon"></i>
	</div>
</div>