<div class="w-100 my-auto d-inline-block">
	<div class="w-25  m-0 p-0 float-left d-inline-block">
		<i class="conabio_vertical_1-ev-icon"></i>
	</div>
	<div class="w-50 float-left d-inline-block text-center">
		<p class="h1 font-weight-bold"><%= @resp[:titulo_guia][0].html_safe %></p>
		<p class="h3"><%= @resp[:titulo_guia][1].html_safe %></p>
	</div>
	<div class="w-25 float-left d-inline-block">
		<i class="enciclo-ev-icon"></i>
	</div>
</div>