<div class="w-100 my-auto d-inline-block mt-5">
	<div class="w-25  m-0 p-0 float-left d-inline-block">
		<img src="http://localhost:3000/assets/portada_guia.png" width="300"/>
	</div>
	<div class="w-75 float-left d-inline-block">
		<p class="h1 font-weight-bold"><%= @titulo_guia.html_safe %></p>
		<p class="h3"><%= @lugar_guia.html_safe %></p>
	</div>
</div>
