<div class='nested-fields'>
  <%= f.input :presionesAmenazas %>
  <% collections = Fichas::Amenazadirecta.all.group_by(&:presionesAmenazas) %>
  <%= f.input :presionesAmenazas, :as => :grouped_select,
              collection: collections,
              :group_method => :last,
              group_label_method: :first,
              :label_method => :presionesAmenazas,
              input_html: {
                  class: 'form-control selectpicker',
                  multiple: true,
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opciones')
              }
  %>
  <%= f.input :presionesAmenazas,
              collection: Fichas::Amenazadirecta.all.map { |r| [r.presionesAmenazas, r.amenazaId] },
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  multiple: true,
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opciones'),
                  'data-selected-text-format': 'count > 3'
              }
  %>
</div>