<div class='nested-fields'>
  <h4 class="titulo_subseccion"><%= t('secciones.s_distribuciones.endemismo') %></h4>
  <%= f.input :endemicaMexico, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "endemicaSI")'} %>
  <div id="endemicaSI">
    <%=  f.input :endemicaA %>
    <%=  f.input :infoAdicionalEndemica %>
  </div>
</div>