<div class='nested-fields'>
  <h4 class="titulo_subseccion"></h4><br>
  <%= f.input :estadoHabitat, :as => :select, collection: Fichas::Habitat::ESTADOS_HABITAT, prompt: :seleccionar,  input_html: {class: 'form-control'} %>
</div>