<div class="col">
  <%= select_tag :nivel, options_for_select(Busqueda::NIVEL_CATEGORIAS, (params[:nivel].present? ? params[:nivel] : '=')), :class => 'form-control' %>
</div>
<div class="col">
  <% if (params[:cat].present? && params[:cat] != '') %>
    <%= select_tag :cat, options_for_select(@categorias.collect{ |u| [u.nombre_categoria_taxonomica, u.nivel] },params[:cat]), :class => 'form-control' %>
  <% else %>
    <%= select_tag :cat, options_for_select(
        @categorias.collect{ |u| [u.nombre_categoria_taxonomica, u.nivel] },
        @categorias.collect{ |u| u.nivel if u.nombre_categoria_taxonomica == 'especie' }), :class => 'form-control' %>
  <% end %>

</div>