<h1>Editar la taxonomía del usuario</h1>

<%= render 'form' %>

<p class="text-right">
  <%= link_to 'Ver la taxonomía del usuario', @usuario_especie %> | <%= link_to 'Regresar al listado', usuarios_especie_path %>
</p>