<h1>Asociar taxonomía específica a un usuario</h1>

<%= render 'form' %>

<p class="text-right">
  <%= link_to 'Regresar al listado de asociaciones Usuario - taxonomía', usuarios_especie_path %>
</p>
