<p><h2>Nombres comunes. </h2>Algunas
especies tienen muchos nombres comunes regionales, otras especies no
tienen nombres comunes. Algunas especies tienen nombres en lenguas
indígenas. Vamos actualizando nombres a medida que los encontramos.
Si conoces nombres comunes locales o nombres indígenas de las
plantas y animales, te agradecemos nos los envíes.</p>
<p>
<h2>Nombres científicos. </h2>Los
nombres científicos válidos se obtienen de los catálogos de
autoridades de CONABIO. También se incluyen sinonimias, es decir,
nombres antiguos que han cambiado. Si tienes más información sobre
nombres científicos te agradecemos nos la compartas.</p>
<p>
<h2>Fotografías.</h2>
Las fotografías de las especies se obtienen de varias fuentes como
Banco de imágenes de CONABIO, Flicker, NaturaLista. Debido a que las
fotos se enlazan a <h2>BIOS</h2>
a través de su nombre científico, puede haber errores de
identificación. Si descubres alguno te pedimos nos informes. Si
tienes fotos de alguna especie de la que no exista foto o que sea de
mejor calidad, también te agradecemos te comuniques con nosotros.</p>
<p>
<h2>Mapa.</h2>
Los mapas están integrados por varias capas. Algunas especies tienen
todas las capas y otras carecen de información.
</p>
<p>
<h2>El mapa de distribución
  potencial</h2> (rojo) es
la primera capa. Estos mapas son de CONABIO y están hechos por
expertos, en base a registros de colecciones científicas de las
especies. La mayoría de especies con mapas de distribución
potencial son vertebrados terrestres y algunos árboles tropicales.
Sin embargo, a medida que aumentan los registros de las especies, los
mapas pueden quedarse atrasados. El mapa es descargable como archivo
KMZ que funciona en Google Earth.</p>
<p>
<h2>Registros del SNIB
</h2>(círculos rojos).
La segunda capa son los registros del Sistema Nacional de Información
sobre Biodiversidad (SNIB). Aquí se reúnen registros de especies de
museos, colecciones y proyectos de CONABIO y de la Infraestructura
Mundial de Información sobre Biodiversidad (GBIF, por sus siglas en
inglés) <a href="http://www.gbif.org/country/MX/summary">http://www.gbif.org/country/MX/summary</a>.
Debido a que estos registros proceden de gran diversidad de
colecciones científicas, puede haber registros inadecuados (mal
identificados, o con posición geográfica errónea). Seleccionando
un círculo tendrás la información disponible sobre el registro
como localidad, municipio, estado, país, fecha de colecta, nombre
del colector, colección donde se encuentra el espécimen,
institución y país de la institución. Los registros son
descargables como archivos KML utilizables en Google Earth.</p>
<p>
<h2>Registros de NaturaLista
</h2>(círculos verdes y
amarillos). La tercera capa son los registros de NaturaLista que
pueden ser observaciones con grado de investigación (círculos
verdes), es decir, confirmados y observaciones casuales (círculos
amarillos). Seleccionando un círculo tendrás información sobre el
observador, ubicación, fecha, y grado de calidad. También hay un
enlace que te lleva a la observación origina en NaturaLista. Los
registros son descargables como archivos KML utilizables en Google
Earth.</p>
<p>
<h2>Fichas. </h2>Las
fichas se presentan en la parte inferior de la página. <h2>BIOS</h2>
busca fichas de especies en CONABIO, como prioridad. Si no las
encuentra, entonces busca en EOL en inglés, EOL en Español (Muchas
son las mismas de CONABIO), Wikipedia en Español o Wikipedia en
Inglés, en ese orden. Algunas especies tienen fichas muy completas
de las 5 fuentes, y otras carecen de información. Poco a poco se va
reuniendo la información para aumentar el número de especies con
fichas. El contenido de las fichas también es variable dependiendo
de las especies. Si encuentras errores en las fichas, también te
pedimos nos los hagas saber o si son de Wikipedia, las edites tu
mismo. La ficha es descargable en forma de archivo PDF.</p>
<p>
<h2>Clasificación.</h2>
Esta sección presenta una clasificación taxonómica sencilla para
que puedas ver en donde se ubica la especie seleccionada y puedas
navegar para conocer otras especies relacionadas. Estamos incluyendo
nombres comunes en los diferentes niveles (género, familia, orden,
clase, phylum). Tus sugerencias son bienvenidas.</p>
<p>
<h2>Catálogos de CONABIO</h2></p>
<p>
  En esta sección se presenta
  información sobre la validez de nombres científicos, sinonimias
  (nombres previos actualmente inválidos), nombres comunes con
  referencias, tipo de distribución, cita del nombre científico y
  fuente, identificador único, distribución reportada en la
  literatura y fecha de modificación.
</p>