<dl class="dl-horizontal">
  <dt>Nombres comunes:</dt>
  <dd> Algunas especies tienen muchos nombres comunes regionales, otras especies no tienen nombres comunes. Algunas especies tienen nombres en lenguas indígenas. Vamos actualizando nombres a medida que los encontramos. Si conoces nombres comunes locales o nombres indígenas de las plantas y animales, te agradecemos nos los envíes.
  </dd>

  <dt>Nombres científicos:</dt>
  <dd> Los nombres científicos válidos se obtienen de los catálogos de autoridades de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span>. También se incluyen sinonimias, es decir, nombres antiguos que han cambiado. Si tienes más información sobre nombres científicos te agradecemos nos la compartas.
  </dd>

  <dt>Fotografías:</dt>
  <dd> Las fotografías de las especies se obtienen de varias fuentes como Banco de imágenes de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span>, Flicker, NaturaLista. Debido a que las fotos se enlazan a <%= CONFIG.site_name%> a través de su nombre científico, puede haber errores de identificación. Si descubres alguno te pedimos nos informes. Si tienes fotos de alguna especie de la que no exista foto o que sea de mejor calidad, también te agradecemos te comuniques con nosotros.
  </dd>

  <dt>Mapas:</dt>
  <dd> Los mapas están integrados por varias capas. Algunas especies tienen todas las capas y otras carecen de información.
  </dd>

  <dt>Mapa de distribución potencial (rojo):</dt>
  <dd>Es la primera capa. Estos mapas son de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span> y están hechos por expertos, en base a registros de colecciones científicas de las especies. La mayoría de especies con mapas de distribución potencial son vertebrados terrestres y algunos árboles tropicales. Sin embargo, a medida que aumentan los registros de las especies, los mapas pueden quedarse atrasados. El mapa es descargable como archivo KMZ que funciona en Google Earth.
  </dd>

  <dt>Registros del SNIB (círculos rojos):</dt>
  <dd>La segunda capa son los registros del Sistema Nacional de Información sobre Biodiversidad (SNIB). Aquí se reúnen registros de especies de museos, colecciones y proyectos de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span> y de la Infraestructura Mundial de <a href="http://www.gbif.org/country/MX/summary" target="_blank">Información sobre Biodiversidad</a> (GBIF, por sus siglas en inglés) . Debido a que estos registros proceden de gran diversidad de colecciones científicas, puede haber registros inadecuados (mal identificados, o con posición geográfica errónea). Seleccionando un círculo tendrás la información disponible sobre el registro como localidad, municipio, estado, país, fecha de colecta, nombre del colector, colección donde se encuentra el espécimen, institución y país de la institución. Los registros son descargables como archivos KML utilizables en Google Earth.
  </dd>

  <dt>Registros de NaturaLista (círculos verdes y amarillos):</dt>
  <dd> La tercera capa son los registros de NaturaLista que pueden ser observaciones con grado de investigación (círculos verdes), es decir, confirmados y observaciones casuales (círculos amarillos). Seleccionando un círculo tendrás información sobre el observador, ubicación, fecha, y grado de calidad. También hay un enlace que te lleva a la observación origina en NaturaLista. Los registros son descargables como archivos KML utilizables en Google Earth.
  </dd>

  <dt>Fichas:</dt>
  <dd> Las fichas se presentan en la parte inferior de la página. <%= CONFIG.site_name%> busca fichas de especies en C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span>, como prioridad. Si no las encuentra, entonces busca en EOL en inglés, EOL en Español (Muchas son las mismas de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span>), Wikipedia en Español o Wikipedia en Inglés, en ese orden. Algunas especies tienen fichas muy completas de las 5 fuentes, y otras carecen de información. Poco a poco se va reuniendo la información para aumentar el número de especies con fichas. El contenido de las fichas también es variable dependiendo de las especies. Si encuentras errores en las fichas, también te pedimos nos los hagas saber o si son de Wikipedia, las edites tu mismo. La ficha es descargable en forma de archivo PDF.
  </dd>

  <dt>Clasificación:</dt>
  <dd> Esta sección presenta una clasificación taxonómica sencilla para que puedas ver en donde se ubica la especie seleccionada y puedas navegar para conocer otras especies relacionadas. Estamos incluyendo nombres comunes en los diferentes niveles (género, familia, orden, clase, phylum). Tus sugerencias son bienvenidas.
  </dd>

  <dt>Catálogos de C<span style="font-size: 80%; font-variant: small-caps;">ONABIO</span></dt>
  <dd>
    En esta sección se presenta información sobre la validez de nombres científicos, sinonimias (nombres previos actualmente inválidos), nombres comunes con referencias, tipo de distribución, cita del nombre científico y fuente, identificador único, distribución reportada en la literatura y fecha de modificación.
  </dd>

</dl>