<% @buscadores.each do |k,v| %>
	<div class="col-6 col-lg-3 px-3">
		<p class="bg-light text-center text-dark rounded-0 pb-3">
			<%= link_to "<img src='/assets/portada/#{k.to_s}.jpg' class='mb-2 img-fluid rounded-0' alt='...'><i class='busqueda-#{k.to_s}-ev-icon mr-3 h2'></i>#{v[:nombre]}".html_safe, v[:url], :class => "font-weight-bold h4 m-0 pb-3 text-center text-dark", :title => v[:titulo], data: { turbolinks: false }  %>
		</p>
	</div>
<% end %>