<p><strong>BIOS </strong> tiene una vista para el público general y otra para especialistas. Cada vista tiene diferente énfasis en su información:</p>

<table>
  <col>
  <col>
  <tr>
    <td>
      <p><h2>Público general</h2></p>
    </td>
    <td>
      <p><h2>Especialistas</h2></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Énfasis
        en contenido biológico</p>
    </td>
    <td>
      <p>Énfasis
        en catálogos de autoridades</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Con
        nombres comunes en todos los niveles de la clasificación</p>
    </td>
    <td>
      <p>Con
        nombres comunes solo a nivel de especie</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Nombres
        científicos sin autoridades</p>
    </td>
    <td>
      <p>Nombres
        científicos con autoridades</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Clasificación
        con niveles principales (Reino, Phyla, Clase, Orden, Familia,
        Género y Especies</p>
    </td>
    <td>
      <p>Clasificación
        con todas las divisiones taxonómicas necesarias para cada grupo</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Solamente
        nombres con estado taxonómico válido</p>
    </td>
    <td>
      <p>Presenta
        nombres con estado taxonómico válido, sinonimias y homonimias</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Búsqueda
        avanzada limitada a los 5 reinos y 24
        grupos icónicos
      </p>
    </td>
    <td>
      <p>Búsqueda avanzada libre para
        cualquier especie o grupo</p>
    </td>
  </tr>
  <tr>
    <td>
      <p><br/>

      </p>
    </td>
    <td>
      <p>Posibilidad
        de ver e imprimir el listado de verificación de especies</p>
    </td>
  </tr>
</table>