<p><strong>Biotas </strong> tiene una vista para el público general y otra para especialistas. Cada vista tiene diferente énfasis en su información:</p>

<table class="table table-striped">
  <tr class="info">
    <th>
      Público general
    </th>
    <th>
      Especialistas
    </th>
  </tr>
  
  <tr>
    <td>
      Énfasis en contenido biológico
    </td>
    <td>
      Énfasis en catálogos de autoridades
    </td>
  </tr>
  <tr>
    <td>
      Con nombres comunes en todos los niveles de la clasificación
    </td>
    <td>
      Con nombres comunes solo a nivel de especie
    </td>
  </tr>
  <tr>
    <td>
      Nombres científicos sin autoridades
    </td>
    <td>
      Nombres científicos con autoridades
    </td>
  </tr>
  <tr>
    <td>
      Clasificación con niveles principales (Reino, Phyla, Clase, Orden, Familia, Género y Especies)
    </td>
    <td>
      Clasificación con todas las divisiones taxonómicas necesarias para cada grupo
    </td>
  </tr>
  <tr>
    <td>
      Solamente nombres con estado taxonómico válido
    </td>
    <td>
      Presenta nombres con estado taxonómico válido, sinonimias y homonimias
    </td>
  </tr>
  <tr>
    <td>
      Búsqueda avanzada limitada a los 5 reinos y 24 grupos icónicos
    </td>
    <td>
      Búsqueda avanzada libre para cualquier especie o grupo
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      Posibilidad de ver e imprimir el listado de verificación de especies
    </td>
  </tr>
</table>