<!-- Content -->
<section id="content">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>No le des la espalda a tu propia naturaleza</h2>
      <div class="promo-evida">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J6_61JghkI8?list=PLLAcoRHqCmNQUXaU8m3PiiIGkojfLHfzv" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>Especies destacadas</h2>

      <table class="tabla-especiesdestacadas" width="100%" cellpadding="0" cellspacing="0" align="center" valign="center">
        <tr>
          <td align="center">
            <a href="/especies/8012109">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="img-thumbnail img-circle img-responsive" title="Jaguar">
            </a>
          </td>
          <td align="center">
            <a href="/especies/6019405">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5021/Plantas/MASM03955%20Taxodium%20mucronatum.t57aa2889.m800.w.0ConabioCornerCopy.jpg.xnmzjd39on0vPUC1rGQBDdQusuydQQZa9_D6YltopO-k.jpg" class="img-thumbnail img-circle img-responsive" title="Ahuehuete">
            </a>
          </td>
          <td align="center">
            <a href="/especies/8012780">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5007/Animales/Vertebrados/Anfibios/RIMB0004%20Ambystoma%20mexicanum.t55ddcc78.m800.w.0ConabioCornerCopy.jpg.xwIhnvieGs0s5gGczre1UhTACumxeMgrQ8wJIrRgwbWo.jpg" class="img-thumbnail img-circle img-responsive" title="Ajolote de Xochimilco">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center">
            <a href="/especies/10003659">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5005/Animales/Invertebrados/MASM01170%20Danaus%20plexippus.t4f3e7a1a.m800.w.0ConabioCornerCopy.jpg.x0cWwn9QGRsSxrzWAEqx1nYqk7GtB7GzlXtzq0IYwdOk.jpg" class="img-thumbnail img-circle img-responsive" title="Mariposa monarca">
            </a>
          </td>
          <td align="center">
            <a href="/especies/6048273">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5023/Plantas/IMDOC0269%20Dahlia%20rudis.t510a8eaa.m800.w.0ConabioCornerCopy.jpg.xw1oX_v5EcfLM97cqU5WgNUcNk72Hk_tkXK9kZy61dZM.jpg" class="img-thumbnail img-circle img-responsive" title="Dalia">
            </a>
          </td>
          <td align="center">
            <a href="/especies/8014269">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5006/Animales/Vertebrados/Aves/TMRP0019%20Pharomachrus%20mocinno.t5748ffb6.m800.w.0ConabioCornerCopy.jpg.xcrBPKHYTCvCmystMRhGl15e2IBz5Pbs2QOpc1kUnXtQ.jpg" class="img-thumbnail img-circle img-responsive" title="Quetzal mesoamericano">
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</section>