<!-- Content -->
<section id="content">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>No le des la espalda a tu naturaleza</h2>
      <div class="promo-evida">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J6_61JghkI8?list=PLLAcoRHqCmNQUXaU8m3PiiIGkojfLHfzv" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>Especies destacadas</h2>
      <table class="tabla-especiesdestacadas" width="100%" cellpadding="0" cellspacing="0" align="center" valign="center">
        <tr>
          <td align="center"><a href="/especies/6019405"><img class="img-responsive" src="http://bdi.conabio.gob.mx:5050/Plantas/CGL2206%20Taxodium%20mucronatum.jpg?w=140&h=140&mode=crop" title="Ahuehuete"></a></td>
          <td align="center"><a href="/especies/8012780"><img src="http://bdi.conabio.gob.mx:5050/Animales/Vertebrados/Amphibia/MASM04399%20Ambystoma%20mexicanum.jpg?w=140&h=140&mode=crop" class="img-responsive" title="Ajolote de Xochimilco"></a></td>
          <td align="center"><a href="/especies/10003659"><img src="http://bdi.conabio.gob.mx:5050/Animales/Invertebrados/CGL3424%20Danaus%20plexippus.jpg?w=140&h=140&mode=crop" class="img-responsive" title="Mariposa monarca"></a></td>
        </tr>
        <tr>
          <td align="center"><a href="/especies/8014269"><img src="http://bdi.conabio.gob.mx:5050/Animales/Vertebrados/Aves/MASM04924%20Pharomachrus%20mocinno.jpg?w=140&h=140&mode=crop" class="img-responsive" title="Quetzal mesoamericano"></a></td>
          <td align="center"><a href="/especies/6048273"><img src="http://bdi.conabio.gob.mx:5050/Plantas/MASM04373%20Dahlia%20rudis.jpg?w=140&h=140&mode=crop" class="img-responsive" title="Dalia"></a></td>
          <td align="center"><a href="/especies/8001055"><img src="http://bdi.conabio.gob.mx:5050/Animales/Vertebrados/Reptilia/MDL0111%20Crocodylus%20moreletii.jpg?w=140&h=140&mode=crop" class="img-responsive" title="Cocodrilo Moreleti"></a></td>
        </tr>

      </table>
    </div>
  </div>
</section>