<!-- How to -->
<section id="howto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center text-success">
        <h2>Cómo usar EncicloVida</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 steps" alt="buscador">
        <div></div>
        <p>Encuentra una especie usando nuestro buscador.</p>
      </div>

      <div class="col-md-4 col-sm-12 steps" alt="ficha">
        <div></div>
        <p>En la ficha de la especie puedes conocer todo acerca de ella.</p>
      </div>

      <div class="col-md-4 col-sm-12 steps" alt="arbol">
        <div></div>
        <p>La pestaña de Clasificación también te sirve para explorar.</p>
      </div>

    </div>
  </div>
</section>