<div id="news" class="col-xs-3">
  <h2>News</h2>
  <p>
    checa aqui las noticias maás reelevantes
  <ul>
    <li>nueva vista</li>
    <li>nuevas especies</li>
    <li>mas awesomeness</li>
  </ul>
  </p>
</div>