<!-- Content -->
<section id="content">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>No le des la espalda a tu naturaleza</h2>
      <div class="promo-evida">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J6_61JghkI8?list=PLLAcoRHqCmNQUXaU8m3PiiIGkojfLHfzv" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>Especies destacadas</h2>
      <table class="tabla-especiesdestacadas" width="100%" cellpadding="0" cellspacing="0" align="center" valign="center">
        <tr>
          <td align="center"><a href="#"><img class="img-responsive" src="/assets/portada/img_ed_07.jpg" alt="especie 1"></a></td>
          <td align="center"><a href="#"><img src="/assets/portada/img_ed_02.jpg" class="img-responsive" alt="especie 2"></a></td>
          <td align="center"><a href="#"><img src="/assets/portada/img_ed_05.jpg" class="img-responsive" alt="especie 3"></a></td>
        </tr>
        <tr>
          <td align="center"><a href="#"><img src="/assets/portada/img_ed_04.jpg" class="img-responsive" alt="especie 1"></a></td>
          <td align="center"><a href="#"><img src="/assets/portada/img_ed_06.jpg" class="img-responsive" alt="especie 2"></a></td>
          <td align="center"><a href="#"><img src="/assets/portada/img_ed_01.jpg" class="img-responsive" alt="especie 3"></a></td>
        </tr>

      </table>
    </div>
  </div>
</section>