<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-inline">
          <li><a href="http://www.latam.discovery.com/mexico/" target="_blank" id="logo_discovery"></a></li>
          <li><a href="http://eol.org/" target="_blank" id="logo_eol"></a></li>
          <li><a href="http://es.wikipedia.org/" target="_blank" id="logo_wikipedia"></a></li>
          <li><a href="http://www.gbif.org/" target="_blank" id="logo_gbif"></a></li>
          <li><a href="http://leafletjs.com/" target="_blank" id="logo_leaflet"></a></li>
          <li><a href="http://www.cites.org/" target="_blank" id="logo_cites"></a></li>
          <li><a href="http://www.iucn.org/" target="_blank" id="logo_iucn"></a></li>
          <li><a href="http://www.iucnredlist.org/" target="_blank" id="logo_redlist"></a></li>
          <li><a href="http://www.naturalista.mx/" target="_blank" id="logo_naturalista"></a></li>
          <li><a href="http://www.gob.mx/semarnat/" target="_blank" id="logo_semarnat"></a></li>
        </ul>
      </div>
    </div>
    <div class="row text-center text-info bg-info" style="padding: 10px 20px">
      <small>
        <strong>
          EncicloVida es posible gracias a la participación de cientos de investigadores mexicanos de una gran cantidad de instituciones académicas y financieras, a través de su participación en cientos de proyectos de la CONABIO desde 1992.
        </strong>
      </small>
    </div>
</div>
