<div class="col-xs-12 col-lg-5 px-3 align-self-center">
  <div id="promo-evida" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J6_61JghkI8?list=PLLAcoRHqCmNQUXaU8m3PiiIGkojfLHfzv&index=7" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="col-xs-12 col-lg">
  <div id="especies-destacadas" class="row">
    <h5 class="bg-info font-weight-bold mt-3 p-3 text-white rounded-right">Especies destacadas</h5>
    <div class="col col-4" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg');">
      <a class="btn btn-title" href="/especies/34460" title="Jaguar"></a>
    </div>
    <div class="col" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5023/Plantas/MASM03955%20Taxodium%20mucronatum.t57aa288d.m800.w.0ConabioCornerCopy.jpg.xQZ_MkcoM0nktfeiPhcahuQyOg0UdK4bqMooWqu42SUA.jpg');">
      <a class="btn btn-title" href="/especies/155336" title="Ahuehuete"></a>
    </div>
    <div class="col" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5007/Animales/Vertebrados/Anfibios/RIMB0004%20Ambystoma%20mexicanum.t55ddcc78.m800.w.0ConabioCornerCopy.jpg.xwIhnvieGs0s5gGczre1UhTACumxeMgrQ8wJIrRgwbWo.jpg');">
      <a class="btn btn-title" href="/especies/35127" title="Ajolote"></a>
    </div>
    <div class="col" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5005/Animales/Invertebrados/MASM01170%20Danaus%20plexippus.t4f3e7a1a.m800.w.0ConabioCornerCopy.jpg.x0cWwn9QGRsSxrzWAEqx1nYqk7GtB7GzlXtzq0IYwdOk.jpg');">
      <a class="btn btn-title" href="/especies/83782" title="Mariposa monarca"></a>
    </div>
    <div class="col" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5023/Plantas/IMDOC0269%20Dahlia%20rudis.t510a8eaa.m800.w.0ConabioCornerCopy.jpg.xw1oX_v5EcfLM97cqU5WgNUcNk72Hk_tkXK9kZy61dZM.jpg');">
      <a class="btn btn-title" href="/especies/183993" title="Dalia"></a>
    </div>
    <div class="col" style="background-image: url('http://bdi.conabio.gob.mx/fotoweb/cache/5006/Animales/Vertebrados/Aves/TMRP0019%20Pharomachrus%20mocinno.t5748ffb6.m800.w.0ConabioCornerCopy.jpg.xcrBPKHYTCvCmystMRhGl15e2IBz5Pbs2QOpc1kUnXtQ.jpg');">
      <a class="btn btn-title" href="/especies/36610" title="Quetzal mesoamericano"></a>
    </div>
  </div>
</div>

