<% content_for(:extrajs) do %>
    <script charset='utf-8' data-turbolinks-track='true'>
        var tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/player_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>
<% end %>
<div class="cover">
</div>
<div class="tv">
  <div class="screen mute" id="tv"></div>
</div>
<script data-turbolinks-track="true" type="text/javascript" charset="utf-8">
    var tv, playerDefaults = {autoplay: 0, autohide: 1, modestbranding: 0, rel: 0, showinfo: 0, controls: 0, disablekb: 1, enablejsapi: 0, iv_load_policy: 3};
    var vid = [{'videoId': '2LiJlWFLuJo', 'startSeconds': 0, 'suggestedQuality': 'hd360'}];

    function onYouTubePlayerAPIReady(){
        tv = new YT.Player('tv', {events: {'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange}, playerVars: playerDefaults});
    }

    function onPlayerReady(){
        tv.loadVideoById(vid[0]);
        tv.mute();
    }

    function onPlayerStateChange(e) {
        if (e.data === 1){
            $('#tv').addClass('active');
            $('header').css('background-image', 'none');
        } else if (e.data === 0){
            tv.seekTo(vid[0].startSeconds);
        }
    }

    function vidRescale(){

        var w = $(window).width(),
                h = $(window).height();
        if (w/h > 16/9){
            tv.setSize(w, w/16*9);
            $('.tv .screen').css({'left': '0px'});
        } else {
            tv.setSize(h/9*16, h);
            $('.tv .screen').css({'left': -($('.tv .screen').outerWidth()-w)/2});
        }
        setPaddingHeader();
    }

    function setPaddingHeader(){
	    var vacio = $(window).height()-$('#brandBar').height();
	    $('header').css('padding-bottom', (vacio));
	    $('#news').css('margin-top', (30-vacio));
	    $('#news').css('height', (vacio-120));
    }
    $(window).on('load', function(){
        vidRescale();
    });
    $(window).on('resize', function(){
        vidRescale();
    });
    $(document).ready(setPaddingHeader());
</script>
