<div id="news" class="pull-right">
	<div class="gallery js-flickity">
	  <% dameNews.each do |v,k| %>
	    <div class="gallery-cell">
	      <p>
	        <%= v %><br/>
	        <small><%= k %></small>
	      </p>
	    </div>
    <% end %>
  </div>
</div>
