<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 my-4">
    <p class="h4">Es una <strong>plataforma web</strong> de consulta <strong>creada</strong> por la CONABIO, <strong>para conocer a las especies y grupos que viven en México.</strong> Integra información que la Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO) ha reunido a través del Sistema Nacional de Información sobre Biodiversidad (SNIB) <br><br>Reúne <strong>información</strong> sobre alrededor de:
    </p>
    <%= render partial: 'inicio/svg/index_que_es_reinos.svg.erb' %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 my-4">
    <p class="h4">
      <strong>CONABIO</strong> compila:
    </p>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= render partial: 'inicio/svg/index_que_es_compila.svg.erb' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h5 class="border-bottom font-weight-bolder" >Registros de especies de<br> colecciones científicas</h5>
        <ul class="ml-n2">
          <li>Descripciones</li>
          <li>Nombres científicos y sinónimos</li>
          <li>Nombres comunes en distintos idiomas y lenguas indigenas</li>
          <li>Clasificación biológica</li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/distribesp#mapas" target="_blank">Mapas de distribución potencial <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/endemicas/endemicas" target="_blank">Especies endémicas <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/Invasoras" target="_blank">Especies invasoras <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/catRiesMexico.html" target="_blank">Especies en riesgo <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/espPrioritaria" target="_blank">Especies prioritarias <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/catRiesMexico#evaluaciones" target="_blank">Evaluaciones de la CONABIO <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/catRiesMundo" target="_blank">Especies en riesgo en el mundo <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://www.biodiversidad.gob.mx/especies/cites" target="_blank">Comercio internacional <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="http://bdi.conabio.gob.mx/fotoweb/" target="_blank">Fotos, videos y audios <i class="fa fa-external-link-square"></i></a></li>
        </ul>
        <h5 class="border-bottom font-weight-bolder">Registros de Ciencia Ciudadana</h5>
        <ul class="ml-n2">
          <li><a class="text-info" href="https://www.naturalista.mx/" target="_blank">Naturalista <i class="fa fa-external-link-square"></i></a></li>
          <li><a class="text-info" href="https://ebird.org/averaves/home" target="_blank">AverAves <i class="fa fa-external-link-square"></i></a></li>
        </ul>
        <h5 class="border-bottom font-weight-bolder">EncicloVida</h5>
      </div>
      <div class="col-md-3 align-items-center">
        <%= render partial: 'inicio/svg/index_que_es_mapa.svg.erb' %>
        <%= render partial: 'inicio/svg/index_que_es_fotos.svg.erb' %>
      </div>
    </div>
  </div>

</div>
