<!-- Content -->
<section id="content">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>No le des la espalda a tu propia naturaleza</h2>
      <div class="promo-evida">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J6_61JghkI8?list=PLLAcoRHqCmNQUXaU8m3PiiIGkojfLHfzv" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3">
      <h2>Especies destacadas</h2>

      <table class="tabla-especiesdestacadas" width="100%" cellpadding="0" cellspacing="0" align="center" valign="center">
        <tr>
          <td align="center">
            <a href="/especies/8012109">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa71e.m800.w.0ConabioCornerCopy.jpg.xMixdxZU_FAXLBD1T-5qqKP6dfc0Kv_KDajBl5e2WY44.jpg" class="img-thumbnail img-circle img-responsive" title="Jaguar">
            </a>
          </td>
          <td align="center">
            <a href="/especies/6019405">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Plantas/MASM03955%20Taxodium%20mucronatum.t57aa2889.m600.w.0ConabioCornerCopy.jpg.x9I0DOjG9uhhogCpwCWzw0vnsA1-TknCNom3TKuKnpVM.jpg" class="img-thumbnail img-circle img-responsive" title="Ahuehuete">
            </a>
          </td>
          <td align="center">
            <a href="/especies/8012780">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Animales/Vertebrados/Anfibios/RIMB0004%20Ambystoma%20mexicanum.t55ddcc76.m600.w.0ConabioCornerCopy.jpg.xlbONuhiDdRPKOU7r2b3wFh4Jz32nGHgF9JR0LMLDjKc.jpg" class="img-thumbnail img-circle img-responsive" title="Ajolote de Xochimilco">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center">
            <a href="/especies/10003659">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Animales/Invertebrados/MASM01170%20Danaus%20plexippus.t4f3e7a0c.m600.w.0ConabioCornerCopy.jpg.xqza0FsqvqLyvYqq_uI2XKRq5jkiZPIis9A62U9jPjMo.jpg" class="img-thumbnail img-circle img-responsive" title="Mariposa monarca">
            </a>
          </td>
          <td align="center">
            <a href="/especies/6048273">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Plantas/IMDOC0269%20Dahlia%20rudis.t510a8eaa.m600.w.0ConabioCornerCopy.jpg.xvKVA-IebDVXSSJHizv9IjlqoRfFnxwlrbfn7L0ut33o.jpg" class="img-thumbnail img-circle img-responsive" title="Dalia">
            </a>
          </td>
          <td align="center">
            <a href="/especies/8014269">
              <img src="http://bdi.conabio.gob.mx/fotoweb/cache/5000/Toda%20la%20Base%20del%20BI/Animales/Vertebrados/Aves/TMRP0019%20Pharomachrus%20mocinno.t5748ffb6.m600.w.0ConabioCornerCopy.jpg.xewqoze2CywiQbUU5gamCTq8VWwKl6bQVG70ZinsoYrU.jpg" class="img-thumbnail img-circle img-responsive" title="Quetzal mesoamericano">
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</section>