<!-- Participa -->
<section id="participa">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>¿Cómo puedo particpar?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 steps">
        <p>Si tienes fotos, fichas o mapas que no están en EncicloVida, escríbenos a: <br />
          <a href="#" onclick="$(this).attr('href',co.join('').split('').reverse().join(''));" target="_blank" class="text-success">
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="enciclovida_correo-ev-icon"></span>
          </a>
        </p>
        <img src="/assets/portada/img_participa01.png">
      </div>

      <div class="col-md-4 col-sm-12 steps">
        <p>O bien, sube tus observaciones a nuestras redes: <a href="http://ebird.org/content/averaves/">aVerAves</a> y <a href="http://www.naturalista.mx/">NaturaLista</a><br />
        </p>
        <img src="/assets/portada/img_participa02.png">
      </div>

      <div class="col-md-4 col-sm-12 steps">
        <p>También puedes editar contenidos de <a href="https://es.wikipedia.org">Wikipedia</a> o <a href="http://eol.org/">Enciclopedia de la Vida</a><br />
        </p>
        <img src="/assets/portada/img_participa03.png">
      </div>
    </div>
  </div>
</section>
