<p>
    <strong>BIOS</strong> integra información de <strong>CONABIO</strong> y la complementa con información de otras fuentes (CITES, Norma 059, Lista roja de IUCN, NaturaLista, Enciclopedia de la Vida, Wikipedia, Flickr) sobre:
</p>

<ul>
  <li/>
  <p><h2>Nombres:</h2>
  Nombres científicos, nombres comunes, estatus taxonómicos
  siguiendo los catálogos de autoridades de CONABIO.</p>
  <li/>
  <p><h2>Fotografías:
</h2>Fotos de las
  especies provenientes del Banco de Imágenes de CONABIO
  <a href="http://bdi.conabio.gob.mx/fotoweb/inicio.fwx">http://bdi.conabio.gob.mx/fotoweb/inicio.fwx</a>
  , de Naturalista <a href="http://www.naturalista.mx">www.naturalista.mx</a>
  , de Enciclopedia de la Vida <a href="http://www.eol.org/">http://www.eol.org/</a>
  , de
  </p>
  <li/>
  <p>Wikipedia
    <a href="https://es.wikipedia.org/wiki/Wikipedia:Portada">https://es.wikipedia.org/wiki/Wikipedia:Portada</a>
    y de Flickr <a href="https://www.flickr.com/">https://www.flickr.com/</a>
    .</p>
  <li/>
  <p><a name="__DdeLink__140_1714533851"></a>
  <h2>Mapas</h2>
  de distribución potencial, registros del Sistema Nacional de
  Información sobre Biodiversidad (colecciones científicas de
  plantas y animales de México) y registros de observaciones de
  NaturaLista <a href="http://www.naturalista.mx/">www.naturalista.mx</a></p>
  <li/>
  <p><h2>Distribución:
</h2>Indicación para
  especies nativas, endémicas, e introducidas (exóticas).</p>
  <li/>
  <p><h2>Categorías
  de riesgo</h2> a nivel
  nacional (Norma Oficial 059)
  <a href="http://www.biodiversidad.gob.mx/especies/catRiesMexico.html">http://www.biodiversidad.gob.mx/especies/catRiesMexico.html</a>
  y a nivel  internacional (International Union for the Conservation
  of Nature).
  <a href="http://www.biodiversidad.gob.mx/especies/catRiesMundo.html">http://www.biodiversidad.gob.mx/especies/catRiesMundo.html</a></p>
  <li/>
  <p><h2>Comercio
  internacional. </h2>Especies
  con requerimientos especiales para su comercio internacional de
  acuerdo a la Convención Internacional sobre el Comercio de Especies
  Amenazadas de Fauna y Flora.
  <a href="http://www.biodiversidad.gob.mx/planeta/cites/index.html">http://www.biodiversidad.gob.mx/planeta/cites/index.html</a></p>
  <li/>
  <p><h2>Contenido
  biológico: </h2>Descripción
  de la especie, distribución, hábitat, estrategia trófica,
  biología de poblaciones, comportamiento, reproducción, estado de
  conservación, conservación, amenazas y referencias.
  </p>
  <li/>
  <p><h2>Clasificación.</h2>
  Posición en la clasificación taxonómica, con opción de recorrer
  la jerarquía de clasificación (especie, género, familia, orden,
  clase, phylum, reino)</p>
  <li/>
  <p><h2>Catálogos
  de CONABIO.</h2>
  Información sobre las autoridades de los catálogos de nombres
  científicos</p>
</ul>