<p>
  <strong>Biotas</strong> integra información de <strong>CONABIO</strong> y la complementa con información de otras fuentes (CITES, Norma 059, Lista roja de IUCN, NaturaLista, Enciclopedia de la Vida, Wikipedia, Flickr) sobre:
</p>

<dl class="dl-horizontal">
  <dt>Nombres:</dt>
  <dd>
    Nombres científicos, nombres comunes, sinonimias, estatus taxonómicos siguiendo los catálogos de autoridades de CONABIO.
  </dd>
  <dt>Fotografías:</dt>
  <dd>
    Fotos de las especies provenientes del <a href="http://bdi.conabio.gob.mx/fotoweb/inicio.fwx" target="_blank">Banco de Imágenes de CONABIO</a>, de <a href="http://www.naturalista.mx" target="_blank">Naturalista</a>, de <a href="http://www.eol.org/" target="_blank">Enciclopedia de la Vida</a>, de <a href="https://es.wikipedia.org/wiki/Wikipedia:Portada" target="_blank">Wikipedia</a> y de <a href="https://www.flickr.com/" target="_blank">Flickr</a>.
  </dd>
  <dt>Mapas:</dt>
  <dd>
    de distribución potencial, registros del Sistema Nacional de Información sobre Biodiversidad (colecciones científicas de plantas y animales de México) y registros de observaciones de
    <a href="http://www.naturalista.mx/" target="_blank">NaturaLista</a>.
  </dd>
  <dt>Categoría nacional de riesgo:</dt>
  <dd><a href="http://www.biodiversidad.gob.mx/especies/catRiesMexico.html" target="_blank">Norma Oficial 059</a>
  </dd>
  <dt>Categoría internacional de riesgo:</dt>
  <dd><a href="http://www.biodiversidad.gob.mx/especies/catRiesMundo.html" target="_blank">International Union for the Conservation of Nature</a>.</dd>
  <dt>Especies protegidas del comercio internacional:</dt>
  <dd>
    Especies con requerimientos especiales para su comercio internacional de acuerdo a la <a href="http://www.biodiversidad.gob.mx/planeta/cites/index.html" target="_blank">Convención Internacional sobre el Comercio de Especies Amenazadas de Fauna y Flora</a>.
  </dd>
  <dt>Especies prioritarias para la conservación:</dt>
  <dd>
    Especies seleccionadas como prioritarias por el gobierno mexicano.
  </dd>
  <dt>Distribución:</dt>
  <dd>
    Indicación para especies nativas, endémicas, e introducidas (exóticas).
  </dd>
  <dt>Contenido biológico:</dt>
  <dd>
    Descripción de la especie, distribución, hábitat, estrategia trófica, biología de poblaciones, comportamiento, reproducción, estado de conservación, conservación, amenazas y referencias.
  </dd>
  <dt>Clasificación:</dt>
  <dd>
    Posición en la clasificación taxonómica, con opción de recorrer la jerarquía de clasificación (Reino, Phyla, Clase, Orden, Familia, Género y Especies).
  </dd>
  <dt>Catálogos de CONABIO:</dt>
  <dd>
    Información sobre las autoridades de los catálogos de nombres científicos.
  </dd>
</dl>