<p>
  El objetivo de <strong>BIOS</strong>
  es permitir hacer:
</p>
<ul>
  <li/>
  <p><h2>Búsquedas
  por especie</h2>
  utilizando nombres comunes o científicos. La función de
  autocompletado y resultados previos elimina posibilidades de errores
  y proporciona opciones</p>
  <li/>
  <p><h2>Búsquedas
  avanzadas</h2> por
  grupo taxonómico (familia orden), tipos de distribución (nativa vs
  introducida), categorías de riesgo y estado taxonómico</p>
  <li/>
  <p><h2>Exploración
</h2>de la
  clasificación por medio de una estructura de árbol</p>
  <li/>
  <p><h2>Descarga
</h2>de fichas en
  formato PDF</p>
  <li/>
  <p><h2>Descarga
</h2>de archivos de
  registro en formato KML</p>
  <li/>
  <p><h2>Descarga
  e impresión </h2>de
  resultados de las búsquedas en formato PDF</p>
  <li/>
  <p><h2>Muestra
  de listado</h2> de
  verificación de especies en la plataforma</p>
  <li/>
  <p><h2>Descarga
  de listado de verificación </h2>en
  formato PDF</p>
  <li/>
  <p><h2>Asociación</h2>
  de nombres comunes, nombres científicos y sinonimias
  </p>
  <li/>
  <p><h2>Validación</h2>
  de nombres por medio de un archivo de texto</p>
  <li/>
  <p><h2>Retroalimentación</h2>
  por medio de
  comentarios, sugerencias o correcciones a
  nivel especie o
  grupo y general</p>
  <li/>
  <p>Posibilidad
    de añadir la observación de una especie por medio de NaturaLista
    <a href="http://www.naturalista.mx/"> www.naturalista.mx </a></p>
</ul>