<p>
  El objetivo de <strong><%= CONFIG.site_name%></strong> es permitir:
</p>
<dl class="dl-horizontal">
  <dt>Búsquedas por especie:</dt>
  <dd>utilizando nombres comunes o científicos. La función de autocompletado y resultados previos elimina posibilidades de errores y proporciona opciones.</dd>

  <dt>Búsquedas avanzadas:</dt>
  <dd>por grupo taxonómico (familia, orden), tipos de distribución (nativa vs introducida), categorías de riesgo y estado taxonómico.</dd>

  <dt>Explorar:</dt>
  <dd>la clasificación por medio de una estructura de árbol.</dd>

  <dt>Verificación:</dt>
  <dd>mediante un listado de especies</dd>

  <dt>Descargar:</dt>
  <dd>
    fichas de los taxones en formato PDF.<br />
    archivos de los registros geográficos en formato KML.<br />
    e imprimir los resultados de las búsquedas en formato PDF.<br />
    el listado de verificación
  </dd>

  <dt>Asociación:</dt>
  <dd>de nombres comunes, nombres científicos y sinonimias.</dd>

  <dt>Validación de nombres:</dt>
  <dd>por medio de un archivo de texto.</dd>

  <dt>Retroalimentación:</dt>
  <dd> por medio de comentarios, sugerencias o correcciones a nivel especie o grupo y general.</dd>

  <dt>Añadir observaciones:</dt>
  <dd>de una especie por medio de NaturaLista (<a href="http://www.naturalista.mx/"> www.naturalista.mx</a>).</dd>
</dl>
