<p xmlns="http://www.w3.org/1999/html">
  El objetivo de <strong>BIOS</strong>
  es permitir hacer:
</p>
<ul style="line-height: 150%;">
  <li/>
    <b>Búsquedas por especie</b> utilizando nombres comunes o científicos. La función de autocompletado y resultados previos elimina posibilidades de errores
  y proporciona opciones.
  </li>
  <li/>
    <b>Búsquedas avanzadas</b> por grupo taxonómico (familia orden), tipos de distribución (nativa vs introducida), categorías de riesgo y estado taxonómico.
  </li>
  <li/>
    <b>Exploración</b> de la clasificación por medio de una estructura de árbol.
  </li>
  <li/>
    <b>Descarga</b> de fichas en formato PDF.
  </li>
  <li/>
    <b>Descarga</b>de archivos de registro en formato KML.
  </li>
  <li/>
    <b>Descarga e impresión</b> de resultados de las búsquedas en formato PDF.
  </li>
  <li/>
    <b>Muestra de listado</b> de verificación de especies en la plataforma.
  </li>
  <li/>
    <b>Descarga de listado de verificación </b>en formato PDF.
  </li>
  <li/>
    <b>Asociación</b> de nombres comunes, nombres científicos y sinonimias.
  </li>
  <li/>
    <b>Validación</b> de nombres por medio de un archivo de texto.
  </li>
  <li/>
    <b>Retroalimentación</b> por medio de comentarios, sugerencias o correcciones a nivel especie o grupo y general.
  </li>
  <li/>
    Posibilidad de añadir la observación de una especie por medio de NaturaLista (<a href="http://www.naturalista.mx/"> www.naturalista.mx</a>).
  </li>
</>