<script type="application/javascript">
    $(document).ready(function() {
        $('#pestañas').tabs(); // Inicia los tabs
        $('#pestañas > .nav a').click(function(){
            $('#pestañas > .nav li').removeClass("active");
            $(this).parent().addClass("active");
        });
    });
</script>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="pestañas" class="panel">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#queEs"><span>¿Qué es?</span></a></li>
      <li><a href="#dosVistas"><span>Dos vistas</span></a></li>
      <li><a href="#usos"><span>Usos</span></a></li>
      <li><a href="#advertencias"><span>Advertencias</span></a></li>
    </ul>
    <div class="main">
      <div id="queEs" class="tab-pane active"><%= render partial: 'queEs' %></div>
      <div id="dosVistas" class="tab-pane"><%= render partial: 'dosVistas' %></div>
      <div id="usos" class="tab-pane"><%= render partial: 'usos' %></div>
      <div id="advertencias" class="tab-pane"><%= render partial: 'advertencias' %></div>
    </div>
  </div>
</div>
