<!-- Content -->
<section id="content">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <% if notice.present? %>
          <div class="row alert alert-danger" role="alert">
            <h4><%= notice %></h4>
          </div>
      <% end %>
    </div>
  </div>
</section>