<div id="que-es" class="col-12 p-3 text-center">
  <%= render :partial => 'index_que_es' %>
</div>
<div class="col-12">
  <%#= render :partial => 'index_como_funciona' %>
</div>
<div class="col-12">
  <%#= render :partial => 'index_herramientas_busqueda' %>
</div>
<div class="col-12">
  <%#= render :partial => 'index_por_que_es_importante' %>
</div>
<div class="col-12">
  <%#= render :partial => 'index_especies_destacadas' %>
</div>
<div class="col-12">
  <%= render :partial => 'index_intro_video' %>
</div>

