<h5>
  <span class="badge">2</span>
  <a class="btn btn-link btn-sm disabled"><b> Elige un grupo icónico (# de especies registradas).</b></a>
</h5>
<div id="contenedor_grupos" class="radio form-group"></div>
