<% if(@peces.nil?) %>
  <div class="contenedor-titulo-busquedas peces-mariscos-comerciales row">
    <h1 class="text-success titulo-busquedas">
      Peces y mariscos comerciales
      <i class="peces-mariscos-comerciales-ev-icon"></i>
      <hr class="liner liner-dark">
    </h1>
  </div>
<% end %>