<p class="text-center">
  Esta sección se encuentra en mantenimiento, por favor intenta de nuevo más tarde <br />
  <span class="glyphicon glyphicon-wrench text-danger" style="font-size: xx-large;"></span>
  <hr />
</p>
<p class="text-center">
  No es necesario enviar un correo <br />
  Una disculpa por los inconvenientes ocasionados.
</p>
