<p style="font-size: larger;">
  El personal de CONABIO ha recibido tu correo, agradecemos tus comentarios.
</p>

<hr>

<p style="font-size: smaller;">
  Te atenderemos lo más pronto posible, este es un correo generado automáticamente, favor de <strong style="font-size: larger;">no responder</strong> a esta dirección.
</p>