<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Gracias por utilizar el servicio de descarga de taxa</h1>
<p>Puedes descargar el archivo excel en el siguiente <a href="<%= @ruta %>">enlace</a>
</p>
</body>
</html>