<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Gracias por utilizar el servicio de validación interna</h1>
<p>Puedes descargar el archivo en el siguiente <a href="<%= @ruta_excel %>">enlace</a>
</p>
</body>
</html>