<%= form_for(@tipo_distribucion) do |f| %>
  <% if @tipo_distribucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_distribucion.errors.count, "error") %> prohibited this tipo_distribucion from being saved:</h2>

      <ul>
      <% @tipo_distribucion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
