<div class="col-12">
  <div id="resumen-checklist" class="mb-4">
    Este Listado de especies/checklist contiene: <br />
    <%= @categorias_checklist.map{ |categoria| "#{categoria.nombre_categoria_taxonomica}: <b>#{categoria.totales}</b>" }.join(', ').html_safe %>
  </div>

  <% @taxones.each do |taxon| %>
    <% next unless taxon.estatus == 2 %>
    <div class="checklist-nivel-<%= taxon.nivel1 %> %>">
      <%= "<span id=\"datos_busqueda-#{taxon.id}\">#{generaChecklist(taxon)}</span><br />".html_safe %>
    </div>
  <% end %>

  <%= bibliografiasChecklist %>
</div>