<meta http-equiv="content-type" content="text/html" charset="UTF-8"/>

<div class="col-12">
  <%= image_tag "#{CONFIG.site_url}assets/conabio_logo.png", width: '70px' %> <text class="fa-align-right">Comisión Nacional para el Conocimiento y Uso de la Biodiversidad - CONABIO</text>
</div>
