<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html" charset="UTF-8"/>

<div>
  <%= image_tag "#{CONFIG.site_url}assets/conabio_logo.png", style: 'width: 60px;float: left;' %>
  <h1 style="text-align: center;font-size: 18pt;line-height: 2em;">Catálogo de autoridades taxonómicas con distribución en México</h1>
</div>