<div class="modal fade" id="modal_reproduce" tabindex="-1" role="dialog" aria-labelledby="modal_reproduce_label">
  <div class="modal-dialog modal-lg" id="modalTamanio" role="document">
    <div class="modal-content bg-light">

      <div class="modal-header">
        <b id="modal_title"></b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body text-success" id="modal_reproduce_body">
        <div class="row">
          <div class="col-md-9">
            <div class="embed-responsive embed-responsive-16by9" id="img-container">
            </div>
          </div>
          <div class="col-md-3">

            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <b id="modal_localidad"></b>
            <h5 id="modal_ubicacion"></h5>
            <small id="modal_fecha"></small><br>
            <small id="modal_imgTipo"></small>
            <small id="modal_caption"></small><br>
            <small id="modal_imgDescripcion"></small>
            <hr>
            <a id="modal_observacion" target="_blank" class="btn btn-block btn-info btn-sm">Ir a la observación <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <h5 class="modal-title">
          <i class="copyright-ev-icon"></i>
          <b id="modal_autor"></b>
          <span id="modal_copyright"></span>
        </h5>
      </div>

    </div>
  </div>
</div>