<% if page.nil? %>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
    <% icono = {'photo' => 'camera', 'video' => 'film'} %>
    <i class='fa fa-<%=icono[type]%>'></i>
    <i class ='bdi-ev-icon'></i>
    <i class ='conabio_completo-ev-icon'></i>
  </div>
  <div class="paginado-media d-flex">
<% end %>

<% if @videos.any? %>
  <button type="button" class="btn btn-light"><i class="fa fa-angle-double-left"></i></button>
  <button type="button" class="btn btn-light"><i class="fa fa-angle-double-right"></i></button>
  <% @videos.each do |video| %>
    <%= imprime_media_bdi(video, 'video') %>
  <% end %>
<% else %>
  <p>Lo sentimos, no contamos con un video para esta especie</p>
<% end %>

<% if page.nil? %>
  <div class="text-center paginado_2"></div>
  </div>
<% end %>
