<% if @array[0][:msg].blank? %>
  <% if page.nil? %>
    <div class="d-flex flex-column flex-md-row mb-3 h1">
      <% icono = {'photo' => 'camera', 'video' => 'film', 'audio' => 'volume-up'} %>
      <i class='fa fa-<%=icono[type]%>'></i>
      <span>Tropicos</span>
    </div>
    <div class="paginado-media d-flex align-items-center">
  <% end %>

  <button type="button" class="btn rounded-circle btn-light position-absolute"><i class="fa fa-chevron-left"></i></button>
  <button type="button" class="btn rounded-circle btn-light position-absolute"><i class="fa fa-chevron-right"></i></button>

  <% @array.each do |item|  %>
    <%= imprime_img_tropicos(item) %>
  <% end %>

  <% if page.nil? %>
    </div>
  <% end %>  
<% end %>