<% if @array.any? && @array.first[:msg].blank? %>
  <div class="d-flex flex-column flex-md-row mb-3 h1">
    <% icono = {'photo' => 'camera', 'video' => 'film', 'audio' => 'volume-up'} %>
    <i class='fa fa-<%=icono[type]%> btn-title' title="<%= type.titleize %>"></i>
    <i class ='macaulay_library-ev-icon'></i>
    <span>
      <i class ='cornell_lab-ev-icon'></i>
      <i class ='cornell_lab_colors-ev-icon'></i>
    </span>
  </div>

  <div class="paginado-media d-flex align-items-center">
    <button type="button" class="btn rounded-circle btn-light position-absolute"><i class="fa fa-chevron-left"></i></button>
    <button type="button" class="btn rounded-circle btn-light position-absolute"><i class="fa fa-chevron-right"></i></button>
    <% @array.each do |item|  %>
      <%= imprimeMediaCornell(item,type) %>
    <% end %>
  </div>  
<% end %>