<div class="social row py-3">
  <h5 class="font-weight-bold text-left w-100" style="color: #efb830;">Encuéntranos también en:</h5>

  <div class="col-12 col-md-3 text-center p-0 display-4">
    <%= link_to "<i class ='biomex-ev-icon'></i>".html_safe, 'https://www.biodiversidad.gob.mx', :target => :_blank, :alt => 'Biodiversidad Mexicana' %>
  </div>

  <div class="col-4 col-md-3 text-center py-3">
    <a class="btn btn-info" href="https://www.facebook.com/conabio" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-info" href="https://twitter.com/conabio" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-info" href="https://vimeo.com/conabio" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a class="btn btn-info" href="https://soundcloud.com/conabio" target="_blank"><i class="fa fa-soundcloud"></i></a>
    <a class="btn btn-info" href="https://github.com/CONABIO" target="_blank"><i class="fa fa-github"></i></a> <span class="font-weight-bold text-white">/ CONABIO </span>
  </div>

  <div class="col-8 col-md-6 text-center py-3">
    <a class="btn btn-info" href="https://www.instagram.com/biodiversidad_mexicana" target="_blank"><i class="fa fa-instagram"></i></a> <span class="font-weight-bold text-white">/biodiversidad_mexicana </span>
    <a class="btn btn-info" href="https://www.youtube.com/user/biodiversidadmexico" target="_blank"><i class="fa fa-youtube"></i></a> <span class="font-weight-bold text-white">/biodiversidadmexico</span>
  </div>
</div>
