<div class="social row py-3">
  <div class="col-12">
    <h5 class="font-weight-bold text-left " style="color: #efb830;">Encuéntranos también en:</h5>
  </div>

  <div class="col-md-8 py-3">
    <div class="row">
      <div class="col">
        <%= link_to "<i class ='biomex-ev-icon'></i>".html_safe, 'http://www.biodiversidad.gob.mx', :target => :_blank, :alt => 'Biodiversidad Mexicana' %>
      </div>
      <div class="col">
        <%= link_to "<i class ='conabio_completo-ev-icon'></i>".html_safe, 'http://www.gob.mx/conabio', :target => :_blank, :alt => 'CONABIO' %>
      </div>
    </div>
  </div>
  <div class="col-md text-left p-4">
    <a class="btn btn-info" href="https://www.facebook.com/conabio" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-info" href="https://twitter.com/conabio" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-info" href="https://vimeo.com/conabio" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a class="btn btn-info" href="https://soundcloud.com/conabio" target="_blank"><i class="fa fa-soundcloud"></i></a>
    <a class="btn btn-info" href="https://github.com/CONABIO" target="_blank"><i class="fa fa-github"></i></a> <span class="font-weight-bold text-white">/ CONABIO </span><br />

    <a class="btn btn-info" href="https://www.instagram.com/biodiversidad_mexicana" target="_blank"><i class="fa fa-instagram"></i></a> <span class="font-weight-bold text-white">/biodiversidad_mexicana </span><br />
    <a class="btn btn-info" href="https://www.youtube.com/user/biodiversidadmexico" target="_blank"><i class="fa fa-youtube"></i></a> <span class="font-weight-bold text-white">/biodiversidadmexico</span>

  </div>
</div>
