<div class="social row py-3">
  <p class="font-weight-bold text-left text-success w-100 h4 px-3">Encuéntranos también en:</p>

  <div class="col-12 col-md-4 text-center p-0 display-3">
    <%= link_to "<i class ='biomex-ev-icon'></i>".html_safe, 'https://www.biodiversidad.gob.mx', :target => :_blank, :alt => 'Biodiversidad Mexicana' %>
  </div>

  <div class="col-12 col-md-8 text-center py-3">
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://www.facebook.com/conabio" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://twitter.com/conabio" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://vimeo.com/conabio" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://soundcloud.com/conabio" target="_blank"><i class="fa fa-soundcloud"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://github.com/CONABIO" target="_blank"><i class="fa fa-github"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://www.instagram.com/biodiversidad_mexicana" target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="mx-1 btn btn-outline-light btn-lg rounded-pill" href="https://www.youtube.com/user/biodiversidadmexico" target="_blank"><i class="fa fa-youtube"></i></a>
  </div>
</div>
