<div class="legal row py-3">
  <div class="col text-center text-light" >
    <p>
      Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, Del. Tlalpan, C.P. 14010, México, CDMX | Tel. (55) 5004-5000 <br />
      Comentarios y sugerencias generales a:
      <%= correo_enciclovida_b4%>
      | Plano de ubicación CONABIO con
      <a href="https://goo.gl/maps/ierowdiMoNetqtMq8" target=_blank class="text-success">Google maps</a>
    </p>
  </div>
</div>
