<div class="m-4 text-center" style="color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 2px 44px;
    transform: matrix(1,-0.9,0.9,1,-43,31);
    position: absolute;
    z-index: 5;
    background-color: #ff931e;">
  <%= "¡Estamos estrenando <br /> nueva vista!".html_safe %>
</div>