<div id="app-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay=5000 style="position: fixed; bottom: 0px; right: 20px;">
	<div class="toast-header">
		<strong class="mr-auto"><%= header %></strong>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="toast-body">
		<h5 class="text-center"><%= link_to body, body_link, 'data-turbolinks'=>"false" %></h5>
	</div>
</div>
<script type="text/javascript">
		$(document).ready(function () {
				$('.toast').toast('show')
		});
</script>