<p class="text-center">
  Al parecer no tienes permiso de entrar a esta sección <br />
  <span class="block-ev-icon text-danger" style="font-size: xx-large;"></span>
  <hr />
</p>
<p class="text-center">
  envía un correo a: <br />
  <%= correo_enciclovida %> <br />
  para proporcionarte los permisos adecuados.
</p>
