<div id="brandBar" class="row py-3 px-md-3">
  <%= render(:partial => 'shared_b4/dropdown_menu') %>

  <div class="col text-center">
      <%= link_to "<i class ='enciclo-ev-icon'></i><i class ='vida-ev-icon'></i>".html_safe, root_path, :class => '', data: { turbolinks: false }  %>
  </div>
  <div class="col-7 text-center">
    <%= link_to "<i class ='conabio_completo-ev-icon'></i>".html_safe, "http://www.biodiversidad.gob.mx/", :class => '', target: :_blank  %>
  </div>

</div>
<div class="row my-5 justify-content-center">
  <div class="col-10 my-5">
    <div class="container my-5">
      <div class="row no-gutters my-5 justify-content-center">
        <div id="busqueda_basica" class="col-10 my-5">
          <%= render(:file => 'busquedas/basica_b4') %>
        </div>
      </div>
    </div>
  </div>
</div>
