<%#= stylesheet_link_tag 'especies/arbol/arbol_identado' %>
<%#= javascript_include_tag 'especies/arbol/arbol_identado' %>
<% if @taxones.present? && @taxones.length > 0 %>
  <div class="px-4 rounded bg-light shadow" style="overflow-x: auto;">
    <div id="clasificacion" class="d-flex align-items-center py-3" style="overflow-x: auto;">
      <button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-circle-left"></i></button>
      <button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-circle-right"></i></button>
      <%= dameArbolInicialSinIndentar(@taxones) %>
    </div>
    <button type="button" class="btn btn-outline-info bg-light text-primary shadow-sm position-absolute rounded-pill" style="left:12px; bottom: -6px;">
      <%#= link_to('Explorar la clasificación completa...', "/explora-por-clasificacion?especie_id=#{@especie.id}", { target: :_self }) %>
      <i class="flow-cascade-ev-icon h6"></i>
    </button>
  </div>

<% end %>
