<% if @taxones.present? && @taxones.length > 0 %>
  <div id="clasificacion" class="align-items-center d-flex px-3" style="overflow-x: auto;">
    <!--button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-left"></i></button-->
    <%= dameArbolInicialSinIndentar(@taxones) %>
    <!--button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-right"></i></button-->
  </div>
<% end %>
