<% if @taxones.present? && @taxones.length > 0 %>
  <div id="clasificacion" class="align-items-center d-flex px-2" style="overflow-x: auto;">
    <button id="inicia-clasificacion" data-toggle="modal" title='Explorar la clasificación completa...' data-target="#modal_clasificacion_completa" data-taxon-id="<%= @especie.id %>" type="button" class="btn btn-outline-success btn-title border">
      <i class="flow-cascade-ev-icon h3"></i>
    </button>
    <%= dameArbolInicialSinIndentar(@taxones) %>
  </div>
<% end %>
