<%#= stylesheet_link_tag 'especies/arbol/arbol_identado' %>
<%#= javascript_include_tag 'especies/arbol/arbol_identado' %>
<% if @taxones.present? && @taxones.length > 0 %>
  <div class="">
    <table class="table table-sm table-responsive table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col" colspan="2">Taxonomía</th>
      </tr>
      </thead>
      <tbody class="" style="font-size: .85em;">
        <%= dameArbolInicialSinIndentar(@taxones) %>
    </table>
  </div>
<% end %>