<%#= stylesheet_link_tag 'especies/arbol/arbol_identado' %>
<%#= javascript_include_tag 'especies/arbol/arbol_identado' %>
<% if @taxones.present? && @taxones.length > 0 %>
  <div class="px-4 rounded bg-light shadow" style="overflow-x: auto;">
    <div id="clasificacion" class="d-flex align-items-center py-3" style="overflow-x: auto;">
      <button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-left"></i></button>
      <button type="button" class="btn rounded-circle position-absolute"><i class="fa fa-chevron-right"></i></button>
      <%= dameArbolInicialSinIndentar(@taxones) %>
    </div>
    <button id="inicia-clasificacion" type="button" class="btn btn-dark btn-outline-success position-absolute px-1 py-1 rounded-pill text-nowrap">
      <%#= link_to('Explorar la clasificación completa...', "/explora-por-clasificacion?especie_id=#{@especie.id}", { target: :_self }) %>
      <i class="flow-cascade-ev-icon h5"></i>
      Explorar la clasificación completa...
    </button>
  </div>

<% end %>
