<div class="row">
  <div class="col-md-12">
    <h4>Diagnóstico sobre las necesidades de información de la especie</h4><p class="text-justify"><%=@taxon.necesidadesEspecie.html_safe%></p>
  </div>
</div>
<hr>