<div class="row headCard" id="inicio">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="#clasiDescEsp" class="text-primary btn btn-link btn-ficha" style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Clasificación y descripción</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#distribucionEspecie" class="text-primary btn btn-link btn-ficha" style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Distribución</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#ambienteDeEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Tipo de ambiente en donde se desarrolla</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#biologiaEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Biología</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#ecologiaDemografiaEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Ecología y demografía</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#geneticaEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Genética</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#importanciaEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Importancia de la especie</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#estadoConservacionEspecie" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Estado de conservación de la especie</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#especiesPrioritariasConservacion" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Especies prioritarias para la conservación</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#necesidadesDeInformacion" class="text-primary btn btn-link btn-ficha " style="color: #033B59"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Necesidades de información</strong></a></div>

</div>
