<div class="row headCard" id="inicio">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-clasiDescEsp" class="text-primary btn btn-link btn-ficha text-primary"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Clasificación y descripción</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-distribucionEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Distribución</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-ambienteDeEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Tipo de ambiente en donde se desarrolla</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-biologiaEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Biología</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-ecologiaDemografiaEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Ecología y demografía</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-geneticaEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Genética</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-importanciaEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Importancia de la especie</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-estadoConservacionEspecie" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Estado de conservación de la especie</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-especiesPrioritariasConservacion" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Especies prioritarias para la conservación</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-necesidadesDeInformacion" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Necesidades de información</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-metadatos" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Metadatos</strong></a></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a id="btn-referencias" class="text-primary btn btn-link btn-ficha"><span aria-hidden="true" class="glyphicon glyphicon-stop"></span><strong>Referencias</strong></a></div>
</div>
