base: &base

  # URL del sitio
  site_url: http://localhost:4000/

  # Nombre del sitio y vista por default
  site_name: Bios
  site_name_short: Bios
  default_locale: es

  # Limite del fuzzy match
  limit_fuzzy : 10

  # IP de la cual recibira las peticiones
  ip_sql_server: [tus_ips]
  secret_sql_server: Tu cadena secreta

  # URL SNIB, se realizo un proxy reverse en su respectivo web server
  geoportal_url: http://localhost:9000/snib?qtype=getSpecies
  geoportal_informacion: http://www.conabio.gob.mx/snibgeoportal/Ejemplar.php?id=

  # URL geoserver
  geoserver_url: http://localhost:9001/mapcache/wms
  geoserver_descarga_url: http://www.conabio.gob.mx/informacion/explorer/cnb/wms?format=kmz&height=1024&width=1024&request=GetMap&service=wms

  # Servicio de busquedas por region
  ssig_api: http://www.enciclovida.mx:9002

  # URL BDI y URL basico para imagen
  bdi_imagenes: http://bdi.conabio.gob.mx
  bdi_fotoweb: http://bdi2.conabio.gob.mx/fotoweb/archives/5000-Banco%20de%20Imágenes/

  # URL de NaturaLista e iNaturalist
  naturalista_url: http://www.naturalista.mx
  # Es necesario la URL de iNaturalist para las observaciones, ya que en NaturaLista no salen todas
  inaturalist_url: http://www.inaturalist.org
  # El API nodejs de inaturalist
  inaturalist_api: http://api.inaturalist.org/v1
  # El paginado del API, es la maxima cantidad de momento
  inaturalist_por_pagina: 200

  # Coordenadas del rectangulo de la republica, para las obs. de NaturaLista
  swlat: 13.9234
  swlng: -118.4765
  nelat: 32.2499
  nelng: -85.6933

  # Proveedores de fotos
  photo_providers: [conabio, eol, wikimedia, flickr]

  # Usuario predeterminado para correr procesos desde los scripts de tools
  usuario: 1

  # Credenaciles generales por http
  username: tu-usuario
  password: tu-passwd

  # Servidor en produccion que tendra los kml y kmz, tienen que estar publicos
  enciclovida_url: http://enciclovida.mx
  enciclovida_api: http://api.enciclovida.mx

  # Servicio de busquedas por region y por especie
  enciclovida_api: http://enciclovida.mx:8000

  # Cache de los servicios que guarda en disco
  cache:
    observaciones_naturalista: 1.day
    ficha_naturalista: 1.day
    ejemplares_snib: 1.day
    fichas: 1.week
    iucn: 1.second
    busquedas_region: 1.year
    estadisticas:
      cuantas_especies_inferiores: 1.week
      estadisticas_naturalista: 1.second
      estadisticas_conabio: 1.second
      estadisticas_wikipedia: 1.second
      estadisticas_eol: 1.second
      estadisticas_maccaulay: 1.second
      estadisticas_SNIB: 1.second
      estadisticas_tropicos_service: 1.second
      estadisticas__mapas_distribucion: 1.second
    github:
      issues: 1.hour
    peces:
      filtros: 1.day
      catalogos: 1.day

  # Ruta del programa que genera los PDF's
  wkhtmltopdf_path: /usr/local/bin/wkhtmltopdf

  # Credenciales smtp
  smtp:
    user_name: usuario
    password: passwd
    domain: localhost
    address: localhost
    port: puerto

  # Recaptcha de google
  recaptcha:
    site_key: 99999999999999999999999999999999999999999
    secret_key: 99999999999999999999999999999999999999999

  google_analytics:
    tracker_id: UA-999999-9
    domain_name: yoursite.org

  iucn:
    api: http://apiv3.iucnredlist.org
    token: 999999999999999999999999999999999999999999999999
    timeout: 1

  github:
    api: https://api.github.com/repos/conabio/enciclovida

  # Url del api de ebird (proxima a desaparecer)
  ebird:
    api: https://ebird.org/media/averaves/catalog.json?taxonCode=

  # Url del partner's api de cornell
  cornell:
    api: https://api.macaulaylibrary.org/ml-catalog-api/ws3.0/partner/search/assets?
    api_rp: https://api.enciclovida.mx:8443/ml-catalog-api/ws3.0/partner/search/assets?
    key: 9999999999999999999999999999

  tropicos:
    api: http://services.tropicos.org/Name/
    key: 9999999999999999999999999999999999

  janium:
    location: "http://200.12.166.51/janium/services/soap.pl"
    namespace: "http://janium.net/services/soap"
    request: "AAAAAAAAAAAAAaaaaaaaaaaaaaaa"

  peces:
    anio: 2012

  # Es necesario especificar los nombres de las bases, para no utilizar establish_connection en los modelos
  bases:
    cat: catalogocentralizado
    ev: enciclovida
    pez: peces
    snib: snib
    metamares: infoceanos
    fichasespecies: fichasespecies
    plantid: plantas

  correo_admin: coco@nana.bo.bo

development:
    <<: *base

development_mac:
    <<: *base

test:
    <<: *base

production:
    <<: *base