login: &login
  adapter: mysql2
  pool: 5
  username:
  password:
  host:
  port: 3306

development:
  <<: *login
  database: enciclovida_development

test:
  <<: *login
  database: enciclovida_test

production:
  <<: *login
  database: enciclovida

fichas:
  <<: *login
  database: fichasespecies

snib:
  adapter: postgresql
  database: snib
  pool: 5
  username:
  password:
  host:
  port: 5434
