<div id="pestañas" class="panel">
  <div class="tab-pane panel-body panel-resultados" id="contenedor_especies">
    <legend>
      <h5 class="text-primary"><strong>Selecciona una especie para visualizar en el mapa.</strong></h5>
    </legend>
  </div>
</div>
