<legend><h5 class="text-primary"><strong>Elige una especie para visualizarla en el mapa.</strong></h5></legend>
<div class="panel-resultados col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contenedor_especies"></div>
