<legend><h5 class="text-primary">3) <strong>Elige una especie para visualizarla en el mapa.</strong></h5></legend>
<button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal">
  Descargar &nbsp;<span class="glyphicon glyphicon-save"></span>
</button>
<div class="panel-resultados col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contenedor_especies"></div>

<!-- Modal -->
<%#= render :partial => 'shared/descarga_taxa' %>