<legend><h5 class="text-primary">4) <strong>Aplica más filtros (opcional)</strong></h5></legend>

<%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>
    <div class="" id="panelFiltrosPt">
      <div class="text-left" id="panelFiltros">
        <%= render :partial => 'busquedas/busqueda_avanzada_vista_basica_default' %>
      </div>
    </div>
<% end %>