<h5>
  <span class="badge">4</span>
  <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#toggle-ba-content" aria-expanded="false" aria-controls="toggle-ba-content">
  <b>Aplica más filtros (opcional). </b><span class="caret"></span>
</button>
</h5>

<div id="toggle-ba-content" class="collapse">
  <div class="well">
  <%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>
      <div class="" id="panelFiltrosPt">
        <div class="text-left" id="panelFiltros">
          <%= render :partial => 'busquedas/busqueda_avanzada_vista_basica_default' %>
        </div>
      </div>
  <% end %>
  </div>
</div>
