<h5>
  <span class="badge">4</span>
  <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#toggle-ba-content" aria-expanded="false" aria-controls="toggle-ba-content">
    <b>Aplica más filtros (opcional). </b><span class="caret"></span>
  </button>
</h5>

<div id="toggle-ba-content" class="collapse">
  <div class="well row">
    <%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>

      <div class="checkbox col-xs-12 col-sm-5 col-md-4 col-lg-5">
        <h5><strong>Categorías de riesgo y comercio internacional</strong></h5>
        <%= checkboxEstadoConservacion %>
      </div>

      <div class="checkbox col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <h5><strong>Tipo de distribución</strong></h5>
        <%= checkboxTipoDistribucion %>
      </div>

      <div class="checkbox col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <h5><strong>Especies prioritarias para la conservación</strong></h5>
        <%= checkboxPrioritaria %>
      </div>

    <% end %>
  </div>
</div>
