<legend>
  <h5 class="text-primary"><strong>Especies por grupo icónico</strong></h5>
  <h6>Seleciona una región primero, y desues elige una grupo icónico.</h6>
  <div id="contenedor_grupos"></div>
</legend>
