<h5>
  <span class="badge">2</span>
  <a class="btn btn-link btn-sm disabled"><b> Selecciona un grupo de los siguientes:</b><br /> (el conteo indica el número de especies registradas)</a>
</h5>
<div id="contenedor_grupos" class="radio form-group"></div>
