<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#busqueda-region-tab" role="tab"><i class="glyphicon glyphicon-search"></i></a></li>
      <li><a href="#grupos-region-tab" role="tab"><i class="arachnida-ev-icon"></i></a></li>
      <li><a href="#distribucion-region-tab" role="tab" target="_blank"><i class="endemica-ev-icon"></i></a></li>
      <li><a href="#cat-riesgo-region-tab" role="tab"><i class="en-peligro-de-extincion-p-ev-icon"></i></a></li>
    </ul>

    <ul role="tablist">
      <li><a href="#settings" role="tab"><i class="glyphicon glyphicon-cog"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">

    <div class="sidebar-pane" id="busqueda-region-tab">
      <h1 class="sidebar-header">
        Busqueda por especie o región
        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
      </h1>
    </div>

    <div class="sidebar-pane" id="grupos-region-tab">
      <h1 class="sidebar-header">Filtra por grupo<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="distribucion-region-tab">
      <h1 class="sidebar-header">Filtra por tipo de distribución<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="cat-riesgo-region-tab">
      <h1 class="sidebar-header">Filtra por categoria de riesgo<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>
  </div>

</div>