<legend>
  <h5 class="text-primary"><strong>Regiones</strong></h5>
  <h6>Selecciona una región de la lista o encuentrala directo en el mapa</h6>
</legend>

<!--hr />
estatal<%#= check_box_tag 'division_estatal', '0' %>
municipal<%#= check_box_tag 'division_municipal', '0' %>
ANP<%#= check_box_tag 'division_anp', '0' %>-->
<div class="form-group">
	<div class="row">
		<div class="col-md-6">
		  <%= select_tag 'region_estado', options_for_select(@estados), prompt: '- - - Escoge un estado - - -', :class => 'busquedas form-control' %>
		</div>
	  <div class="col-md-6">
	    <%= select_tag 'region_municipio', nil, prompt: '- - - - - -', disabled: true, :class => 'busquedas form-control' %>
	  </div>
	</div>
<%#= select_tag 'region_anp', nil, prompt: '- - - - - -', disabled: true %>
</div>
