<h3>Regiones</h3>
<small>Selecciona una región de la lista, en el mapa o buscala por medio de la lupa</small>
<ul class="nav nav-tabs" id="lista_tipos_regiones">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="estado">
      Estados
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="municipio">
      Municipios
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="ANP">
      Áreas Naturales Protegidas
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="ecoregión">
      Ecoregiones
    </a>
  </li>
</ul>