<% content_for(:extrajs) do %>
    <%= javascript_include_tag "geodatos/d3.v3.min", "data-turbolinks-track" => true %>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js" data-turbolinks-track="true"></script>
    <%= javascript_include_tag "Control.FullScreen.js", "data-turbolinks-track" => true %>
<% end %>

<% content_for(:extracss) do %>
    <style>
        #map {
            height: 500px;
            width: 80%;
        }
    </style>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />
    <%= stylesheet_link_tag "MarkerCluster.Default", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "Control.FullScreen.css", "data-turbolinks-track" => true %>
<% end %>


<div id="contenedor_mapa" height="300px;">
    <div id="map" width="300px;"></div>
</div>

<script data-turbolinks-track="true">
    var loadMap = function (id)
    {
        var place = [19.29568189, -99.1843784];
        var map = L.map(id, {
            zoomControl: false
        });

        var zoom = L.control.zoom({
            zoomInTitle: 'Acercarse',
            zoomOutTitle: 'Alejarse'
        });

        // https://github.com/brunob/leaflet.fullscreen
        var fullscreen = L.control.fullscreen({
            position: 'topleft',
            title: 'Pantalla completa',
            titleCancel: 'Salir de pantalla completa'
        });

        map.addControl(zoom);
        map.addControl(fullscreen);

        var tile_url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
        var layer = L.tileLayer(tile_url, {
            attribution: 'OSM',
            noWrap: true
        });

        map.addLayer(layer);
        map.setView(place, 5);  // Default place and zoom

        map.locate({enableHighAccuracy: true})
                .on('locationfound', function(e){

                    var marker = L.marker([e.latitude, e.longitude], {draggable: true}).bindPopup('Tu ubicación aproximada, puede arrastrar este marcador');
                    var circle = L.circle([e.latitude, e.longitude], 1*1000, {
                        weight: 1,
                        color: 'blue',
                        fillColor: '#cacaca',
                        fillOpacity: 0.2
                    });

                    map.addLayer(marker);
                    map.addLayer(circle);
                    map.setView([e.latitude, e.longitude], 15);

                    marker.on('dragstart', function(e){
                        console.log('dragstart');
                    });
                    marker.on('drag', function(e){
                        console.log('drag');
                        circle.setLatLng(e.target.getLatLng());
                    });
                    marker.on('dragend', function(e){
                        console.log('dragend');
                    });

                    console.log(e);
                })
                .on('locationerror', function(e){
                    console.log(e);
                    alert("Lo sentimos, no pudimos detectar tu ubicación. Inténtalo más tarde.");
                });
    };

    loadMap('map');

</script>
