<div class='nested-fields'>

    <div class="form-group row hidden fichas_taxon_legislaciones_legislacionId">
      <div class="col-sm-9">
        <input class="form-control hidden" type="hidden" name="fichas_taxon[legislaciones_attributes][new_legislaciones][legislacionId]"
               id="fichas_taxon_legislaciones_attributes_new_legislaciones_legislacionId" />
      </div>
    </div>

  <div class="form-group row hidden fichas_taxon_legislaciones_especieId form-group-valid"><div class="col-sm-9"><input class="form-control is-valid hidden" type="hidden" value="3" name="fichas_taxon[legislaciones_attributes][new_legislaciones][especieId]" id="fichas_taxon_legislaciones_attributes_new_legislaciones_especieId" /></div></div>
    <div class="form-group row string optional fichas_taxon_legislaciones_nombreLegislacion"><label class="col-sm-3 col-form-label string optional" for="fichas_taxon_legislaciones_attributes_new_legislaciones_nombreLegislacion">Nombrelegislacion</label><div class="col-sm-9"><input class="form-control string optional" type="text" name="fichas_taxon[legislaciones_attributes][new_legislaciones][nombreLegislacion]" id="fichas_taxon_legislaciones_attributes_new_legislaciones_nombreLegislacion" /></div></div>

  <%= link_to_remove_association 'Borrar legislación', f, :class => 'btn btn-danger btn-sm' %>
</div>