<div class='nested-fields'>


  Legislación

  <%=
    f.object.inspect
    # @employee_list = Fichas::Pais.all
    # f.association :origen, :collection => @employee_list, :label_method => :full_name, :value_method => :id, as: :check_boxes
  %>
</div>
