<div class="row showInfo">
  <div class="col-md-12 text-justify">

    <h6>Variabilidad genética</h6>
    <ul>
      <li><strong>Descripción de la variabilidad genética</strong> <p><%=convierte_a_HTML(@historiaNatural.variabilidadGenetica)%></p></li>
      <li><strong>Marcadores utilizados para describir la variabilidad</strong> <p><%=convierte_a_HTML(@historiaNatural.marcadorGenetico)%></p></li>
    </ul>
    <br>

    <h6>Secuencias publicadas para la especie</h6>
    <p><%=convierte_a_HTML(@historiaNatural.secuencias)%></p></p>
    <br>

    <h6>MEXBOL/Código de barras</h6>
    <p><%=convierte_a_HTML(@historiaNatural.mexbol)%></p>
  </div>
</div>