<h1>Listing roles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |rol| %>
      <tr>
        <td><%= link_to 'Show', rol %></td>
        <td><%= link_to 'Edit', edit_rol_path(rol) %></td>
        <td><%= link_to 'Destroy', rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rol', new_rol_path %>
