<%= form_for(@especie_catalogo) do |f| %>
  <% if @especie_catalogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@especie_catalogo.errors.count, "error") %> prohibited this especie_catalogo from being saved:</h2>

      <ul>
      <% @especie_catalogo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
