<h1>Listing especies_catalogo</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @especies_catalogo.each do |especie_catalogo| %>
      <tr>
        <td><%= link_to 'Show', especie_catalogo %></td>
        <td><%= link_to 'Edit', edit_especie_catalogo_path(especie_catalogo) %></td>
        <td><%= link_to 'Destroy', especie_catalogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especie catalogo', new_especie_catalogo_path %>
