<%= render :partial => 'usuarios/filtros_vista_basica_busqueda_basica' %>
<%= render :partial => 'usuarios/filtros_vista_basica_busqueda_avanzada' %>
    <div>
      <%= button_tag 'Limpiar búsqueda', :id => :limpiar, :class => "form-control btn btn-default btn-sm", data: { disable_with: 'Limpiando...' } %>
    </div>