#map {
  min-height: 650px;
  max-height: 650px;
}

#grupos-pop [class*="ev-icon"],
#grupos-tab [class*="ev-icon"],
#filtros-especies [class*="ev-icon"] {
  background-image: none !important;
}

#grupos-tab input {
  display: none;
}
#grupos-tab span {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 35%;
  transition: border-radius 0.3s ease-in-out;
}

#grupos-tab input + span {
  border: 2px solid transparent;
  padding: 2px;
  transition: border-radius 0.3s ease-in-out;
}

#grupos-tab input:checked + span {
  border-radius: 50% !important;
  border: 2px solid #991705 !important;
}

#grupos-tab input + span:hover {
  border: 2px solid rgba(153, 23, 5, 0.4);
}

#grupos-tab input + span > span {
  border: 1px solid transparent;
}

#grupos-tab input:checked + span > span {
  border-radius: 50% !important;
  border: 1px solid #991705 !important;
}

#grupos-tab input + span:hover > span {
  border: 1px solid rgba(153, 23, 5, 0.4);
}
#busqueda_region{left: 0;}
#busqueda_region, #contenedor_especies, #contenedor_resultados{
  top: 0;
  z-index: 400;
  pointer-events: none!important;
}
#busqueda_region *, #filtros-especies, #snib, #drag,  #opciones_resultados *, .result-img-container, .result-nombre-container{pointer-events: auto;}
#contenedor_especies{right: 0;}

[id^=especie-container]{background-color: #fafafa30;}
[id^=especie-container]:hover{background-color: #fafafaca;}

#contenedor_resultados{
  right: 0;
  top: 0;
  bottom: 0;
}
#drag{
  left: -10px;
  top: 2rem;
  bottom: 2rem;
  width: 8px;
  cursor: col-resize;
  background-color: #333333;
}
#filtros-especies {}

#contenedor_especies i.ev1-ev-icon {
  transition: all 0.2s ease;
  vertical-align: baseline;
  font-size: 5rem;
  color: #ababab;
}
div.result-img-container {height: 10rem;}
#opciones_resultados{bottom: 0;}

.boton-especie-registros {
  left: 0;
  bottom: 0;
}

#nombre-region-hover {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  display: none;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.6;
}

#contenedor_especies div.result-img-container img {
  object-fit: cover;
  height: 10rem;
  width: 100%;
}

#soulmate {
  width: 500px;
  top: 35px;
}
