#map {
  min-height: 90vh;
  max-height: 90vh;
}

#grupos-pop [class*="ev-icon"],
#grupos-tab [class*="ev-icon"],
#filtros-especies [class*="ev-icon"] {
  background-image: none !important;
  font-size: 1.75em!important;
}

#grupos-tab input {
  display: none;
}
#grupos-tab span {
  /*font-size: 2rem;*/
  cursor: pointer;
  border-radius: 35%;
  transition: border-radius 0.3s ease-in-out;
}

#grupos-tab input + span {
  border: 2px solid transparent;
  padding: 2px;
  transition: border-radius 0.3s ease-in-out;
}

#grupos-tab input:checked + span {
  border-radius: 50% !important;
  border: 2px solid #991705 !important;
}

#grupos-tab input + span:hover {
  border: 2px solid rgba(153, 23, 5, 0.4);
}

#grupos-tab input + span > span {
  border: 1px solid transparent;
}

#grupos-tab input:checked + span > span {
  border-radius: 50% !important;
  border: 1px solid #991705 !important;
}

#grupos-tab input + span:hover > span {
  border: 1px solid rgba(153, 23, 5, 0.4);
}
#busqueda_region{left: 0;}
#busqueda_region, #contenedor_especies{
  top: 0;
  z-index: 1050;
  pointer-events: none!important;
}
.popover{
  max-width: 405px!important;
}
#busqueda_region *, #filtros-especies, #snib, /*#drag,*/  #opciones_resultados *, .result-img-container img, .result-nombre-container, #verMasEspecies *{pointer-events: auto;}
#contenedor_especies{}

[id^=especie-container]{/*background-color: #fafafa30;*/}
[id^=especie-container]:hover{background-color: #A0C11F;}
.result-nombre-container{/*background-color: #FAFAFA;*/ height: 2.6rem; /*overflow-y: auto;*/ /*top: 0; left: 0;*/}

/*#contenedor_resultados{
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-out .25s;
}
#drag{
  left: -20px;
  z-index: 1;
}*/
/*#drag button{cursor: pointer;}*/
#filtros-especies{}

#contenedor_especies i.ev1-ev-icon {
  transition: all 0.2s ease;
  vertical-align: baseline;
  font-size: 5rem;
  color: #ababab;
}
/*div.result-img-container {height: 10rem;}*/
#opciones_resultados{bottom: 0;}

.boton-especie-registros {
  /*left: 0;*/
  /*bottom: 0;*/
  outline: none!important;
}

#nombre-region-hover {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  display: none;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.6;
}

#contenedor_especies div.result-img-container img {
  object-fit: cover;
  object-position: top;
  height: 8rem;
  width: 100%;
}

#loading{
  top: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.3);
}
#soulmate{
  top: 43px;
  margin-left: 0.5rem;
}
/*.fa-file-excel-o, .fa-file-pdf-o{ font-size: 1.5em!important; }*/