/* Estilo de la ficha: contenedor en general */
#ficha {
  /*margin-bottom: 30px;*/
  /*margin-top: 30px;*/
    /*background-color: white;*/
}

/* Color de encabezado con botones a secciones cuando est치 fijo */
.headCard {
  /*padding: 20px;*/
  /*background-color: #ececec;*/
}

/* Color de encabezado con botones a secciones cuando est치 flotante*/
.headCardFixed {
  /*z-index: 10;*/
  /*position: fixed;*/
  /*top:0; left:0;*/
  /*width: 100%;*/
}

/* Color de las secciones de informaci칩n */
.xSection {
    cursor: pointer;
    width: 100%;
    /*border-width: 1px 0 0 0;
    border-color: rgba(119, 27, 34, .5);
    border-style: dashed;*/
    transition: 0.5s;
}

.xSection.active h5:before {
    content: "\2212"; /* Para mostrar "+" */
}


.xSection h5:before{
    content: '\002B';
    font-weight: bold;
    float: left;
    margin-right: .75em;
}

/*#ficha h1, #ficha h2, #ficha h3, #ficha h4, #ficha h5, #ficha h6 {
    border-bottom: 0;
    margin: 10px 0!important;
}*/

/* Contenido de una secci칩n */
.showInfo {
    /*padding: 0 1px 1px 0;*/
    /*display: block;*/
    transition: max-height 0.2s ease-out;
}

.btn-ficha {
    color: #033B59;
}

.btn-ficha strong {
    padding-left: 10px;
}

.ficaBordeSeparador {
    border-color: #C1C1C1;
    border-right-style: dashed;
}

/*T1: en las que hay secciones con espacios a los lados*/
.fichaSeccionApartadosT1 {
  /*background-color: #E5E5E5;*/
  /*padding: 20px 30px 30px 15px;*/
}

/*T2: en las que hay secciones sin espacios de padding*/
.fichaSeccionApartadosT2 {
  /*background-color: #E5E5E5;*/
  /*padding: 30px;*/
}