#map {
    min-height: 750px;
    width: 100%;
}
.panel-resultados {
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
}
.result-nombre-container {
    margin: -5px 0px 0 0;
    opacity: 0.85;
    line-height: 11px;
    min-height: 28px;
    font-size: 11px;
    /*font-weight: bold;*/
}
sub{
    border-radius: 8px;
    color: #333333;
    background-color: #dddddd;
    padding: 2px 4px;
    margin-left: -10px;
    bottom: -2em;
    font-size: .8em;
    font-weight: bold;
}
div.result-img-container {
   margin: 0 2px;
}
#especies img{max-height: 120px;}

.region, .selecciona-region {
    fill: black;
    opacity: .2;

    pointer-events: all!important;
}
.region {
    stroke: #ffff00;
    stroke-width: 1px;
}
.region:hover {
    stroke: #ffff00;
    opacity: .3;
    stroke-width: 4px;
}
.selecciona-region {
    stroke: #ffff00;
    stroke-width: 4px;
    opacity: .3;
}
#toggle-ba-icon {
/*    font-size: 1.4em;*/
/*    cursor: pointer;*/
}
#contenedor_grupos sub {
    bottom: -.75em;
/*    left: -3.0em;*/
}
#contenedor-nombre-region {
    font-weight: bold
}
.div-icon-snib {
    color: #800000;
    font-size: 1.8em;
}
.div-icon-snib-default {
    color: #800000;
    font-size: 1.2em;
}
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large{
    background-color: #d8b2b2;
    opacity: 1!important;
}
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div{
    background-color: #800000;
}
.marker-cluster-small div span, .marker-cluster-medium div span, .marker-cluster-large div span{
    color: white;
}



.checkbox input:checked{/*, .radio input:checked{*/
    display: block;
    right: 0;
}

.explora_por{
    /*display: inline-block;*/
    float: left;
    /*box-shadow: 2px 2px #d5d5d5;*/
    margin-right: 10px;
}

.animalia-ev-icon, .plantae-ev-icon, .fungi-ev-icon, .prokaryotae-ev-icon, .protoctista-ev-icon, .mammalia-ev-icon, .aves-ev-icon, .reptilia-ev-icon, .amphibia-ev-icon, .actinopterygii-ev-icon, .petromyzontidae-ev-icon, .myxini-ev-icon, .chondrichthyes-ev-icon, .cnidaria-ev-icon, .arachnida-ev-icon, .myriapoda-ev-icon, .annelida-ev-icon, .insecta-ev-icon, .porifera-ev-icon, .echinodermata-ev-icon, .mollusca-ev-icon, .crustacea-ev-icon, .invertebrados-ev-icon, .bryophyta-ev-icon, .pteridophyta-ev-icon, .cycadophyta-ev-icon, .gnetophyta-ev-icon, .liliopsida-ev-icon, .coniferophyta-ev-icon, .magnoliopsida-ev-icon{
    background-image: none;!important;
    font-size: 1.5em;
    border-radius: 25px;
}