#map {
    min-height: 600px;
    width: 100%;
}
#especies img{
    max-height: 100px;
}
#contenedor_especies h5{
    font-size: small;
}
.region, .selecciona-region {
    fill: black;
    opacity: .2;

    pointer-events: all!important;
}
.region {
    stroke: #ffff00;
    stroke-width: 1px;
}
.region:hover {
    stroke: #ffff00;
    opacity: .3;
    stroke-width: 4px;
}
.selecciona-region {
    stroke: #ffff00;
    stroke-width: 4px;
    opacity: .3;
}
#toggle-ba-icon {
/*    font-size: 1.4em;*/
/*    cursor: pointer;*/
}
#contenedor_grupos sub {
    bottom: -2.2em;
    left: -3.0em;
}
#contenedor-nombre-region {
    font-weight: bold
}
.div-icon-snib {
    color: #800000;
    font-size: 1.8em;
}
.div-icon-snib-default {
    color: #800000;
    font-size: 1.2em;
}
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large{
    background-color: #d8b2b2;
    opacity: 1!important;
}
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div{
    background-color: #800000;
}
.marker-cluster-small div span, .marker-cluster-medium div span, .marker-cluster-large div span{
    color: white;
}