/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "custom_bootstrap";
@import "bootstrap";
@import "bootstrap/theme";

@import 'dashboard';
@import 'especies';
@import 'flickr_photos';
@import 'listas';
@import 'soulmate';
@import 'webservices';
@import 'scrolling';
@import 'comentarios';

@import 'enciclovida_font_icons';

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#img-fondo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
}

/*Brandbar es loa plequita negra al inicio de cada página*/
#brandBar {
    background-color: rgba(51, 51, 51, 0.75);
}
#brandBar > div.row:nth-child(2) > div{
    margin-top: 10px;
    font-size: .75em;
    margin-bottom: 20px;
}
#brandBar > div.row:nth-child(2) > div ul.nav a{
    text-shadow: 2px 2px 6px #999;
    margin-right: 0px;
    color: #bababa;
}
#brandBar > div.row:nth-child(2) > div ul.nav li{
    background-color: rgba(62, 62, 62, 0.60);
    margin-right: 2px;
}
#brandBar > div.row:nth-child(2) > div ul.nav li:hover a, #brandBar > div.row:nth-child(2) li.active a{
    color: #444444!important;
    font-weight: bolder;
}
#brandBar > div:nth-child(1) { /*menú arriba main*/
    margin: 0px auto 0px auto;
}

#brandBar .btn-group > a{
    font-size: .80em;
    margin-left: 2px;
}

#mainFooter{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(242, 240, 237, 0.6);
    font-size: .75em;
    border-radius: 1px;
    padding: 10px 20px 5px 20px;
}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('/fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('/fonts/texgyreadventor-regular-webfont.eot'),
         url('/fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('/fonts/opensans-regular-webfont.eot'),
    url('/fonts/opensans-regular-webfont.woff') format('woff'),
    url('/fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#notice, .enlaces_acciones, #bitacora, .notice {
    text-align: center;
}

.notice {
    color: green;
}

.tabla_formato {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.tabla_paginacion {
    text-align: right;
}

#menu
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#menu li
{
    float:left;
}

#menu li a
{
    display:inline-block;
    width:150px;
    background-color:#dddddd;
}


.readmore {
    font-weight: bold;
    white-space: nowrap;
    color: #039;
}

.readmore:after {
    content: '\0020 \00BB';
}

.dialog {width:250px; height: 50px;}

.container { width: 800px; margin: 0 auto; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
#nombre_cientifico2 { font-size: 14px; padding: 3px; border: 1px solid #CCC; display: block; margin: 20px 0; }

.link_azul:link {color: #0000ff; text-decoration:none; }
.link_azul:active {color-background: #0000ff; text-decoration: none; }
.link_azul:visited {color: #0000ff; text-decoration: none; }
.link_azul:hover {background-color: #ffffff; text-decoration: none; }


input.gsc-input {
    border-color: #666666;
}

input.gsc-search-button {
    border-color: #666666;
    background-color: #c0c0c0;
}

#pestañas div.panel-body{
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 2.5em;
}

.irBusquedaAvanzada {
    margin: -24px 0px 0px 78px;
}
.irBusquedaAvanzada:hover {
    margin-top: -4px;
    margin-bottom: -9px;
}
.irBusquedaAvanzada > a {
    font-weight: bold;
    font-size: .8em;
}
.irBusquedaAvanzada:hover > a > span:nth-child(2) {
    display: none !important;
}
/*Lo sigueinte pertenece al mapa, hay que acomodarlo donde es debido (crear un content for shalala)*/
/*Lo mas seguro es que deba ir en  el css de especies*/
div#contenedor_mapa > div.embed-responsive {
    background-color: #f7f7f7;
    padding-top: 6px;
    margin-left: -6px;
    margin-right: -6px;
}
div#contenedor_mapa{
    margin-bottom: 10px;
}
div#contenedor_mapa h6{
    margin: 3px 6px 0 0;
}
div#map{
    border-radius: 3px;
}

.btn-title:hover {
  position: relative;
}
.btn-title[tooltip-title]:hover:after {
    content: attr(tooltip-title);
    font-size: small;
    padding: 1px 4px;
    color: #800000;
    position: absolute;
    left: 50%;
    top: 95%;
    white-space: nowrap;
    z-index: 9999;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 2px #030303;
    -webkit-box-shadow: 0px 0px 2px #030303;
    box-shadow: 0px 0px 2px #030303;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #fafafa));
    background-image: -webkit-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -moz-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -ms-linear-gradient(top, #eeeeee, #fafafa);
    background-image: -o-linear-gradient(top, #eeeeee, #fafafa);
}
/*para los iconitos de la busqueda básica*/
#brandBar .btn-title[tooltip-title]:hover:after {
    left: initial;
    right: 50%;
    top: 95%;
}
#acercaDe dt, #acercaDe dd{
    white-space: normal;
    line-height: 180%;
}

#acercaDe dd:nth-of-type(odd), #acercaDe dt:nth-of-type(even){
    background-color: #e9e9e9;
}
#advertencias dd:nth-of-type(odd), #advertencias dt:nth-of-type(even){
    background-color: #e4cdb3;
}
.enciclovida_correo-ev-icon:before{
  width: 10em !important;
  text-decoration: underline;
}
.biomex-ev-icon:before, .conabio-ev-icon:before{
  width: 2.5em !important;
  font-size: 4.5em;
  color: #eaeaea;
  margin: 0 15px;
}
