/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= //require_tree .
 *= require bootstrap.css
 *= require bootstrap-theme.css
 *= require dashboard
 *= //require sticky-footer
 *= //require bootstrap.css.map
 *= //require bootstrap-theme.css.map
 *= require especies
 *= require flickr_photos
 *= require listas
 *= require soulmate
 *= require webservices
 *= require fontello
 *= require fontello-codes
 *= require fontello-embedded
 *= require fontello-ie7
 *= require fontello-ie7-codes
 *= require scrolling
 * require jquery-ui
 *= require comentarios
 */

/*
* require jquery-ui
* require jquery-ui.structure
* require dataTables/src/demo_table_jui
*/

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("app/fondos/01.jpg");
    background-size: cover;
}

#img-fondo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
}

#brandBar{
    padding-top: 10px;
}
#brandBar > div{
}
#brandBar > div:nth-child(2) { /*menú arriba main*/
    width: 80%;
    margin: 10px auto 0 auto;
}
#brandBar div > a > img {
    max-height: 80px;
}
/*#brandBar div > div:first-child  img {*/
    /*padding: 5px 0px 5px 0;*/
/*}*/
/*#brandBar div > div:nth-child(2)  img{*/
    /*padding: 20px 0px 10px 0;*/
/*}*/
/*#brandBar div > div:nth-child(3)  img {*/
    /*padding: 10px 0px 10px 0;*/
/*}*/
#brandBar > div > ul {
    font-size: .75em;
    font-weight: bold;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    /*border-bottom-right-radius: 1.5em;*/
    /*border-bottom-left-radius: 1.5em;*/
    /*background-color: rgba(223, 237, 228, 0.9);*/
}
#brandBar > div > ul > li > a {
    /*padding: 2px 15px;*/
}


div.footer > div {
    width: 60%;
    margin: 20px auto;
    background-color: rgba(223, 237, 228, 0.4);
    border-top-right-radius: 2.5em;
    border-top-left-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
    padding: 5px;
}
div.footer > div > p{
    /*color: #800000;*/
    font-size: .75em;
}


@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.eot'),
         url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.eot'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#notice, .enlaces_acciones, #bitacora, .notice {
    text-align: center;
}

.notice {
    color: green;
}

.tabla_formato {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.tabla_paginacion {
    text-align: right;
}

#menu
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#menu li
{
    float:left;
}

#menu li a
{
    display:inline-block;
    width:150px;
    background-color:#dddddd;
}


.readmore {
    font-weight: bold;
    white-space: nowrap;
    color: #039;
}

.readmore:after {
    content: '\0020 \00BB';
}

.dialog {width:250px; height: 50px;}

.container { width: 800px; margin: 0 auto; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
#nombre_cientifico2 { font-size: 14px; padding: 3px; border: 1px solid #CCC; display: block; margin: 20px 0; }

.link_azul:link {color: #0000ff; text-decoration:none; }
.link_azul:active {color-background: #0000ff; text-decoration: none; }
.link_azul:visited {color: #0000ff; text-decoration: none; }
.link_azul:hover {background-color: #ffffff; text-decoration: none; }


input.gsc-input {
    border-color: #666666;
}

input.gsc-search-button {
    border-color: #666666;
    background-color: #c0c0c0;
}

#pestañas div.panel-body{
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 2.5em;
}

/*Lo sigueinte pertenece al mapa, hay que acomodarlo donde es debido (crear un content for shalala)*/
div#contenedor_mapa > div.embed-responsive {
    background-color: #f7f7f7;
    padding-left: 6px;
    padding-top: 6px;
    margin-right: -12px;
}
div#contenedor_mapa{
    padding-right: 6px;
}

div#map{
    border-radius: 5px;
}

.tabla_acerca {
    padding:10px;
}

.tabla_acerca th {
    padding: 10px;
    background: #800000;
    color: white;
}

.tabla_acerca td {
    padding: 10px;
}

.tabla_acerca tr:nth-child(odd) {
    background: #fff;
}

.icon-size {
    width: 1.5em;
}

.multicolumna{
    -moz-column-width: 10em;
    -moz-column-gap: 10px;
    -webkit-column-width: 10em;
    -webkit-column-gap: 10px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
}
.irBusquedaAvanzada {
    /*background-color: rgba(24, 214, 255, 0.5);*/
    /*background-color: rgba(204, 204, 204, 0.75);*/
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 0px solid #ccc;
    padding: 6px 38px 2px 40px;
    margin: -19px 40px 0px 78px;
    font-size: 75%;
    text-align: center;
    position: relative;
}
.irBusquedaAvanzada:hover {
    margin-top: 0px;
    margin-bottom: -8px;
}
.irBusquedaAvanzada:hover > span {
    display: none !important;
}
