/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
//@import "custom_bootstrap";
//@import "bootstrap";
//@import "bootstrap/theme";

//@import 'dashboard';
//@import 'especies';
//@import 'fichas';
//@import 'flickr_photos';
//@import 'listas';
@import 'boots4-upgrade/bootstrap-variable-overrides';
@import 'boots4-upgrade/boots4/bootstrap';
@import 'soulmate';
//@import 'webservices';
@import 'scrolling';
//@import 'comentarios';

@import 'enciclovida_font_icons';
@import "animation";

@import 'general';

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
#nombre_cientifico2 { font-size: 14px; padding: 3px; border: 1px solid #CCC; display: block; margin: 20px 0; }

input.gsc-input {border-color: #666666;}
input.gsc-search-button {border-color: #666666; background-color: #c0c0c0;}

.not-active {
  pointer-events: none;
  cursor: default;
}

.imagen_resultados {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 175px;
  margin: 5px -5px;
  background-position: 50% 20%;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.imagen_resultados h5{
  background-color: rgba(234, 234, 234, 0.8);
  margin: 0;
}
.imagen_resultados .ev1-ev-icon {
  font-size: 5em;
  color: #D4E4D7;
  position: absolute;
  bottom: 10px;
  right: 35%;
}

#brandBar .dropdown-menu{z-index: 20001;}