/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "custom_bootstrap";
@import "bootstrap";
@import "bootstrap/theme";

@import 'dashboard';
@import 'especies';
@import 'flickr_photos';
@import 'listas';
@import 'soulmate';
@import 'webservices';
@import 'scrolling';
@import 'comentarios';

@import 'enciclovida_font_icons';
@import "animation";

@import 'general';

#img-fondo {
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("fondos/01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#notice, .enlaces_acciones, #bitacora, .notice {text-align: center;}
.notice {color: green;}
.tabla_formato {width:800px;margin-left: auto;margin-right: auto;}
.tabla_paginacion {text-align: right;}
#menu{list-style-type:none; margin:0; padding:0; overflow:hidden;}
#menu li{float:left;}
#menu li a{display:inline-block; width:150px; background-color:#dddddd;}
.readmore {font-weight: bold; white-space: nowrap;color: #039;}
.readmore:after {content: '\0020 \00BB';}
.dialog {width:250px; height: 50px;}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
#nombre_cientifico2 { font-size: 14px; padding: 3px; border: 1px solid #CCC; display: block; margin: 20px 0; }
.link_azul:link {color: #0000ff; text-decoration:none; }
.link_azul:active {color-background: #0000ff; text-decoration: none; }
.link_azul:visited {color: #0000ff; text-decoration: none; }
.link_azul:hover {background-color: #ffffff; text-decoration: none; }


input.gsc-input {border-color: #666666;}
input.gsc-search-button {border-color: #666666; background-color: #c0c0c0;}

/*Lo sigueinte pertenece al mapa, hay que acomodarlo donde es debido (crear un content for shalala)*/
/*Lo mas seguro es que deba ir en  el css de especies*/
div#contenedor_mapa > div.embed-responsive {
    background-color: #f7f7f7;
    padding-top: 6px;
    margin-left: -6px;
    margin-right: -6px;
}
div#contenedor_mapa{
    margin-bottom: 10px;
}
div#contenedor_mapa h6{
    margin: 3px 6px 0 0;
}
div#map{
  border-radius: 3px;
  color: #333333;
}

.naturalista-2-ev-icon{margin-left: -1.39em;}
.naturalista-3-ev-icon{margin-left: -.4em;}
.naturalista-4-ev-icon{margin-left: 1.2em;}
.naturalista-2-ev-icon,.naturalista-3-ev-icon{color: #975324;}
.naturalista-ev-icon,.naturalista-4-ev-icon{color: #727732;}
.naturalista-ev-icon, .naturalista-2-ev-icon, .naturalista-3-ev-icon, .naturalista-4-ev-icon{font-size: 1.5em;}


.not-active {
  pointer-events: none;
  cursor: default;
}

.imagen_resultados {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 175px;
  margin: 5px -5px;
  background-position: 50% 25%;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.imagen_resultados h5{
  background-color: rgba(234, 234, 234, 0.8);
  margin: 0;
}
.imagen_resultados .ev1-ev-icon {
  font-size: 5em;
  color: #777777;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
