.node circle, .g_sym {
    cursor: pointer;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.sym_text  {
    font: 12px sans-serif;
}

.sym_text_small  {
    font: 10px sans-serif;
}

.node text {
    font: 12px sans-serif;
    text-anchor: middle;
    text-baseline:middle;
}

.scientific_name {
    font: 10px sans-serif;
    text-anchor: middle;
    text-baseline:middle;
    color: #7e7e7e;
}

line.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.link_common_name  {
    font: 12px sans-serif;
    fill: navy;
}

.link_scientific_name  {
    font: 10px sans-serif;
    fill: navy;
}

.node text a:hover, text a:active {
    text-decoration: underline;
    fill:darkred;
}

.svg-container_tree {
    width: 90%;
    /*padding-top: 400px; /* aspect ratio */
    height: 700px;
}

.svg-container_sym {
    width: 10%;
    /*padding-top: 400px; /* aspect ratio */
    height: 700px;
}

.svg-content-responsive {
    top: 10px;
    left: 0;
}