.panel-resultados{
    text-align: center;
}
.resultados-cientificos{
    text-align: left;
}
div.result-img-container{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin: 5px 0px;
    position: relative;
}
.panel-resultados div.result-img-container img{
    max-height: 215px;
    margin: -25px;
    transition: all .3s cubic-bezier(0.62, -0.93, 0.42, 1.85);
    vertical-align: middle;
    font-size: 3.75em;
}

.panel-resultados div.result-img-container i.ev1-ev-icon{
    transition: all .2s ease;
    vertical-align: baseline;
    font-size: 4em;
}
.panel-resultados div.result-img-container img:hover{
    transform:scale(.75);
    -ms-transform:scale(.75); /* IE 9 */
    -moz-transform:scale(.75); /* Firefox */
    -webkit-transform:scale(.75); /* Safari and Chrome */
    -o-transform:scale(.75); /* Opera */
}
.panel-resultados div.result-img-container i.ev1-ev-icon:hover{
    font-size: 3em;
}
.panel-resultados div.result-img-container .result-nombre-container{
    min-height: 44px;
    padding: 0;
    margin: 0;
    background-color: #ececec;
    position: relative;

}
.panel-resultados div.result-img-container h5{
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
.panel-resultados div.result-img-container a{
    cursor: pointer;
}


.nav:before, .nav:after {
    content: " ";
    display: inline-block;
    padding-bottom: 32px;
}

#resultados-container #busqueda_avanzada, #resultados-container #pestañas{
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .4s cubic-bezier(0.62, -0.93, 0.42, 1.85);
}
@media (min-width: 993px){
    #resultados-container.state-one #toggleFiltros:after{content: " Ocultar filtros de búsqueda";}
    #resultados-container.state-one #toggleFiltros span:before{content: "\e132";}
    #resultados-container.state-two #toggleFiltros:after{content: " Mostrar filtros de buúsqueda";}
    #resultados-container.state-two #toggleFiltros span:before{content: "\e131";}
    #resultados-container.state-one #busqueda_avanzada{
        width: 27%;
        display: block;
    }
    #resultados-container.state-two #busqueda_avanzada{
        width: 0%;
        display: none;
    }
    #resultados-container.state-one #pestañas{
        width: 73%;
    }
    #resultados-container.state-two #pestañas{
        width: 100%;
    }
}
@media (max-width: 992px){
    #resultados-container.state-one #toggleFiltros:before{content: "Mostrar filtros de búsqueda ";}
    #resultados-container.state-one #toggleFiltros span:after{content: "\e134";}
    #resultados-container.state-two #toggleFiltros:before{content: "Ocultar filtros de búsqueda ";}
    #resultados-container.state-two #toggleFiltros span:after{content: "\e133";}
    #resultados-container.state-one #busqueda_avanzada{
        width: 0%;
        display: none;
    }
    #resultados-container.state-two #busqueda_avanzada{
        width: 100%;
        display: block;
    }
    #resultados-container.state-one #pestañas{
        width: 100%;
    }
    #resultados-container.state-two #pestañas{
        width: 100%;
    }
}
