#contenedor_fotos{
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 4px;
    background-color: #F7F7F7;
}
#foto-carrusel{
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    min-height: 150px;
}
#foto-carrusel > p{
    /*width: 80%;*/
    /*position: absolute;*/
    /*float: right;*/
    /*right: 20%;*/
    border-radius: 3px;
    /*margin: 1px auto;*/
    padding: 0px;
    opacity: .6;
}
img#foto-carrusel-interna{
    display: inline-block;
    border-radius: 5px;
    min-height: 100px;
}
#foto-atribucion{
    font-size: .65em;
    display: block;
    border-radius: 3px;
    opacity: .6;
}
/*De momento los siguientes estilos no se ocupan, sin embargo,
no borrar por si llegasen a hacer falta*/
div#foto-carrusel-interna{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 1.5em;
    padding-bottom: 75%;
}
.frame {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: -72px;
    /*background-color: rgb(250,250,250);*/
    /*outline: 2px solid #000030;*/
}
.slidee {
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: rgb(250,250,250);*/
}
.slidee img {
    float: left;
    margin: 0 1px;
    padding: 0px;
    opacity: 0.5;
    border-radius: 2px;
    cursor: pointer;
    /*background-color: rgb(250,250,250);*/
    /*border: 2px solid #000030;*/
}
img.seleccionada {
    border-radius: 5px;
    /*border: 2px solid #800000;*/
    opacity: 1;
    padding: 1px;
}
.scrollbar {
    width: 100%;
    height: 7px;
    margin-top: 4px;
    background-color: #cdcdcd;
    border-radius: 4px;
}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #700000;
    border-radius: 4px;
    cursor: move;
}