// Place all the styles related to the Comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_mensaje, .error_mensaje {
  color: red;
  font-style: italic;
}
.comentarios th{
  vertical-align: middle !important;
  text-align: center !important;
}
.comentarios button.btn, .comentarios a.btn{
  padding: 3px 0px;
}

.comentarios thead tr:first-child button.btn{
  float: right;
  margin-top: -28px;
  margin-right: -10px;
}
.comentarios thead tr:first-child select.form-control{
  width: 93% !important;
}
.comentarios thead tr:first-child{
  float: left;
}