// Place all the styles related to the Comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_mensaje, .error_mensaje {
  color: red;
  font-style: italic;
}
.comentarios thead tr:nth-child(2) th{
  vertical-align: middle !important;
  text-align: center !important;
}
.comentarios .btn{
  border-radius: 1em;
}
.comentarios thead table th, .comentarios thead table td{
  text-align: center;
  vertical-align: middle;
}
.comentarios blockquote{
  font-size: 1em!important;
}
blockquote{
  margin:2px .4ex 2px .4ex;
  padding: 5px 10px;
  border-radius: 1.5em;
  border: 0px !important;
}
blockquote.op{
  background-color: #f3f3f3;
}
blockquote.respuesta{
  background-color: #dedede;
  text-align: right;
  border-left: 0px;
  font-style: italic;
}
.comentarios .tooltip-inner{
  text-align: left!important;
}