// Place all the styles related to the Comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_mensaje, .error_mensaje {
  color: red;
  font-style: italic;
}
.comentarios thead tr:nth-child(2) th{
  vertical-align: middle !important;
  text-align: center !important;
}
.comentarios .btn{
  border-radius: .5em;
}
.comentarios thead table th, .comentarios thead table td{
  text-align: center;
  vertical-align: middle;
}
a.historial.btn{
  float: right;
}
a.historial.btn > span{
  color: white;
  background-color: #800000;
  border-radius: 1em;
  text-shadow: none;
  padding: 0 5px;
}
.comentario-burbuja{
  margin-top:8px;
  margin-bottom:8px;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 80%;
  max-width: 80%;
  font-size: .9em;
  border: 0px !important;
}
.comentario-burbuja.op{
  -webkit-box-shadow: -4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  -moz-box-shadow: -4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  box-shadow: -4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  margin-right: 15%;
  background-color: #e2efcf;
}
.comentario-burbuja.respuesta{
  //background-color: #efefef;
  background-color: #dbe9ef;
  text-align: right;
  border-left: 0px;
  font-style: italic;
  -webkit-box-shadow: 4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  -moz-box-shadow: 4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  box-shadow: 4px 4px 6px -3px rgba(100, 100, 100, 0.50);
  margin-left: 15%;
}
.comentarios textarea{
  //width: 99%;
  //margin: 10px 0 10px 1%;
  //border-radius: 4px;
}
.comentarios .tooltip-inner{
  text-align: left!important;
}
.comentarios-generales-historial{
  margin:0 0 0 4px;
  border-left:1px #ccc solid;
  padding-left: 4px;
  display: none;
}