/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
 padding-top: 90px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  padding-top: 5px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;￼
}
@media (min-width: 872px) {
  .sidebar{
    position: fixed;
    top: 115px;
    bottom: 20%;
    left: 10px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: auto;
    overflow-y: visible; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(245, 245, 245, 0.75);
    border: 1px solid #998370;
    border-radius: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 31px;
  }
  .sidebar_lupa{
    height: 66px;
    /*margin-left: 61px;
    margin-right: -30px;*/
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 872px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
