/*
 * Estilos del tema de bootstrap con sidebar ALTAMENTE modificado, ya no tiene que ver con el original, muchas cosas han desaparecido (como el sidebar mismo)
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  padding-top: 5px;
}


@media (max-width: 1380px) {
    div#contenedor_mapa > div.embed-responsive, #contenedor_fotos, div#contenedor_mapa > div.embed-responsive h6{
        background-color: #282828 !important;
        color: #bababa !important;
    }
    .scrollbar .handle{
        background-color: #777 !important;
    }
}
.leaf{
    position: absolute;
    float: right;
    padding: 10px;
    border-top-left-radius: 4.5em;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 4.5em;
    height: auto !important;
    font-size: .85em;
    font-weight: bold;
    z-index: 1;
    }
#conNaturalista:hover > p{
    display: block;
}
#conNaturalista:hover > img, #conNaturalista > p{
    display: none;
}
#conNaturalista{
    border: 1px solid #DCBCBC;
    right: 0px;
}
#conNaturalista:hover{
    padding: 13px;
    min-width: 210px;
    top: -30px;
    right: -40px;
}
#conSugerencia{
    right: 0px;
    min-width: 300px;
}
.leaf p{
    margin: 0;
}
@media (max-width: 768px) {
    .leaf{
        position: relative;
        float: none;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    #conNaturalista > p{
        display: block;
    }
    #conNaturalista > img{
        display: none;
    }
    #conNaturalista:hover, #conNaturalista{
        padding: 10px;
        width: auto;
        top: 0px;
        right: 0px;
        border: 0px;
    }
    #conSugerencia{
        right: 0px;
        width: auto;
        text-align: center;
    }
}

/*
 * Main content
 */

.main {
    padding: 20px;
    /*filter: alpha(opacity=90); /* For IE8 and eaarlier */
    background-color: rgba(242, 240, 237, 0.85);
    border-radius: 10px;
    border: 1px solid rgba(58, 175, 66, 0.3);
}
@media (min-width: 872px) {
  .main {
    /*padding-right: 40px;
    padding-left: 40px;*/
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.panel-heading{
    cursor: ponter;
}