/*
 * Base structure
 */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  padding-top: 5px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
#sidebar {
  display: none;
}
@media (min-width: 500px) {
    .sidebar{
        display: block;
        overflow-x: inherit;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border: 0px solid #2c8532;
    }
    #filtros{
        position: fixed;
        top: 110px;
        z-index: 10000003;
        bottom: 20%;
        left: -58px;
        padding: 22px;
        border-top-left-radius: 0px;
        border-top-right-radius: 2.5em;
        border-bottom-left-radius: 2.5em;
        border-bottom-right-radius: 0px;
        background-color: rgba(223, 237, 228, 0.9);
    }
    #conNaturalista{
        position: absolute;
        z-index: 10000010;
        padding: 10px;
        border-top-left-radius: 2.5em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2.5em;
        background-color: rgba(237, 230, 223, 0.85);
        height: auto !important;
    }
    .sidebar_lupa, .sidebar_naturalista{
        height: 64px;
        width: auto !important;
    }
    #filtros > span, #conNaturalista > span, #conNaturalista > img{
        color: #800000;
        float: right;
        cursor: pointer;
    }
}

/* Sidebar navigation */
.nav-sidebar {
  /*margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  /*margin-left: -20px;*/
}
.nav-sidebar > li > a {
  /*padding-right: 20px;*/
  /*padding-left: 20px;*/
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  /*color: #fff;*/
  /*background-color: #428bca;*/
}


/*
 * Main content
 */

.main {
    padding: 20px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and eaarlier */
    background-color: #f2f0ed;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /*border: 1px solid #599008;*/
}
@media (min-width: 872px) {
  .main {
    /*padding-right: 40px;
    padding-left: 40px;*/
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.panel-heading{
    cursor: pointer;
}