// Place all the styles related to the especies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, ol {
  padding-left: 10px;
}

nested-fields
.busqueda
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.navbar .top-search input:focus {
  background: none repeat scroll 0 0 #F5F5F5 !important;
  box-shadow: none;
}

.leyenda {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

#tabla_form, #enlaces_taxonomicos {
  margin-left: auto;
  margin-right: auto;
}

.titulo, .pie, #acciones, .menu {
  text-align: center;
}

.elimina {
  text-align: right;
}

.aniade {
  text-align: left;
}

#vista_arbol, #busqueda {
  margin-left: auto;
  margin-right: auto;
}

#busqueda {
  width: 1000px;
}

#tabla_editar {
  display: block;
  height: 1000px;
  overflow-y: scroll;
}

.fieldset_regiones {background-color:#E8E8E8; border-style: solid;}
.fieldset_nombres {background-color:#F5F5F5; border-style: solid;}
.fieldset_bibliografias {background-color:#FFFFFF; border-style: solid;}

.sub_link_taxon:link {color: #0000ff; text-decoration:none; }
.sub_link_taxon:active {color-background: #0000ff; text-decoration: none; }
.sub_link_taxon:visited {color: #0000ff; text-decoration: none; }
.sub_link_taxon:hover {background-color: #ffffff; text-decoration: none; }

.link_azul:link {color: #0000ff; text-decoration:none; }
.link_azul:active {color-background: #0000ff; text-decoration: none; }
.link_azul:visited {color: #0000ff; text-decoration: none; }
.link_azul:hover {background-color: #ffffff; text-decoration: none; }

#menu
{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

#menu li
{
  float:left;
}

#menu li a
{
  display:block;
  width:150px;
  background-color:#dddddd;
}

