// Place all the styles related to the especies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.busqueda_atributo_radio{
  display: inline-table;
  //border: 1px solid #eee9ed;
  border-left: 1px solid #d0b091;
  border-top: 1px solid #d0b091;
  border-radius:2px;
  margin:0px 0px;
  padding: 1px;
  font-size: 220%;
}

.bar_reino{
  background-color: #ffffff;
  font-size: 270%;
}
.bar_animalia{
  background-color: #eee9dd;
}
.bar_plantae{
  background-color: #e2eedd;
}

.busqueda_atributo_radio_seleccionado, .busqueda_atributo_radio:hover {
  border-top: 1px solid #B3977D;
  border-left: 1px solid #d0b091;
  border-right: 1px solid #f7c3b2;
  border-bottom: 1px solid #f7c3b2;
  padding: 0px 1px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-radius:0px;
  border-top-right-radius: 2px;
  //border-bottom-right-radius: 0px;
  //background-color: #f7c3b2;
  /*background-color: rgba(244,119,29,.5);*/
  background-color: #ba9775;
  color: #333333 !important;
  //-webkit-transition: all 0.2s ease-in-out;
  //-o-transition: all 0.2s ease-in-out;
  //transition: all 0.2s ease-in-out;
}

.busqueda_atributo_imagen{
  padding: 0px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  width: 10%;
  /*opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.busqueda_atributo_imagen_seleccionado, .busqueda_atributo_imagen:hover{
  background-color: #ba9775;
  /*border: solid 1px #ba9775;*/
  opacity: 0.8;
  /*filter: alpha(opacity=80); /* For IE8 and earlier */
}
//Para que la foto no se salga del tamanio
//#photos img{max-width: 500px}

.abcd{/*Clase de prueba para los textos en los filtros en la busqueda avanzada vista general*/
  float: left;
  /*display: block !important;*/
}

#vista_arbol ul{
  padding-left: 25px;/* Cambios para NO mostrar el arreglo horizontal, descomentado para no afectar el funcionamiento en bios //ggonzale*/
  //padding: 0; /* Cambios para mostrar el arreglo horizontal, comentado para no afectar el funcionamiento en bios //ggonzale*/
}

nested-fields
.busqueda
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.navbar .top-search input:focus {
  background: none repeat scroll 0 0 #F5F5F5 !important;
  box-shadow: none;
}

.leyenda {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

#tabla_form, #enlaces_taxonomicos {
  margin-left: auto;
  margin-right: auto;
}

.titulo, .pie, #acciones, .menu, .digg_pagination {
  text-align: center;
}

.titulo-busqueda {
  font-size: 20px;
}

.elimina {
  text-align: right;
}

.aniade {
  text-align: left;
}

#vista_arbol, #busquedas {
  margin-left: auto;
  margin-right: auto;
}

#tabla_editar {
  display: block;
  height: 1000px;
  overflow-y: scroll;
}

.links_arbol {
  list-style-type: none;
}

.fieldset_regiones {background-color:#E8E8E8; border-style: solid;}
.fieldset_nombres {background-color:#F5F5F5; border-style: solid;}
.fieldset_bibliografias {background-color:#FFFFFF; border-style: solid;}

//.sub_link_taxon:link {color: #0000ff; text-decoration:none; }
//.sub_link_taxon:active {color-background: #0000ff; text-decoration: none; }
//.sub_link_taxon:visited {color: #0000ff; text-decoration: none; }
//.sub_link_taxon:hover {background-color: #ffffff; text-decoration: none; }

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: inline-block;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #2e6ab1;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }

/* Cambios para mostral el arreglo horizontal, comentado para no afectar el funcionamiento en bios //ggonzale
ul.nodo_mayor{
display: inline-table;
margin: 30px 20px;
padding: 0;
}

ul.nodo_mayor > ul > .links_arbol a:not(.sub_link_taxon){
  display: block;
  text-align: center;
}
*/


/*
* Los diferentes tamanios de iconos
*/
.icono-redis {
  width: 50px;
}

.icono-busqueda_avanzada {
  width: 75px;
}

.icono-arbol {
  width: 50px;
}

.icono-show_titulo {
  width: 90px;
}

#map
{
  margin: 0px auto;
  padding: 0px;
}
#map.fullscreen
{
  top: 0px;
  left: 0px;
  z-index: 10000;
}
#balloon
{
  color: rgb(3, 7, 48);
  margin: 0px;
  padding: 0px;
  font-size: small;
  line-height: 1em;
}
#balloon img{
  /*padding: 4px;*/
  /*background-color: #ffffff;*/
  /*border: 1px solid #dddddd;*/
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  position: absolute;
}
dt{
  font-size: 80% !important;
}
#balloon dl.dl-horizontal + span {
  float: right;
}

img.caracteristicas{
  width: 1.6em;
  opacity: 0.5;
  background-color: #777;
}