/* Estilo de la ficha: contenedor en general */
#ficha {
    margin-bottom: 30px;
    margin-top: 30px;
    /*background-color: white;*/
}

/* Color de encabezado con botones a secciones cuando está fijo */
.headCard {
    padding: 20px;
    background-color: #ececec;
}

/* Color de encabezado con botones a secciones cuando está flotante*/
.headCardFixed {
    z-index: 10;
    position: fixed;
    top:0; left:0;
    width: 100%;
}

/* Color de las secciones de información */
.xSection {
    cursor: pointer;
    width: 100%;
    border-width: 1px 0 0 0;
    border-color: rgba(119, 27, 34, .5);
    border-style: dashed;
    transition: 0.5s;
}

.xSection.active:after {
    content: "\2212"; /* Para mostrar "+" */
}


.xSection:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

#ficha h1, #ficha h2, #ficha h3, #ficha h4, #ficha h5, #ficha h6 {
    border-bottom: 0;  /* En los H's salía borde */
    margin: 10px 0!important;
}

/* Contenido de una sección */
.showInfo {
    padding: 0 1px 1px 0;
    display: block;
    transition: max-height 0.2s ease-out;
}

.btn-ficha {
    color: #033B59;
}

.btn-ficha strong {
    padding-left: 10px;
}