
.icon-anfibio:before { content: '\e800'; } /* '' */
.icon-mamifero:before { content: '\e801'; } /* '' */
.icon-bacterias:before { content: '\e802'; } /* '' */
.icon-arquea:before { content: '\e803'; } /* '' */
.icon-reptil:before { content: '\e804'; } /* '' */
.icon-aves:before { content: '\e805'; } /* '' */
.icon-peces:before { content: '\e806'; } /* '' */
.icon-tiburon_raya:before { content: '\e807'; } /* '' */
.icon-raya:before { content: '\e808'; } /* '' */
.icon-arana:before { content: '\e809'; } /* '' */
.icon-insectos:before { content: '\e80a'; } /* '' */
.icon-ciempies:before { content: '\e80b'; } /* '' */
.icon-lombrices:before { content: '\e80c'; } /* '' */
.icon-crustaceo:before { content: '\e80d'; } /* '' */
.icon-caracol:before { content: '\e80e'; } /* '' */
.icon-estrellamar:before { content: '\e80f'; } /* '' */
.icon-mariposa:before { content: '\e810'; } /* '' */
.icon-algas:before { content: '\e811'; } /* '' */
.icon-helecho:before { content: '\e812'; } /* '' */
.icon-cicada:before { content: '\e813'; } /* '' */
.icon-pino:before { content: '\e814'; } /* '' */
.icon-musgo:before { content: '\e815'; } /* '' */
.icon-pastos_palmeras:before { content: '\e816'; } /* '' */
.icon-magnolias:before { content: '\e817'; } /* '' */
.icon-hongos:before { content: '\e818'; } /* '' */
.icon-plantas:before { content: '\e819'; } /* '' */