@font-face {
  font-family: 'texgyreadventorregular';
  src: url('/fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
  url('/fonts/texgyreadventor-regular-webfont.eot'),
  url('/fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/texgyreadventor-regular-webfont.woff') format('woff'),
  url('/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('/fonts/opensans-regular-webfont.eot'),
  url('/fonts/opensans-regular-webfont.woff') format('woff'),
  url('/fonts/opensans-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
  background-color: #333333;
}

/*Brandbar es la plequita negra al inicio de cada página*/
#brandBar {
  background-color: rgba(51, 51, 51, 0.75);
}
#brandBar > div.row:nth-child(2) > div{
  margin-top: 10px;
  /*font-size: .75em;*/
  margin-bottom: 20px;
}
#brandBar > div.row:nth-child(2) > div ul.nav a{
  text-shadow: 2px 2px 6px #999;
  margin-right: 0px;
  color: #bababa;
  font-size: 12px;
}
#brandBar > div.row:nth-child(2) > div ul.nav li{
  background-color: rgba(62, 62, 62, 0.60);
  margin-right: 2px;
}
#brandBar > div.row:nth-child(2) > div ul.nav li:hover a, #brandBar > div.row:nth-child(2) li.active a{
  color: #444444!important;
  font-weight: bolder;
}
#brandBar > div:nth-child(1) { /*menú arriba main*/
  margin: 0px auto 0px auto;
}
#brandBar .btn-group > a{
  font-size: .80em;
  margin-left: 2px;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer.social {
  background-color:#104C5B;
}
footer.legal {
  background-color:#3D3D3D;
}
footer.legal p {
  font-size:12px;
}

/*para los iconitos de la busqueda básica*/
#brandBar .btn-title[tooltip-title]:hover:after {
  left: initial;
  right: 50%;
  top: 95%;
}
.irBusquedaAvanzada {
  margin: -24px 0px 0px 78px;
}
.irBusquedaAvanzada:hover {
  margin-top: -4px;
  margin-bottom: -9px;
}
.irBusquedaAvanzada > a {
  font-weight: bold;
  font-size: .8em;
}
.irBusquedaAvanzada:hover > a > span:nth-child(2) {
  display: none !important;
}

.btn-title:hover {
  position: relative;
}
.btn-title[tooltip-title]:hover:after {
  content: attr(tooltip-title);
  font-size: small;
  padding: 1px 4px;
  color: #800000;
  position: absolute;
  left: 50%;
  top: 95%;
  white-space: nowrap;
  z-index: 9999;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 2px #030303;
  -webkit-box-shadow: 0px 0px 2px #030303;
  box-shadow: 0px 0px 2px #030303;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #fafafa));
  background-image: -webkit-linear-gradient(top, #eeeeee, #fafafa);
  background-image: -moz-linear-gradient(top, #eeeeee, #fafafa);
  background-image: -ms-linear-gradient(top, #eeeeee, #fafafa);
  background-image: -o-linear-gradient(top, #eeeeee, #fafafa);
}
/*para los iconitos de la busqueda básica*/
#brandBar .btn-title[tooltip-title]:hover:after {
  left: initial;
  right: 50%;
  top: 95%;
}
#acercaDe dt, #acercaDe dd{
  white-space: normal;
  line-height: 180%;
}

.acercaDe dd:nth-of-type(odd), .acercaDe dt:nth-of-type(even){
  background-color: #e9e9e9;
}
.enciclovida_correo-ev-icon:before{
  font-size: large;
  width: 10em !important;
  text-decoration: underline;
}
.biomex-ev-icon:before, .conabio-ev-icon:before{
  width: 2.5em !important;
  font-size: 3em;
  color: #f7f7f7;
}
.enciclo-ev-icon:before, .vida-ev-icon:before, .conabio_blanco-ev-icon:before{
  margin: 0;
  font-size: 4.5em;
  width: 2em !important;
}
.ev1-ev-icon:after { margin-left: -1.2em; content: '\e861'; }
.enciclo-ev-icon:before, .conabio_blanco-ev-icon:before{
  color: #fdfdfd;
}
.vida-ev-icon:before{
  color: #889b45;
}
.vida-ev-icon:before{margin-left: -2em;}
.ev2-ev-icon:before{margin-left: -1.25em;}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #104C5B;
  background-color: #f7f7f7;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #829e3d;
}

/* Las pestañas regresaron al controller inicio, por ello se pegan aqui en gral*/
#pestañas{
  background-color: transparent;
}
.panel .nav-tabs > li:not(.active) > a, .panel .nav-stacked > li:not(.active) > a  {
  border: 1px solid #d3d3d3;
  color: #777777;
  background-color: rgba(247, 247, 247, 0.5);
}
.panel .nav-stacked > li.active > a {
  border: 1px solid #b3b3b3;
  color: #800000;
  background-color: #f7f7f7;
}
#pestañas div.panel-body{
  background-color: #f7f7f7;
  border: 1px solid #b3b3b3;
  padding: 1.5em;
  margin-top: -1px;
}



/* NOM-059*/
.sujeta-a-proteccion-especial-pr-ev-icon {color: #f6b134;}
.sujeta-a-proteccion-especial-pr-ev-icon:after{ content: '\e81e'; }

.amenazada-a-ev-icon {color: #ef8934;}
.amenazada-a-ev-icon:after { content: '\e820'; }

.en-peligro-de-extincion-p-ev-icon {color: #e10019;}
.en-peligro-de-extincion-p-ev-icon:after { content: '\e822'; }

.probablemente-extinta-en-el-medio-silvestre-e-ev-icon {color: #b3b3b3;}
.probablemente-extinta-en-el-medio-silvestre-e-ev-icon:after { content: '\e824'; }

.nom:after, .sujeta-a-proteccion-especial-pr-ev-icon:after, .amenazada-a-ev-icon:after, .en-peligro-de-extincion-p-ev-icon:after, .probablemente-extinta-en-el-medio-silvestre-e-ev-icon:after {color: #555555; margin-left: -1.2em;}
/*Termina NOM-059*/

/* IUCN*/
.iucn, .no-evaluado-ne-ev-icon:before,.datos-insuficientes-dd-ev-icon:before,.riesgo-bajo-lr-preocupacion-menor-lc-ev-icon:before,.riesgo-bajo-lr-casi-amenazado-nt-ev-icon:before,.vulnerable-vu-ev-icon:before, .en-peligro-en-ev-icon:before, .en-peligro-critico-cr-ev-icon:before, .extinto-en-estado-silvestre-ew-ev-icon:before, .extinto-ex-ev-icon:before{color: #de2302;}
.no-evaluado-ne-ev-icon, .datos-insuficientes-dd-ev-icon{color: #dc7e72;}
/* Termina IUCN*/

/* cites */
.cites, .apendice-i-ev-icon,.apendice-ii-ev-icon,.apendice-iii-ev-icon{color: #095417;}
/* Termina cites */

/* tipo distribucion */
.tipoDist,.endemica-ev-icon:before, .nativa-ev-icon:before, .introducida-ev-icon:before{color: #f7b234;}
.tipoDist:after, .endemica-ev-icon:after, .nativa-ev-icon:after, .introducida-ev-icon:after {color: #595926; margin-left: -1.2em;}
.endemica-ev-icon:after { content: '\e832'; }
.nativa-ev-icon:after { content: '\e834'; }
.introducida-ev-icon:after { content: '\e836'; }
/* Termina tipo distribucion */

/* prioritarias */
.alto-ev-icon, .medio-ev-icon, .bajo-ev-icon{color: #ff931e;}
.alto-ev-icon:after, .medio-ev-icon:after, .bajo-ev-icon:after {content: '\e837'; color: #555555; margin-left: -1.2em;}
/* termina prioritarias */

/* ambiente */
.marino-ev-icon{color: #255E54;}
.dulceacuicola-ev-icon{color: #58867B;}
.salobre-ev-icon{color: #81B49B;}
.terrestre-ev-icon{color: #777442;}
/* Termina ambiente */

.panel-disabled {color: #555555;}

.ev1-ev-icon:before { content: '\e84f'; } /* '' */
.vida-ev-icon:before { content: '\e850'; } /* '' */
.naturalista-3-ev-icon:before { content: '\e853'; } /* '' */
.naturalista-4-ev-icon:before { content: '\e854'; }
.enciclo-ev-icon:before { content: '\e860'; } /* '' */

.soulmate_icons i {font-size: 18px; margin: 0 3px;}



[class$="-ev-icon"]:after, [class*="-ev-icon "]:after{
  font-family: "enciclovida_font_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}