@import "bootstrap-sprockets";
@import "custom_bootstrap";
@import "bootstrap";
@import "bootstrap/theme";

@import 'soulmate';

@import 'enciclovida_font_icons';
@import "animation";

@import "general";

body {
  overflow-x: hidden;
}
header {
  text-align: left;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#buscadores > h4{
  padding: 5px 0;
  margin: 0px;
  background: rgba(51, 51, 51, 0.75);
  color: #fafafa;
}
.btn-busquedas{
  border-radius: 0px;
  padding: 15px 20px;
  box-shadow: 3px 3px 5px #424242;
  background: #ffffff60;
}
.btn-busquedas:hover{
  padding: 18px 25px;
  outline: 0;
  background: rgba(51, 51, 51, 0.75);
}
.btn-busquedas i:before, .btn-busquedas i:after{
  font-size: 2.5em!important;
  color: #423434 !important;
  text-shadow: 2px 2px 2px #cecece;
}
.btn-busquedas:hover i:before, .btn-busquedas:hover i:after{
  font-size: 2em!important;
  color: #fafafa !important;
  text-shadow: 2px 2px 2px #564c4c;
}
#news{
  color: #fafafa;
  padding: 0;
}
#news > h4{
  background-color: #829E3D;
  display: block;
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  font-weight: bold;
}
#news a{
  color: #d5e3e6;
  text-decoration: underline;
}
#issues{
  overflow-y: auto;
  overflow-x: hidden;
}
.issue{
  border-bottom: 1px solid rgba(213, 227, 230, 0.51);
  padding: 5px 15px 5px 10px;
  background-color: rgba(51, 51, 51, 0.75);
}
@media(min-width:768px){
  .btn-circle {
    visibility:visible !important;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px 0;
    border-radius: 50%!important;
    font-size: 40px;
    color: #f7f7f7;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
  .btn-circle:hover,.btn-circle:focus{
    outline: 0;
    color: #f7f7f7;
    background-color: rgba(255,255,255,.3);
  }
  .btn-circle span.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  .btn-circle:hover span.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.btn-circle {
  visibility:hidden;
}

section {
  padding: 40px 0;
}
#about {
  background-color:#829E3D;
  padding-bottom:0;
  font-size: 16px;
  line-height: 130%;
  font-weight:300;
}
#howto {
  background-color:#fff;
}

@media(min-width:768px) {
  #howto h2 {
    text-align:left;
  }
}

#howto .steps {
  text-align:center;
  padding:50px 0 0 0;
}

#howto .steps > div {
  height: 210px;
  display: block;
  background-image: url('/assets/portada/img_howto.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 290px;
  margin: 0 auto;
}
#howto .steps:nth-child(1) > div {background-position-x: 0px;}
#howto .steps:nth-child(2) > div {background-position-x: -290px;}
#howto .steps:nth-child(3) > div {background-position-x: -580px;}
#howto .steps p {
  font-weight:700;
  padding:25px 30px;
}

#content, #acercaDe {
  background-color:#F2ECD6;
  text-align:left;
}

#content h2 {
  padding-bottom:20px;
  color:#60332F;
}

.tabla-especiesdestacadas td {
  padding:10px 0;
}

div.promo-evida {
  margin:0;
  padding:0;
  height:300px;
  width:100%;
}

@media(min-width:768px) {
  div.promo-evida {
    height:310px;
    padding-top:10px;
  }
}
#participa {
	background-color:#464e54;
	}
#participa h2{
	color:#FFCC00;
	}
#participa a {
	color:#FFCC00;
	}		
@media(min-width:768px) {
	 #participa h2 {
		 text-align:left;
		 }
	}	
#participa .steps {
	text-align:center;
	padding:0;
	color:#fff;
	}	
#participa .steps p {
	font-weight:300;
	padding:20px 30px;
	}

aside.partners {
  background-color:#fff;
}

aside.partners div {
  padding-left:0;
}

aside.partners a{
  margin: 35px auto;
  background-image: url("/assets/portada/img_partners.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  display: block;
}

.partners ul {
  align-content:center;
  text-align:center;
  margin:0;
  padding:0;
}

.partners li {
  padding: 0 5px;
}

#logo_eol{background-position-x: 0px;width: 95px;}
#logo_wikipedia{background-position-x: -90px;width: 75px;}
#logo_gbif{background-position-x: -160px;width: 75px;}
#logo_leaflet{background-position-x: -230px;width: 135px;}
#logo_cites{background-position-x: -360px;width: 95px;}
#logo_iucn{background-position-x: -450px;width: 75px;}
#logo_redlist{background-position-x: -520px;width: 85px;}
#logo_naturalista{background-position-x: -600px;width: 140px;}
#logo_semarnat{background-position-x: -735px;width: 135px;}

/*Estilos del video como background de youtube*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400);
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.tv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity 0s;
}
.tv .screen.active {
  opacity: 1;
}
