.janium_records_comun, .janium_records_cientifico {
  display: table;
  width: 100%;
}

.janium_records-not-show {
  display: none
}

.record-header {
  border-style: solid;
  border-radius: 6px 6px 0 0;
  border-color: darkgray;
  border-width: 2px 2px 1px 2px;
  padding: 8px;
  margin-top: 25px;
}

.record-info {
  display: table;
  width: 100%;
  padding: 12px;
  border-style: solid;
  border-color: darkgray;
  border-width: 0 2px 0 2px;
}

.record-info img {
  height: 180px;
}

.record-more-info {
  display: table;
  width: 100%;
  padding: 12px;
  border-style: solid;
  border-color: darkgray;
  border-width: 0 2px 0 2px;
}

.record-footer {
  border-style: solid;
  border-radius: 0 0 6px 6px;
  border-color: darkgray;
  border-width: 1px 2px 2px 2px;
  padding: 8px;
  margin-bottom: 25px;
}

.detalle-oculto {
  display: none;
}

.portada {

}

.titulo {

}

.page-janium_records-selected {

}

.record {

}