#janium_records {

}

.record {

}

.record-header {
  background-color: darkgray;
  border-radius: 6px 6px 0 0;
  padding: 8px;
  margin-top: 25px;
  color: white;
}

.record-info {
  display: table;
  width: 100%;
  padding: 12px;
  background-color: #F4F4F4;
  /*border: 1px solid #ddd;*/
  /* text-transform: uppercase; */
}

.record-info img {
  height: 180px;
}

.record-more-info {
  display: table;
  width: 100%;
  padding: 12px;
  background-color: #F4F4F4;
  /*border: 1px solid #ddd;*/
}

.record-footer {
  background-color: darkgray;
  border-radius: 0 0 6px 6px;
  padding: 8px;
  margin-bottom: 25px;
}

.detalle-oculto {
  display: none;
}

.portada {

}

.titulo {

}