.taxon_description a:link { color: #36C; text-decoration:none; }
.taxon_description a:active { text-decoration: none; }
.taxon_description a:visited { color: #36C; text-decoration: none; }
.taxon_description a:hover { background-color: inherit; color: #009; text-decoration: none; }

.taxon_description
{
    font-family: sans-serif;
}

/* All Styles */

.taxon_description {
  overflow: hidden;
  width: 1000px;
}

.infobox,
.infobox_v2,
table.infobox,
.infobox_v2,
table.infobox_v2,
.thumb,
.tright {
    float: right;
    clear: right;
    margin-left: 20px;
    margin-bottom: 1em;
    background-color: #eee;
    padding: 1em;
}

.gallerybox .thumb {
    float: none;
    margin: 0;
    margin-bottom: 0.6em;
    padding: 0;
}

.sisterproject {
    width: 200px;
}

.sisterproject .floatleft {
    width: auto;
    float: left;
}

.taxon_description h1,
.taxon_description h2,
.taxon_description h3,
.taxon_description h4 {
    border-bottom: 1px solid #eee;
}

.taxon_description h3 {
    line-height: 1.5;
}

.wikipedia_description .dablink,
.wikipedia_description .rellink {
    margin: 1em;
    font-style: italic;
}

.wikipedia_description .editsection {
    display: none;
}

.wikipedia_description .thumbimage {
    margin-bottom: 0.6em;
}

.wikipedia_description .thumbcaption {
    font-style: italic;
}

.wikipedia_description .thumbcaption,
.wikipedia_description .noprint {
    color: #888;
}

.wikipedia_description .magnify {
    width: auto;
    float: right;
    margin-left: 1em;
}

.wikipedia_description table,
.wikipedia_description tr,
.wikipedia_description td,
.wikipedia_description th {
    border: 0 none;
}

.wikipedia_description th {
    padding: 0.4em;
}
