.contenedor-titulo-busquedas.peces-mariscos-comerciales{
  background: #544a22;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: bottom !important;
}
.btn-circle {
  visibility:visible !important;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%!important;
  font-size: 32px;
  color: #888888;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.btn-circle:hover,.btn-circle:focus{
  outline: 0;
  color: #f7f7f7;
  background-color: rgba(51, 51, 51, 0.3);
}
.btn-circle span.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover span.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.cobi-ev-icon:before{
  margin: 0 0 0 0;
  font-size: 2.25em;
  color: #fdfdfd;
}
.form-peces{
  margin-bottom: 15px;
}
#soulmate{min-width: 500px; margin-top: 0!important;}
.soulmate-type-suggestions li{
  padding: 1em 0;
  min-height: 125px;
}
.porGrupo span.disabled, .porGrupo input.disabled, .porSemaforo span.disabled, .porSemaforo input.disabled, .porZonas span.disabled, .porZonas input.disabled, .porZonas path.disabled, .porNombreGrupo input.disabled, .porNombreGrupo select.disabled, .porCriterios span.disabled, .porCriterios input.disabled, .porCriterios select.disabled{
  color: #888!important;
  background-color: #ddd!important;
  fill: #ddd!important;
}
.actinopterygii-ev-icon{color: #44997d}
.chondrichthyes-ev-icon{color: #284559}
.echinodermata-ev-icon{color: #865a3c}
.mollusca-ev-icon{color: #aa7961}
.crustacea-ev-icon{color: #a0837c}

.porSemaforo label:nth-of-type(4), .porSemaforo label:nth-of-type(5){
  font-size: smaller;
  margin-left: 1em;
}
.porGrupo input, .porSemaforo input, .porZonas label, #porCriterios .nom input, #porCriterios .iucn input{display: none;}
.porSemaforo input + span, .porGrupo input + span, #porCriterios .nom input + span, #porCriterios .iucn input + span{
  border: 2px solid transparent;
  font-size: 2.75em;
  background: none;
  cursor: pointer;
  border-radius: 25%;
  -webkit-transition: border-radius .3s ease-in-out;
  -moz-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}
.porSemaforo input:checked + span, .porGrupo input:checked + span, #porCriterios .nom input:checked + span , #porCriterios .iucn input:checked + span{
  color: #555555;
  border-radius: 50% !important;
  border: 2px solid #991705;
}
.porSemaforo input:checked + span:hover, .porGrupo input:checked + span:hover, #porCriterios .nom input:checked + span:hover , #porCriterios .iucn input:checked + span:hover{
  border: 2px solid #991705;
}
.porSemaforo input + span:hover, .porGrupo input + span:hover, #porCriterios .nom input + span:hover, #porCriterios .iucn input + span:hover{
  border: 2px solid rgba(153, 23, 5, 0.40);
  border-radius: 25%;
}
#toggleFiltros{
  margin: 10px 0;
}
#porCriterios{
  -webkit-transition: display .3s ease-in-out;
  -moz-transition: display .3s ease-in-out;
  transition: display .3s ease-in-out;
}
#porCriterios label{display: block;}
#porCriterios label.nom, #porCriterios label.iucn {padding: 0px; display: inline-block}
.filtrosUsados{margin: 0 10px;}
.filtrosUsados .label{padding-bottom: 1px;}
.filtrosUsados i:before, .filtrosUsados i:after{font-size: 40px;}

/************************** INICIA INCRUSTACIÓN BUSQUEDAS.CSS ***********************************************/
.resultados-peces, li.active > a {
  font-size: 18px;
}
div.result-img-container{
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  margin: 5px 0px;
  position: relative;
}
.nav:before, .nav:after {
  content: " ";
  display: inline-block;
  padding-bottom: 32px;
}
#resultados-container #busqueda_avanzada, #resultados-container #pestañas{
  float: left;
  position: relative;
  min-height: 1px;
  transition: all .4s cubic-bezier(0.62, -0.93, 0.42, 1.85);
}
#toggleFiltros{
  position: absolute;
  left: -35px;
  top: 100px;
  font-size: xx-large;
}
#toggleFiltros:hover:after{
  font-size: small;
  font-weight: bold;
  padding: 3px;
  color: #333;
  position: absolute;
  bottom: 0%;
  margin-left: 4px;
  white-space: nowrap;
  z-index: 9999;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 2px #030303;
  -webkit-box-shadow: 0px 0px 2px #030303;
  box-shadow: 0px 0px 2px #030303;
  background-color: #fafafa;
}
@media (min-width: 993px){
  #resultados-container.state-one #toggleFiltros:hover:after{content: " Ocultar los filtros de búsqueda";}
  #resultados-container.state-one #toggleFiltros span:before{content: "\e132";}
  #resultados-container.state-two #toggleFiltros:hover:after{content: " Mostrar los filtros de búsqueda";}
  #resultados-container.state-two #toggleFiltros span:before{content: "\e131";}
  #resultados-container.state-one #busqueda_avanzada{
    width: 30%;
    display: block;
  }
  #resultados-container.state-two #busqueda_avanzada{
    width: 0%;
    display: none;
  }
  #resultados-container.state-one #pestañas{
    width: 70%;
  }
  #resultados-container.state-two #pestañas{
    width: 100%;
  }
}
@media (max-width: 992px){
  #resultados-container.state-one #toggleFiltros:hover:after{content: "Mostrar los filtros de búsqueda";}
  #resultados-container.state-one #toggleFiltros span:before{content: "\e134";}
  #resultados-container.state-two #toggleFiltros:hover:after{content: "Ocultar los filtros de búsqueda";}
  #resultados-container.state-two #toggleFiltros span:before{content: "\e133";}
  #resultados-container.state-two #busqueda_avanzada{
    width: 100%;
    display: block;
  }
  #resultados-container.state-one #busqueda_avanzada{
    width: 0%;
    display: none;
  }
  #resultados-container.state-one #pestañas{
    width: 100%;
  }
  #resultados-container.state-two #pestañas{
    width: 100%;
  }
}
/************************** TERMINA INCRUSTACIÓN BUSQUEDAS.CSS ***********************************************/
.resultados-peces{
  text-align: center;
}
.resultados-peces .result-img-container{
  margin: 4px;
  overflow: visible;
  vertical-align: middle;
}
.resultados-peces .result-img-container img, .resultados-peces .icono-resultado-pez{
  max-height: 150px;
  max-width: 225px;
  transition: all .2s ease-in-out;
  vertical-align: middle;
}
.resultados-peces i.icono-resultado-pez {
  transition: all .2s ease-in-out;
  vertical-align: baseline;
  font-size: 8em;
  background: none!important;
  border: 0px!important;
}
.resultados-peces .result-img-container .btn-ficha{
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
.resultados-peces div.result-img-container img:hover, .resultados-peces i.icono-resultado-pez:hover{
  transform:scale(.95);
  -ms-transform:scale(.95); /* IE 9 */
  -moz-transform:scale(.95); /* Firefox */
  -webkit-transform:scale(.95); /* Safari and Chrome */
  -o-transform:scale(.95); /* Opera */
  font-size: 7.75em;
}
.resultados-peces .btn-ficha:hover:after {
  content: 'Click en la imagen para mayor información';
  font-size: smaller;
  font-weight: bold;
  padding: 4px;
  color: #333;
  position: absolute;
  top: 0%;
  left: 0%;
  white-space: nowrap;
  z-index: 9999;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 2px #030303;
  -webkit-box-shadow: 0px 0px 2px #030303;
  box-shadow: 0px 0px 2px #030303;
  background-color: #fafafa;
}

.result-img-container .certificacion-ev-icon, .popover-content .certificacion-ev-icon{
  color: #b98303;
  text-shadow: 1px 1px 1px #fffebf;
}
.resultados-peces .certificacion-ev-icon{
  margin: -15px 0 0 -35px;
  position: relative;
  font-size: 1.35em;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  z-index: 1;
}
.result-nombre-container ul, .popover-content ul {
  list-style: none;
  padding: 0px;
}
.result-nombre-container li, .popover-content li{
  display: block;
  vertical-align: middle;
  height: 40px;
}
.popover{max-width: none; background-color: #ece4e4;}
.popover i:not(.glyphicon-exclamation-sign){font-size: 2.25em;}
.popover i.glyphicon-exclamation-sign{font-size: 1.5em;}
.popover-title{font-weight: bolder; text-align: center;}
.popover-content span:not(.btn-zona-n) b{color: #505050; text-shadow: none;}
.popover-content button{font-size: 1.5em!important;}
.popover a.btn-zona-star{background: none; border-radius: 2em;}
.popover a.btn-zona-star:hover i{color: #444444!important;}
.popover .btn-title + .popover-certificacion, .popover .btn-title + .popover-veda{
  visibility: hidden;
  padding: 5px 10px;
  position: absolute;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #c5c5c5;
  background: #ececec;
  text-align: left;
}
.popover .btn-title + .popover-certificacion{
  color: #b98303;
  white-space: nowrap;
  text-shadow: 1px 1px 1px #fffebf;
}
.popover .btn-title + .popover-certificacion, .popover .btn-title + .popover-veda{
  color: #333333;
  border-radius: 4px;
  margin-top: -20px;
}
.popover .btn-title:hover + .popover-certificacion, .popover .btn-title:hover + .popover-veda{
  visibility: visible;
}
.popover .glyphicon-exclamation-sign{
  font-size: x-large;
  text-shadow: 1px 1px 1px #9e9e9e;
}
.popover .glyphicon-exclamation-sign:hover{
  text-shadow: none;
  color: #666666;
}
.resultados-peces .result-img-container h5{
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
}
.btn-zona{
  display: inline-block;
  background: none!important;
  line-height: 35px;
}
.btn-zona-star{
  background: #DAA621;
  fill: #DAA621;
  color: #DAA621;
  text-shadow: -1px 0px 0px #fafafa!important;
}
.btn-zona-v{
  color: #9ab635;
  background: #9ab635;
  fill: #9ab635;
}
.btn-zona-a{
  color: #ffc42d;
  background: #ffc42d;
  fill: #ffc42d;
}
.btn-zona-r{
  color: #db0510;
  background: #db0510;
  fill: #db0510;
}
.btn-zona-n{
  background: #ece4e4;
  color: #ece4e4;
  fill: #ece4e4;
}
.btn-zona-sn, .popover-content .btn-zona-sn, .filtrosUsados .btn-zona-sn{
  background: #9a9a9a;
  color: #9a9a9a;
  fill: #9a9a9a;
}
/************* SVG Zonas marítimas ****************************/

path{
  display:inline;
  fill-opacity:1;
  fill-rule:evenodd;
  stroke:#666666;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
  stroke-width: .5px;
}

path[id^=path_zonas_]{cursor: pointer;fill: #a0ccea;}
path[id^=path_zonas_]:hover{fill: rgba(160, 204, 234, .59);}
.zona-seleccionada{
  fill: rgba(160, 204, 234, .45)!important;
  stroke: #018dc1 !important;
  stroke-width: .65px!important;
}
#sea-states{fill: #b9da9d;}
#earth-states{fill: #f2ffbd;}
#extranjero{fill: #f0f0f0;}

text[id^=titulo_zonas_], g[id^=titulo_zonas_]{fill: #800000; font-size: .55em; font-weight: bolder; font-style: oblique;}

.caracteristicas_pez, .edo_pob_pez, .img_pez{
  -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
}
.edo_pob_pez h4{
  min-height: 80px;
}
