<%= form_for(@estatuse) do |f| %>
  <% if @estatuse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estatuse.errors.count, "error") %> prohibited this estatuse from being saved:</h2>

      <ul>
      <% @estatuse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
