<%= form_for(@nombre_region_bibliografia) do |f| %>
  <% if @nombre_region_bibliografia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nombre_region_bibliografia.errors.count, "error") %> prohibited this nombre_region_bibliografia from being saved:</h2>

      <ul>
      <% @nombre_region_bibliografia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
