<h1>Listing nombre_regiones_bibliografias</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nombre_regiones_bibliografias.each do |nombre_region_bibliografia| %>
      <tr>
        <td><%= link_to 'Show', nombre_region_bibliografia %></td>
        <td><%= link_to 'Edit', edit_nombre_region_bibliografia_path(nombre_region_bibliografia) %></td>
        <td><%= link_to 'Destroy', nombre_region_bibliografia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nombre region bibliografia', new_nombre_region_bibliografia_path %>
