<div id="grp">
  <div id="sequence"></div>
  <div id="chart">
    <div id="explanation" style="visibility: hidden;">
      <span id="percentage"></span><br/>
      <p id="estadistica"></p>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
      var totalesEstadisticas = <%=raw @totales_estadisticas.to_json %>;
      console.log(totalesEstadisticas);
      start(totalesEstadisticas);
  </script>
</div>

<div id="resultados">
</div>