
<div id="cargando-estadistica">
  <p class="text-center">
    <i class="spin3-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
  <h4>Cargando... Por favor, espera</h4>
  </p>
</div>

<div id="estadistica-listo">
  <div id="grp">
    <div id="sequence"></div>
    <div id="chart">
      <div id="explanation" style="visibility: hidden;">
        <span id="percentage"></span><br/>
        <p id="estadistica"></p>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        var totalesEstadisticas = <%=raw @totales_estadisticas.to_json %>;
        start(totalesEstadisticas);
    </script>
  </div>

  <div id="resultados" class="text-left">
    <h4>El total de taxónes es: <%= @totales %> </h4>
  </div>
</div>


