<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'busquedas/clasificacion/por_clasificacion', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:title) do %>
  <%= @titulo='Explora por clasificación' %>
<% end %>

<div id="dvLoading"><i></i></div>

<div class="col-12 d-flex justify-content-end">
    <% if @taxones.present? && @taxones.length > 0 %>
        <div class="col-12" id="contenido-checklist">
            <%= dameArbolInicial %>
        </div>
    <% end %>
</div>

