.loading-bar {
	padding: 10px 20px;
	border-radius: 5px;
	margin: 20px 0;
	font-size: 1em;
	font-family: "museo-sans", sans-serif;
	margin-right: 1px;
	font-weight: bold;
}

.resultados_scroll h1 {
	font-family: "chaparral-pro", sans-serif;
	color: #444;
	font-size: 4.2em;
}

.resultados_scroll h1 a {
	color: #444;
	text-decoration: none;
}

.resultados_scroll p {
	font-size: 2em;
	line-height: 1.7em;
	font-family: "museo-sans", sans-serif;
	text-align: justify;	
}

.resultados_scroll hr {
	border-bottom: 1px solid #eee;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}


#travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-variant: normal;
	text-decoration: none;
}

#travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
	font-size: 1.5em;
}