<div class="justify-content-end row mb-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to('Lista de catálogos', admin_catalogos_path, class: 'dropdown-item') %>
         

            <% if @admin_especie_catalogo.present? && !@admin_especie_catalogo.new_record? %>
            <%= link_to('Eliminar', admin_especie_catalogo_path(@admin_especie_catalogo), class: 'dropdown-item', data: { confirm: 'Al eliminar la asociación se eliminarán también las bibliografías y regiones asociadas, ¿estás seguro?', method: :delete }) %>
            <% end %>
        </div>
    </div>
</div>