<h1>Listing regiones_mapas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regiones_mapas.each do |region_mapa| %>
      <tr>
        <td><%= link_to 'Show', region_mapa %></td>
        <td><%= link_to 'Edit', edit_region_mapa_path(region_mapa) %></td>
        <td><%= link_to 'Destroy', region_mapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region mapa', new_region_mapa_path %>
