<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">

<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <%= stylesheet_link_tag 'descripcion_app', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <section id="content" class="container-fluid">
        <div class="row main m-4">
            <%= yield %>
        </div>
    </section>

</body>

</html>