<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">

<head>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
	<title>Guía de especies</title>
	
	<%= wicked_pdf_stylesheet_link_tag 'application_guias' %>
	<%= wicked_pdf_stylesheet_link_tag 'busquedas/region/especies.pdf' %>
</head>

<body>
<%= yield %>
</body>
</html>