<h1>Editar la categoriasContenido del Rol</h1>

<%= render 'form' %>

<p class="text-right">
  <%= link_to 'Ver la categorias_contenido del rol', @rol_categorias_contenido %> | <%= link_to 'Regresar al listado', roles_categorias_contenido_path %>
</p>